[2013-06-11 21:10] veged opened #1 "Recursion without `!this.elem` autopredicate"
Test template:

[code]

Test data:

[code]

Test expect result:

[code]

[2013-06-11 21:46] veged opened #2 "Syntax sugar for `applyCtx` with old `thix.ctx` inside"
We need some syntax sugar for cases like that:

[code]

With `applyCtx` sugar for assignments it can be written like that:

[code]

but we still need something for guard `!this._wrapped`.

[2013-06-12 13:11] #1 closed, assigned to indutny

[2013-07-03 06:52] #2 closed, assigned to indutny

[2013-07-12 09:52] veged opened #3 "Fix for elem predicate autoinsertion"
The idea about some fix for problem with dev runtime and autoinsertion of elem subpredicate. We can add `.elemMatch` for using instead of `.match` in cases when we need custom predicate about elem. So this will allow as for determine difference between custom predicates about elems and other in dev runtime.

[2013-07-24 20:51] #3 closed, assigned to indutny

[2013-08-15 17:04] narqo opened #4 "Couldn't make a recursive call for BEMHTML.apply() inside bemhtml-template"
\cc @veged

We need to have an opportunity to invoke `exports.apply` inside templates which will be part of BEHTML APIs.

Something like `BEMHTML.apply()` in example:

[code]

See https://github.com/bem/bem-components/pull/149#commitcomment-3867291 for more examples

[2013-08-22 10:06] #4 closed, assigned to indutny

[2013-10-07 10:07] tadatuta opened #5 "Add shortcut for elemMod matcher"
http://clubs.ya.ru/bem/replies.xml?parent_id=3840&item_no=3815&with_parent=1#reply-bem-3840

[2013-10-07 10:24] #5 closed, assigned to indutny

[2013-12-09 20:15] tadatuta opened #6 "Add jsdoc for api methods"
@indutny Please provide jsdoc for api methods

[2013-12-12 09:41] tadatuta opened #7 "Add wrapper to export BEMHTML"
По мотивам https://github.com/bem/bem-core/pull/330#issuecomment-30326029 перенести [код про оборачивание результатов компиляции](https://github.com/bem/bem-core/blob/feature/329%40v1/.bem/techs/bemhtml.js#L58-L75) в `bem-xjst`.

[2013-12-19 09:29] #7 closed, assigned to indutny

[2014-01-02 15:27] dypsilon opened #8 "Reference Docs"
Please provide a reference documentation on how to write templates, what is the difference between bem-xjst and xjst and so on.

[2014-01-03 14:44] #8 closed, assigned to nobody

[2014-03-27 07:56] tadatuta opened #9 "Make prod mode compilation fail when it'd fail in dev mode"
Now in production mode it's possible not to wrap templates body into js function. But it fails in dev mode. It'd be great to make it consistent so compilation in production mode should fail as well.

// cc @veged

[2014-03-28 13:46] #9 closed, assigned to indutny

[2014-03-31 13:57] narqo opened #10 "AssertionError: "MemberExpression" == "ObjectExpression""
_Using bem-xjst @ 0.6.0_

The same template (bellow) compiles fine in dev mode, but fails when compiling with `optimize: true`.

Template:

[code]

Generator:

[code]

The full stacktrace:

[code]

[2014-04-01 14:54] #10 closed, assigned to indutny

[2014-05-01 23:26] tadatuta opened #11 "Remove ometa from deps"
It seems that there's no use of `ometa` anymore so it can be safely removed from package.json?

[2014-05-02 17:38] #11 closed, assigned to indutny

[2014-05-03 19:03] narqo opened #13 "Use fat arrow syntax for matchers and templates"
_As some kind of theoretical thought about current BEMHTML's JS-syntax_

Why not to use ES6's arrow functions in our templates? We could pass `BEMContext`'s instance as a first parameter of templates body (`bem` parameter in the example below) instead of using `this` keyword.

For example our bem-components' [`button` template][1] could look like this

[code]

[1]: https://github.com/bem/bem-compo

[2014-08-22 20:31] tadatuta opened #18 "Throw error if elemMatch is called without params"
Please refer https://github.com/bem/bem-forum-content-ru/issues/37 for more info.

[2014-09-09 18:01] jifeon opened #19 "Verbose output for compilation errors"
I have a bemhtml file with following content:
[code]
When I build my project in the production mode I get an error:
[code]

It's really impossible to guess what the file I should fix for successful build. Could you provide more verbose output with the bemhtml file name?

[2014-11-13 13:54] collapsus opened #20 "Дебаг режим в шаблонизатор со стэк-трэйсом"

[2014-12-03 11:17] hcodes opened #21 "Ошибка при доступе к переменной из функции декларации"
[code]
После компиляции:
[code]

Если в шаблоне var x поднять выше function a(), то все ок.

[2015-01-22 16:49] veged opened #22 "Add `replace` mode as short-cut for `def()(function() { applyCtx(...) })`"
We can introduce short-cut for cases like:
[code]
[code]

Moreover, we can make short-cut for another common case:
[code]
[code]

cc @dfilatov @narqo @mishanga

[2015-02-01 06:43] zxqfox opened #25 "Why we cant make `mod` possible to call with 1 argument?"
As a shortcut for `match(this.ctx.mods[args[0]])`

Atm:
[code]

Throws
[code]

[2015-02-24 13:40] vkz opened #26 "Inliner ignores iif inside while statements"
[code]
Immediately invoked functions inside `while` don't get inlined.

[2015-04-01 18:47] indutny commented on #26
Should be fixed by https://github.com/veged/xjst/pull/42, @vkz : please review.

[2015-04-08 10:06] indutny opened #28 "Implement `mix` mode in base template"

[2015-04-08 10:09] indutny opened #29 "Support custom predicates"
n/t

[2015-04-08 10:09] indutny opened #30 "Elem mod, block mod support"
Use it as a key to entity hashmap?

[2015-04-08 10:14] indutny commented on #30
Potentially, we could have sub-trees and ModeMatch could link to each other using `.next` property.

[2015-04-08 10:14] indutny opened #31 "Verify base template integrity"
Check that base template is the same in bem-core and bem-xjst.

[2015-04-08 10:15] indutny opened #32 "Benchmark and test on bem-components"
n/t

[2015-04-08 10:16] indutny opened #33 "Port over `extend` and various utility methods to the `Context` class"
n/t

[2015-04-08 10:17] indutny opened #34 "Set `Context.elem`, `mods`, `elemMods`"
Context already has `block` property, and it should have others too.

[2015-04-08 10:18] indutny opened #35 "Implement `.renderNoTag`"
n/t

[2015-04-08 10:20] indutny opened #36 "Try creating inlined functions on the fly for the Entity"
n/t

[2015-04-08 10:23] indutny opened #37 "Custom modes"
* Support custom modes
* Support `apply('mode')`

[2015-04-08 10:27] indutny commented on #28
Port the code from `i-bem`.

[2015-04-08 10:27] indutny commented on #35
Port from `i-bem`.

[2015-04-08 10:32] indutny opened #38 "Add support for rendering non-BEM html"
n/t

[code]

[2015-04-20 09:41] #29 closed

[2015-04-20 09:50] #30 closed

[2015-04-20 09:50] indutny commented on #34
Done `mods`, `elemMods` as a part of 298d2e2f042f440030ec1011f064fa9b1343ecb2

[2015-04-20 13:16] #37 closed

[2015-04-20 14:16] indutny commented on #34
Should be restored with something similar to a40cf34

[2015-04-20 14:35] indutny commented on #33
https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemhtml#L184

[2015-04-20 15:06] indutny commented on #34
@vkz I'm taking this issue ;)

[2015-04-20 15:27] #34 closed

[2015-04-20 15:27] indutny commented on #38
Working on this atm.

[2015-04-20 15:37] #38 closed

[2015-04-20 16:37] indutny opened #39 "Implement `oninit()`"
n/t

[2015-04-27 18:04] indutny commented on #35
Fixed in 5462a46

[2015-04-27 18:04] #35 closed

[2015-04-27 18:16] #33 closed

[2015-04-27 19:25] #28 closed

[2015-04-27 20:16] #39 closed

[2015-04-27 20:18] indutny opened #40 "Push html to `this._str`"
Right now it is taken from the return values, but should be probably in `this._str` for compatibility reasons.

cc @veged: how necessary is this?

[2015-04-27 22:49] indutny commented on #32
showcase done: https://gist.github.com/indutny/d4b83e1bc5277bbffcd8

Results:

[code]

Looking good so far.

[2015-04-27 22:49] indutny commented on #32
Other pages should be tested too.

[2015-04-27 22:51] indutny commented on #32
Oh, also. There are some differences between `next.bemhtml` and `prev.bemhtml` at the moment.

Summary of them:

* Always return content from template bodies (see https://github.com/bem/bem-xjst/issues/40)
* `match(this.ctx.prop)` does not work anymore
* `apply({ ... })` should be replaced by `local({...})(function() { return apply(); })`

[2015-04-28 12:21] veged commented on #40
we use it for flushing/streaming content

[2015-04-28 12:27] indutny commented on #40
@veged: I know, but this is now what I meant. Current 2.x implementation does this stuff in a following way:

[code]

Strictly speaking, this is much more clear than (old i-bem):

``javascript
block('b1').def()(function() {
  this._str += '<div>';
  applyNext();
  this._str += '</div>';
});
[code]

[2015-04-28 12:29] veged commented on #40
but what we gonna do with `apply*` cals? not all of `.def()` templates returning value, some redefines just call `applyNext`

[2015-04-28 12:30] indutny commented on #40
Why not require them to return a value now?

[2015-04-28 12:30] veged commented on #40
we need to do like that:
[code]

but right now we do just:
[code]

[2015-04-28 12:32] indutny commented on #40
Yes, exactly. Can we change this, and/or ask people to change it? Seriously, the internal implementation will be much simpler this way (and probably faster).

[2015-04-28 12:40] veged commented on #40
ok — let's suppose we can do this in v2

[2015-04-28 12:44] indutny commented on #40
great! :)

[2015-04-29 20:27] apsavin opened #41 "An mistake in the wrap method?"
I think, instead of
[code]

we should use

[code]

because now we force users of bemhtml/bemtree to use global variables in node.js context.

[2015-04-29 21:06] tadatuta commented on #41
@apsavin's proposal in diff format:
[code]

[2015-04-29 21:09] tadatuta commented on #41
this change will break backward compatibility.
maybe we'd better provide build options for user to choose?
// cc @blond

[2015-04-29 21:10] apsavin commented on #41
@tadatuta exactly, thanks.

If you don't want to break backward compatibility, you can just check `typeof` of provided deps and if they are in the global scope - export `BEMTREE` in node.js way, if not - in ym modules way only.

[2015-05-05 15:28] indutny commented on #32
Benchmark of bem-components/desktop.pages/index : https://gist.github.com/indutny/32d3206017302d306fab

Results:

[code]

Fantastic!

[2015-05-05 16:02] indutny opened #42 "Support `context.reapply()`"
n/t

[2015-05-05 16:05] indutny opened #43 "Fix `mods` propagating to the content"
n/t

[2015-05-05 16:09] indutny opened #44 "Support templates for wildcard-block."
n/t

[2015-05-05 16:19] indutny commented on #32
Here are the timings for blown-up (16x times bigger content of `bem-components/desktop.pages/index`):

[code]

cc @veged

[2015-05-05 16:46] #43 closed

[2015-05-05 17:32] narqo commented on #32
@indutny can you add info about the version of node.js / io.js that you'd been tested with.

We've made a small research about the speed of current version of bem-xjst / bh and it turned out, that the results differ greatly (up to 150%) if we measure the same templates on 0.10/0.12 and io.js1.8

[2015-05-05 21:01] indutny commented on #32
@narqo looks similar:

node.js v0.10.36:

[code]

io.js v2.0.0:

[code]

[2015-05-05 21:11] #42 closed

[2015-05-05 21:27] narqo commented on #32
Hm, here is your gist (but with `next=false`) run on my machine:

[code]

[2015-05-06 14:48] indutny opened #45 "Support local changes in `applyCtx`"
n/t

[2015-05-06 15:06] indutny opened #46 "Support adding templates at runtime"
(Should also work with reimplemented and intersecting templates, i.e. with the same block).

[2015-05-06 15:12] #22 closed

[2015-05-06 15:23] indutny commented on #40
**THIS IS REQUIRED FOR FLUSHING/STREAMING**

Could be possibly skipped in case where we don't need to flush/stream things. So templates should use `return` with `applyCtx()` anyway.

[2015-05-06 15:26] indutny commented on #31
bem-components appear to be building properly, as we have verified in the benchmarks. The output HTML is *exactly* the same between old bem-xjst and 2.x version.

[2015-05-06 15:26] #31 closed

[2015-05-06 15:28] indutny opened #47 "Benchmark on large real projects"
Find out the numbers for different number of templates:

* Small (10-20)
* Medium (~100)
* Awfully big (> 1000)

[2015-05-06 15:28] #32 closed

[2015-05-06 15:29] indutny opened #48 "Add benchmarks to repo"
see https://github.com/bem/bem-xjst/issues/32 for some of the templates that could be used.

[2015-05-06 15:29] indutny commented on #47
Also, don't forget to benchmark the compilation time itself.

[2015-05-06 15:36] indutny opened #49 "Debug information, asserts, `include`"
- Keep information about input source files (there could be multiple of them) #108 #136
- Consider adding `include`
- `lint` mode? With assertions for popular mistakes: https://github.com/bem/bemhint/issues/56
  - `.tag().def().content()`
  - `.def()(function() { /* forgot to return */ applyCtx({ ... }) })`
  - `block('b1')(tag()('a'))` should be `block('b1').tag()('a')`

[2015-05-06 15:40] indutny commented on #49
Instead of `include` we could introduce sourcemap argument.

[2015-05-06 15:42] indutny commented on #49
Asserts should use sourcemap to report errors in particular files.

[2015-05-07 17:09] indutny opened #50 "Support `applyCtx(ctx, changes)`"
Does not seem to work in production mode of bem-xjst 1.0.0.

cc @veged

[2015-05-08 21:48] tadatuta opened #51 "Require of absent bundle file"
In **2.x** branch

Here https://github.com/bem/bem-xjst/blob/2.x/lib/bemhtml.js#L8 it waits for `bundle`, which is absent at https://github.com/bem/bem-xjst/tree/2.x/lib/bemhtml/runtime.

And as there's https://github.com/bem/bem-xjst/commit/3838318f3dcbb1b6d69bb4c76e3400a2a848c38b, it was done on purpose.

[2015-05-08 22:41] indutny commented on #51
@tadatuta it fills automatically on `npm publish` or `make`.

[2015-05-08 22:41] indutny commented on #51
I'd rather not commit it to the repo, because of the "diff-noise".

[2015-05-08 23:46] #51 closed

[2015-05-08 23:48] tadatuta opened #52 "Compiled template fails on require"
In `2.x` branch `require('./desktop.bundles/index/index.bemhtml.js');` results in
[code]
but `vm.runInContext()` works.

[2015-05-08 23:55] tadatuta opened #53 "Get rid of BEMHTML name in bem-xjst as there's also BEMTREE"
cc @veged

[2015-05-09 14:09] tadatuta opened #54 "Implement BEMTREE support"

[2015-05-09 17:35] tadatuta opened #55 "Option for custom naming"
Provide possibility to pass own naming scheme, e.g. with `bem-naming`

// cc @veged

[2015-05-10 17:38] indutny commented on #52
Fixed in 04666ca, thank you!

[2015-05-10 17:38] #52 closed

[2015-05-10 20:09] tadatuta opened #56 "Incorrect processing of mixes"
In `2.x` branch for BEMJSON
[code]

and template
[code]
the result is
[code]

Expected
[code]

[2015-05-11 17:56] apsavin commented on #41
Do you want a PR?

[2015-05-11 18:05] tadatuta commented on #41
@apsavin I'm not sure I understand the way you want to handle backward compatibility.
But if it'll be really so, why not ;)

[2015-05-12 11:40] veged commented on #53
sounds reasonable — but isn't it already parametrised?

[2015-05-12 16:38] tadatuta commented on #53
I mean in general `:%s/bemhtml/bemxjst/g` everywhere in `bem-xjst`.

[2015-05-19 14:57] indutny commented on #56
Landed in ef0659d, thank you!

[2015-05-19 14:57] #56 closed

[2015-05-23 21:46] tadatuta opened #57 "replace() works wrong when grouped by predicate"
**Branch 2.x**
[code]
works fine (result is a string `<div class="b2"></div>`) but
[code]
doesn't apply templates on new context (result is an object `{ block: 'b2' }`).

[2015-05-23 22:02] tadatuta opened #58 "replace(), extend(): Support non-function args"
Now `replace()` expects only function as an argument but it'd be useful to support strings, arrays, objects, etc as it is possible with `applyCtx()`.

And the same for `extend()`.

[2015-05-23 22:20] tadatuta opened #59 "replace(): ctx is unavailable"
Now `ctx` is unavailable inside `replace()`.

Consider use case:
[code]

It's impossible to rewrite it with `replace()`.

[2015-05-24 19:44] tadatuta opened #60 "[2.x] Port support for mixes as strings"
Please refer https://github.com/bem/bem-core/commit/6e1fcd62c71fe40aeede1e7f629c10a4a0656680 for details

[2015-05-28 19:00] indutny commented on #60
Implemented in 28cd780, thank you!

[2015-05-28 19:00] #60 closed

[2015-05-28 19:05] indutny commented on #59
Fixed in d9fa30d, thank you!

[2015-05-28 19:05] #59 closed

[2015-05-28 19:10] indutny commented on #57
Fixed in 21c05beaa8c31897334a77794b356978e42d3043, thank you!

[2015-05-28 19:10] #57 closed

[2015-05-28 19:35] indutny commented on #58
Fixed in 2f89bf6

[2015-05-28 19:35] #58 closed

[2015-05-28 22:01] indutny commented on #45
Fixed in ad085de

[2015-05-28 22:01] #45 closed

[2015-06-02 13:41] apsavin commented on #41
@tadatuta can you please take a look on PR #61 ?

[2015-06-02 14:13] blond commented on #41
@apsavin, we plan to change way to require dependencies in `enb-bemxjst` — https://github.com/enb-bem/enb-bemxjst/issues/61. What do you think about this?

[2015-06-02 14:50] apsavin commented on #41
To be honest, I think that #61 is all what I need.
I don't like `this.lib.blah` way to use templates deps. Templates is the place where I don't want to write too much.

1. I don't think it's a problem. Why do you want to use BEMHTML/BEMTREE from global scope?
2. Will be fixed after #61 will be merged
3. Sorry, can't get it(

[2015-06-02 20:42] blond commented on #41
We are about to get variables from global scope optional for CommonJS or YModules.

No, this PR provides an opportunity to get module from global scope if use CommonJS, but there is no way to use `require('path/to/module')`.

It is that the template used variables that are taken from nowhere: https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemtree#L1

Can you suggest how to write

[2015-06-03 06:27] apsavin commented on #41
well, `this.libs.vow` sounds better than `this.vow`.

But I don't thinks it's too bad to declare something as global variable for templates. All templates - BEMHTML, for example - is just one ym-module with some deps. Of course, those deps are "global" for the module. I can say more, I see almost no difference between global variables in this.libs and global variables just in the scope. I think, w

[2015-06-15 09:51] scf2k opened #62 "Broken code in production mode"
[code]

Does not work because of minus in `i-global`

[2015-06-17 12:08] vkz commented on #62
do u know where this i-global is coming from? Can I see the templates u're compiling, pls. Need more context.

[2015-06-17 12:45] vkz commented on #62
@indutny fyi

it seems that compiler handles context arg to `applyNext` incorrectly, i.e. doesn't check if the prop name can syntactically be used as direct look up on the object:

[code]

compiles into:
[code]

[2015-06-17 13:01] indutny commented on #62
Should be fixed with xjst@1.5.1 . Thank you for reporting it!

[2015-06-17 13:01] #62 closed

[2015-06-18 10:19] arikon opened #63 "this does not contain special fields like block, elem, mods, elemMods"
Compiled in production mode template is

[code]

The output is:

[code]

The problem is in the second block of console.log()'s. `__$ctx`, that is passed as a context to the `map()` does not contain special fields like `block`, `elem`, `mods`, `elemMods`.

[2015-06-18 10:35] arikon commented on #63
Full template source

[code]

[2015-06-18 10:39] vkz commented on #63
@indutny appears that `Compiler.prototype.replaceContext = function replaceContext(ast) {` in `bem-xjst` doesn't go deep enough to replace `this.block` and friends with globals `$$block` etc. Should it though?

[2015-06-18 10:40] vkz commented on #63
or should we also have those fields available in `__$ctx`?

[2015-06-18 10:46] arikon commented on #63
I thinks it should be better to extend `__$ctx` with `block` and friends. Because not all `this.block` expressions in the nested code blocks would mean `.block` from the template context.

[2015-06-18 10:49] vkz commented on #63
@arikon is right, no telling what nested functions could referencing with `this.block`

[2015-06-18 11:03] vkz commented on #63
@indutny so my guess would be that the culprits are `rollOutApply` and friends that generate:
[code]

the result is that the most recent context is in the globals, but not in the `__$ctx` passed to `__$r__$75 = applyc(__$ctx, __$ref);`.

[2015-06-18 11:20] arikon commented on #63
It also should be possible to do

[code]

For now it outputs `undefined`.

[2015-06-18 11:41] vkz commented on #63
actually it's the combination of `rollOutLocal` in `xjst` which generates the above code with `__$ctx.block` etc in the assignments, so the context is presevrved, but then `replaceContext` in `bem-xjst` compiler renames the `__$ctx.block` etc so that `__$ctx` passed to `applyc` doesn't reflect proper context.

[2015-06-18 11:44] arikon opened #64 "this is not replaced by __$ctx in custom predicates in production mode"
Template (see the last template):

[code]

Compiled to (a part of):

[code]

The problem is in the `undefined === this.ctx.content` that should be `undefined === __$ctx.ctx.content`.

The error during templates apply is: `TypeError: Cannot read property 'content' of undefined`

[2015-06-18 12:11] vkz commented on #64
found a fix, will pr shortly

[2015-06-18 15:10] arikon commented on #64
@indutny This fix works https://github.com/veged/xjst/issues/45

[2015-06-18 15:20] indutny commented on #63
`var this_ = this;` won't work, we have fixed most of the places where it was used. It is not a legal way to fetch variables from the context, I'm afraid.

[2015-06-18 15:20] indutny commented on #63
I have just pushed out xjst@1.5.1 with vkz's fixes, going to figure out what should be done here to make it work.

[2015-06-18 15:29] indutny commented on #64
Great, released in xjst@1.5.2

[2015-06-18 15:31] indutny commented on #63
And xjst@1.5.2 with all of the fixes.

[2015-06-18 15:32] indutny commented on #63
Anyway, for now I propose to store `var block = this.block;` outside of the `map`'s function to make it work. Does it make sense? Is there any other problem that should be fixed?

[2015-06-18 15:34] arikon commented on #63
@indutny It is not obvious for the js developer, I guess =(

[2015-06-18 15:36] arikon commented on #63
Updated `xjst` to `1.5.3`, all the tests are passing except the ones that relates on this issue.

[2015-06-18 15:43] indutny commented on #63
Yeah, this is unfortunate semantics that we are bound to: `this.x = 1` does not work and `_this.x` does not work properly either. Working on the "proper" fix for the `map` thing, may make `_this` work too.

[2015-06-18 15:52] vkz commented on #63
First step that could help @indutny have a look pls https://github.com/vkz/xjst/commit/636be9b7e28b646656613c98acd207105b19cf75

[2015-06-18 15:52] #64 closed

[2015-06-18 15:53] indutny commented on #63
@vkz I'm afraid this will come with a performance penalty. Though, the fix that I am working on atm is a bit similar to yours in some sense.

[2015-06-18 15:57] vkz commented on #63
@indutny no sweat :) just wanted to know if I was thinking in the right direction. More than happy for you to save the day hehehe

[2015-06-18 16:37] indutny commented on #63
Actually, I felt a de ja vu here :) Looks like I already did it for bem-bl. May I ask you to give a try to https://github.com/bem/bem-xjst/pull/65 ?

[2015-06-29 11:26] arikon opened #66 "Empty templates throw in production mode, but do not throw in devMode"
Compiled production templates:

[code]

Compiled `devMode` templates (no `return $e(__$ctx)` call in `applyc()`):

[code]

[2015-06-29 18:43] indutny commented on #66
I guess they should be throwing in both modes, is this what you expect it to do?

[2015-07-02 09:05] arikon commented on #66
@indutny Yes

[2015-07-02 09:06] arikon commented on #66
I'm proposing more descriptive error also. I've spent some time to find the cause of the error.

[2015-07-03 22:57] indutny commented on #66
Alright, did it in 3a2fe34. Please give it a try, will release it as soon as I'll have some feedback ;)

[2015-07-04 11:08] arikon commented on #66
@indutny Could you give a link to the branch?

[2015-07-04 16:48] indutny commented on #66
It is in master of xjst: https://github.com/veged/xjst

[2015-07-06 08:44] apsavin opened #67 "Support includes for dev development"
We have dev mode now, which is pretty useful for debugging. But we can go further. Can we support includes?

Pros:
- no need to rebuild `bundle.bem{tree|html}.js` if no new files were created, only existing changed
- sweet debug messages and errors' stack traces

Cons:
- More complex code, yet another feature that needs support

cc @veged @indutny @tadatuta

[2015-07-07 10:06] veged commented on #67
we gonna do something like this in [v2](https://github.com/bem/bem-xjst/tree/2.x)

[2015-07-07 10:06] #67 closed

[2015-07-17 17:30] indutny commented on #66
Fixed!

[2015-07-17 17:30] #66 closed

[2015-07-22 12:54] tormozz48 opened #68 "Check for existence of base templates does not work for development mode"
Hello.

Now I'm working on task https://github.com/enb-bem/enb-bemxjst/issues/60.
I have used this way for check the existence of base templates.

[code]

But it seems that this works only for production mode.
I need to have this validation for development mode too.

Please help for resolve this issue.

@blond @tadatuta @veged

[2015-07-22 21:45] tadatuta opened #69 "Handle undefined as mix"
`bem-xjst` should handle `undefined` mixes as if there's just none. Otherwise templates fail here: https://github.com/bem/bem-xjst/blob/2.x/lib/bemhtml/runtime/index.js#L434 with `TypeError: Cannot read property 'block' of undefined`.

// cc @arikon @veged

[2015-07-22 22:04] indutny commented on #44
Implemented in 6d7606f

[2015-07-22 22:04] #44 closed

[2015-07-22 22:06] indutny commented on #69
Hm... isn't it a bug of the code that generates `mixes` array? How do they come there?

[2015-07-22 22:11] tadatuta commented on #69
Maybe you are right but current stable version of bem-xjst handles it.

Here's one of the real life examples: https://nda.ya.ru/3Qr5ao

[2015-07-22 22:16] indutny commented on #69
I guess we can handle it as well... I'm just a bit concerned about the performance of things, every extra check contributes negatively to it.

[2015-07-22 22:17] indutny commented on #69
Fixed in b9ff3cb

[2015-07-22 22:17] indutny commented on #69
Thank you!

[2015-07-22 22:17] #69 closed

[2015-07-23 00:32] indutny commented on #48
Fixed in 8d05d9a

[2015-07-23 00:32] #48 closed

[2015-07-23 01:18] indutny commented on #40
Proposed implementation is here: 51dee47 . No performance regression without `_flush`, and with it.

[2015-07-23 01:33] indutny commented on #47
@vkz we have base for this in the project file tree now. Check out `benchmarks/` folder ;)

[2015-07-23 08:27] indutny commented on #40
Looks like it isn't done:

[code]

[2015-07-23 08:50] veged opened #70 "Document difference for template authors between 1.x and 2.x"
- [x] `return applyNext()` in `def` mode is required now
  - [x] `this._flush` for streaming purposes
  - [x] helpers finally fully move from `this._.*` to `this.*`
  - [x] no more possibilities to use empty mode (`mode('')`)
  - [x] no more possibilities to use templates without `block` subpredicate — use wildcard `block('*')`
  - [x] ???

[2015-07-23 08:59] indutny opened #71 "Reset applyNext for 2.x"
n/t

[2015-07-23 19:23] #71 closed

[2015-07-23 20:40] indutny commented on #40
Test case fixed in 678e33e. However a bigger question remains.

Particularly, block `page` overrides `def()` mode, making this `_flush` feature useless.

Second question is speed: current implementation of `_flush` slows things by 2-5% with disabled `flush`. If there won't be resolution for the block `page` - we should consider removing this feature on initial release.

[2015-07-23 21:51] indutny commented on #40
And this is done in:

fccd9d4

[code]

Doesn't look like significant regression in `_flush`. I guess it should be fine to release 2.x with this feature ;)

[2015-07-23 21:51] #40 closed

[2015-07-23 22:30] indutny commented on #46
Done, slows compilation down by 7%.

[2015-07-23 22:30] #46 closed

[2015-07-23 23:02] #70 closed

[2015-07-24 10:56] veged commented on #68
there is a error catching for everything — https://github.com/veged/xjst/blob/3a2fe343c9856fe4a163bd3d07b194350c41211b/lib/xjst/compiler/base.js#L109

we need to add some filter so our particular errors can be thrown up — since it was introduce for proper work of `match(this.my.custom.match)` we can add some check like `e instanceof TypeError`

i.e.
[code]

@tormozz48 do you wanna make PR? ;-)

[2015-07-26 00:47] tadatuta opened #72 "Mix of a block to it's own elem fails"
Default tempaltes with following BEMJSON
[code]
result with `<div class="b1__e1"></div>` but `<div class="b1 b1__e1"></div>` expected.

cc @indutny

[2015-07-26 02:54] tadatuta opened #73 "Arbitrary ctx for custom modes"
Is there still a way to do something like this:
for BEMJSON
[code]
and template
[code]
?

[2015-07-26 03:37] tadatuta opened #74 "default mode inconsistency between versions"
For BEMJSON `{ block: 'b1' }` and
[code]
with `bem-xjst 1.x` results in an empty string and with `bem-xjst 2.x` in `'undefined'`.

That's not a big issue but if it's easy to fix on `bem-xjst` side I think it'd be convenient.

// cc @indutny @veged

[2015-07-26 04:00] tadatuta opened #75 "this.elemMods inconsistency between versions"
[code]
with `bem-xjst 1.x` is ok even for elems without any modifiers and fails on `bem-xjst 2.x` with `TypeError: Cannot read property 'interactive' of undefined`

So it looks like `elemMods` is not explicitly created.
Not sure if it should be fixed.

// cc @veged @indutny

[2015-07-26 04:09] tadatuta opened #76 "Do not generate empty div on empty BEMJSON"
`bem-xjst 2.x` with default templates results with `<div></div>` for `undefined` or empty string as a BEMJSON but empty string expected.

[2015-07-26 11:21] tadatuta opened #77 "Provide better way for debug"
Now any bug in templates with `bem-xjst 2.x` results with stack trace pointing to
[code]
which is kinda useless.

[2015-07-27 04:38] indutny commented on #74
@tadatuta `def()` mode is required to return string now. It works in completely different way internally, and there was no such requirement in 1.x version.

See: https://github.com/bem/bem-xjst/wiki/Notable-changes-between-bem-xjst@1.x-and-bem-xjst@2.x for more info.

[2015-07-27 04:43] indutny commented on #73
Fixed in 5a26b32, thanks!

[2015-07-27 04:45] indutny commented on #76
Fixed in 6c5020251431e37955e0de43874c812b8a98c09c

[2015-07-27 04:45] #76 closed

[2015-07-27 04:47] indutny commented on #75
This was done for performance reasons, creating empty `elemMods` per each block is potentially expensive. cc @veged

[2015-07-27 04:57] indutny commented on #72
Fixed in 861beb1

[2015-07-27 04:57] #72 closed

[2015-07-27 04:57] indutny commented on #77
Yeah... it is terrible. Let me see if I can improve it...

[2015-07-27 05:03] indutny commented on #77
Fix is here: 4cc90a0 . It will get better a bit ;)

[2015-07-27 05:05] indutny commented on #77
Also, released everything in `3.0.0`, because I broke backwards compatibility while removing `.apply.call(...)`.

[2015-07-27 05:05] #77 closed

[2015-07-27 08:29] tadatuta commented on #74
@indutny will additional check for `undefined` to return empty sting for such case do any harm?

[2015-07-27 08:37] indutny commented on #74
@tadatuta it might.

[code]

Will return empty string instead of `applyNext()` result. I think it is probably better to require users to return string value. This way we will be sure that everyone has caught up to our changes.

[2015-07-27 09:43] tadatuta commented on #74
Sounds reasonable, thanks!

[2015-07-27 09:43] #74 closed

[2015-07-27 12:59] veged commented on #75
we doesn't need to do it for each __block__, just for each __element__

also we can add `elemMods = {}` to `BEMContext.prototype` and override it when entering to element with own `elemMods`

[2015-07-28 17:52] indutny commented on #75
@veged I'm -1 for doing for each element, but definitely will do it at the BEMContext init.

[2015-07-29 00:42] indutny commented on #75
Fixed in 56d9d5f. Thanks!

[2015-07-29 00:42] #75 closed

[2015-07-29 10:07] tormozz48 commented on #68
I have tested enb-bemxjst package with forked bem-xjst and xjst dependencies which contains fix from above. It seems that all is OK.

@blond @tadatuta @veged

We need to:
* merge https://github.com/veged/xjst/pull/48
* publish new version of xjst package
* publish new version of bem-xjst package (v1.0.4 maybe)

[2015-07-30 13:58] #68 closed

[2015-07-31 19:12] tadatuta commented on #73
I found out that there's still inconsistency in a way how it works in `bem-xjst` < 2.0:
For BEMJSON `{ block: 'b1' }` and templates
[code]
there will be `<div class="b1">in b1</div>` but `<div class="b1">in b2</div>` expected.

[2015-07-31 19:51] indutny commented on #73
@tadatuta I think it was our initial plan to make it behave slightly different for performance reasons. What is your use case, is there any workaround for it?

[2015-07-31 19:59] tadatuta commented on #73
Looks like there's no backward-compatible workarounds. Current use case is kinda global block which provides modes to be called from other blocks.
If support for such possibility is performance heavy we'll think if we can drop compatibility in this case.

[2015-07-31 20:05] indutny commented on #73
It could be implemented, but with the price of performance. Let's close this for one, and reopen and do minor version bump if there would be serious issues about it. Thanks!

[2015-07-31 20:05] #73 closed

[2015-07-31 21:04] tadatuta opened #78 "Throw for wrong mode usage"
Now for template
[code]
nothing is happen and it's quite hard to understand what's wrong with the code.

[2015-08-01 00:57] tadatuta opened #79 "0 is treated as empty string"
`block('b1').content()(0);` results with `<div class="b1"></div>` but `<div class="b1">0</div>` expected.
`block('b1').content()('' + 0);` works fine though.

[2015-08-01 01:40] tadatuta opened #80 "this.mods is kept down the tree"
For BEMJSON `{ block: 'b1' }` and template
[code]
result is
[code]
but
[code]
expected.

[2015-08-01 01:42] indutny commented on #80
You have to use `local`. And yeah, it is this way at the moment.

I'll do benchmarks to see if creating `mods` for each block will be much slower than what we have now.

[2015-08-01 02:11] tadatuta opened #81 "Parent elem is merged to JS params of mixed block"
For BEMJSON
[code]
with default templates the result is
[code]
but
[code]
expected.

[2015-08-02 12:12] tadatuta opened #82 "bem-xjst@1.2: wrap() fails when used with any other mode"
For BEMJSON `{ block: 'b1' }` and template
[code]
compilation fails with
[code]

Same template works fine with `bem-xjst 4.0`.

[2015-08-02 12:58] tadatuta opened #83 "Practical difference between once() and wrap()"
Is there any practical reason to keep both `wrap()` and `once()`?

[2015-08-03 14:09] tadatuta commented on #83
@veged answered the question

[2015-08-03 14:09] #83 closed

[2015-08-03 19:38] indutny commented on #82
Whoa, this one was tough. Fixed.

[2015-08-03 19:38] #82 closed

[2015-08-03 19:43] indutny commented on #79
Fixed in 6b9de40, thanks!

[2015-08-03 19:43] #79 closed

[2015-08-03 19:54] indutny commented on #80
Fixed in 3c7f239

[2015-08-03 19:54] #80 closed

[2015-08-03 19:54] indutny commented on #80
No performance loss seen

[2015-08-03 20:01] indutny commented on #81
I would say it is a bit inconsistent, but... fixed in b9a426d

[2015-08-03 20:01] #81 closed

[2015-08-03 20:02] indutny commented on #78
Duplicate of https://github.com/bem/bem-xjst/issues/49

[2015-08-03 20:02] #78 closed

[2015-08-03 20:02] indutny commented on #49
Should also throw on: `mix({ ... })` instead of `mix()({ ... })`.

[2015-08-03 21:46] tadatuta opened #84 "applyNext() inconsistence between 1.2.1 and 4.0.1 versions"
For BEMJSON
[code]
and template
[code]

with `bem-xjst 4.0.1` I've got
[code]
which looks just fine and with `bem-xjst 1.2.1` the result is
[code]

[2015-08-03 22:11] indutny opened #85 "Continuous Benchmarking"
cc @veged

I think something like http://arewefastyet.com/ would be great to have. It could be just cloning the repo on every commit, installing npm modules in its root and `bench` folder, and running:

`node bench/run.js --min-samples=500`

@veged do you think we have resources for this?

[2015-08-03 22:40] tadatuta opened #86 "bem-xjst@1.2.1: Strange reordering of array with apply()"
For BEMJSON `{ block: 'b1' }` and template
[code]
with `bem-xjst@1.2.1` the result is
[code]
but
[code]
expected.

And it works as expected with `bem-xjst 4.0.1`.

[2015-08-03 23:18] indutny commented on #86
Was it working fine before in 1.x?

[2015-08-04 08:32] veged commented on #85
sounds nice! can we use existing Travis infrastructure somehow? what resources are you talking about, time to develop runners and draw graphics?

[2015-08-04 09:13] indutny commented on #85
@veged I was mostly talking about the server infrastructure ;) Drawing graphs should be easy.

I'll see how stable numbers will be if we'll run it on travis.

[2015-08-06 10:49] indutny commented on #84
This is because of the skipApplyNext vs resetApplyNext. Haha! cc @veged , we finally found a test case for that change ;)

I guess we want to fix it?

[2015-08-06 19:29] tadatuta opened #88 "mods field in BEMJSON should not be treated as elemMods"
For BEMJSON `{ block: 'b1', elem: 'e1', mods: { m1: 'v1' } }` with default templates the result is
`<div class="b1__e1 b1__e1_m1_v1"></div>` but it should be `<div class="b1__e1"></div>`.

That'll break backward compatibility (with all previous implementations) so it should be major version.

For discussion please refer to https://github.com/bem/bem-core/issues/1026#issuecomment-128480156

// cc @

[2015-08-08 14:48] tadatuta opened #89 "Document elemMatch changes in bem-xjst > 1.x"
With `bem-xjst@1.x` it's possible to write match like this:
[code]
whis is the same as
[code]

Since `bem-xjst@2.x` only second variant works.

I'm not sure it it's something worth fixing but JFYI.

[2015-08-08 19:22] tadatuta opened #90 "Chaining issue with wrap()"
This snippet works fine:
[code]
but with `bem-xjst@4.0.1` it's impossible to switch `wrap()` with `match()` like this:

[code]

Both variants work fine with `bem-xjst@1.2.1` though.

[2015-08-08 21:22] tadatuta opened #91 "Make apply() polymorphic"
WARN: I'm not sure if it's a good idea!

`bem-xjst@1.x` understands that if the only argument for `apply()` is an object that means changes but not a mode. I suggest to support the same thing for `bem-xjst@4.x` but there's a difference that there's no empty mode anymore and as so `default` should be used.

[2015-08-09 02:50] indutny commented on #91
I don't really like it that much, everything is either monomorphic or very shallow polymorphic in bem-xjst@4.x at the moment.

Maybe @veged has more to say.

[2015-08-09 02:51] indutny commented on #90
@tadatuta what JSON reproduces the problem?

[2015-08-09 02:53] indutny commented on #89
Let's be more explicit, this is good for performance.

[2015-08-09 09:27] tadatuta commented on #90
For
[code]
with
[code]
the result is
[code]

with
[code]
everything is ok.

[2015-08-09 11:05] tadatuta opened #92 "mix() works wrong if literal is passed"
`bem-xjst@4.0.1`

BEMJSON:
[code]
Templates:
[code]
Results in unexpected `b1_m2_v2` mix on second block without `b1_m1_v1`:
[code]

`bem-xjst@1.x` works fine with both variants.

[2015-08-09 12:51] tadatuta opened #93 "applyNext('mode') with bem-xjst > 1.x"
Again I'm not sure if it's worth fixing but `applyNext('mode')` was equivalent to `apply('made')` on `bem-xjst@1.x` and is impossible with `bem-xjst@4.0.1`.

[2015-08-11 00:39] indutny commented on #92
What else did you expect? :) You are changing the array passed by reference. Creating a copy might be expensive. I suggest using `.slice()` in such blocks.

[2015-08-11 00:40] #91 closed

[2015-08-11 00:40] indutny commented on #91
Feel free to reopen if you think that this should be fixed.

[2015-08-11 00:41] indutny commented on #93
This was intentional. `applyNext()` iterates within the mode now.

[2015-08-11 00:41] #93 closed

[2015-08-11 00:41] indutny commented on #63
I think it is fixed now.

[2015-08-11 00:41] #63 closed

[2015-08-11 00:57] indutny commented on #55
May I ask you to expand on this a bit?

[2015-08-11 01:10] indutny commented on #50
Fixed in ad085de16939e15dfbc465746a4a0295ab8fc22a

[2015-08-11 01:10] indutny commented on #50
Argh, it was about 1.x

[2015-08-11 01:51] indutny commented on #90
Fixed! Looks like `extend()`/`replace()` never worked this way either. Even in 1.x

[2015-08-11 01:51] #90 closed

[2015-08-11 01:51] indutny commented on #90
Oh, btw `wrap()` probably doesn't work like this in dev mode of v1.x, I wouldn't rely much on it.

[2015-08-11 09:00] tadatuta commented on #92
well, that's kinda not obvious at least because on previous version the same code worked fine :(

[2015-08-11 09:19] indutny commented on #92
@tadatuta I bet it wasn't working that fine with dev mode ;) It is just the production mode that was cloning the JSON for you by transforming literal value into the function returning it.

[2015-08-11 09:40] veged commented on #92
We can automatically clone all non-functions values that passed at least to `mix`, `content`, `attrs` modes. But it may cause significant performance overhead in cases when a lot of "literals" are used as content. Also, there are may be some cases when you expect to use same value by reference. So I can't calmly say "let's do it" :-/

In addition I think we should introduce some helpers for cases

[2015-08-11 20:11] tadatuta commented on #55
It's about possibility to change elems and mods delimiters (see https://github.com/bem/bem-xjst/blob/master/lib/bemhtml/runtime/utils.js#L6-L13).

Here is a [tool and documentation](https://github.com/bem/bem-naming#custom-naming-convention) on a subj. I do not insist on using `bem-naming` but at least on the same API to specify naming scheme:
[code]

[2015-08-11 21:47] veged commented on #92
@tadatuta I suggest consider this issue as "won't fix" since previously it's already works inconsistent between dev and prod mode. And create new one about `addMix` syntax sugar.

[2015-08-11 21:55] veged commented on #55
I think two new options `modDelim` and `elemDelim` would be enough (we can't implement `wordPattern` anyway).

[2015-08-12 09:33] tadatuta commented on #55
can we make it
[code]

It's quite important as we use `bem-naming` with such API everywhere.

[2015-08-12 14:46] veged commented on #55
ok — :+1: for API consistency

[2015-08-14 09:52] Guria opened #94 "combine 2 compiled BEMHTML objects"
I know about new `.compile()` method, but it requires original templates as string on client side.
Just curious if something like `BEMHTML.extend(anotherBEMHTML)` is able to implement. In case of ymodules it could look like
[code]

[2015-08-14 10:24] indutny commented on #94
`.compile()` does not require original templates. You may use it to add more templates to existing BEMHTML instance.

[2015-08-14 10:24] #94 closed

[2015-08-14 10:25] Guria commented on #94
I mean it requires templates of anotherBEMHTML object.

[2015-08-14 10:28] indutny commented on #94
Aaah, this is what you meant. I think we can do it too. But what is the point? Distributing templates with runtime is a waste of bandwidth.

[2015-08-14 10:30] tadatuta commented on #94
I agree it's not very useful feature as we always can build bundle of just concatenated templates before compilation.

[2015-08-14 10:35] Guria commented on #94
Exactly. That why I curious if we can just extend one compiled object with another.
Use case could be to allow dist versions of separate packages (eg, bem-calendar or bem-forms) could be loaded after dist version of bem-components and it will just works.
Server-side concatenation before compilation is good point, but you have to setup it. Including two js files doesn't need such complexity on the

[2015-08-14 11:00] indutny commented on #94
@Guria current runtime bundle is about 40kb uncompressed. Are you sure that you would rather load it a couple of times, than distribute both sources and compiled files?

[2015-08-15 00:33] veged opened #95 "`elem('*')`"
We need analog `block('*')` matcher for elements: `elem('*')`.

[2015-08-16 05:54] indutny commented on #95
@veged this is going to slow things down a lot... I'll need to do two lookups instead of one to check the `elem('*')`.

How necessary is this? Could it be worked around?

[2015-08-16 15:24] veged commented on #95
It's needed for functionality that can be bind to all BEM-entities (i.e. analog of `match(this.ctx._myCustomField)` without `block`). Why we need two lookups in case when `this.elem === undefined` (`elem('*')` doesn't need to be checked)? In case `this.elem !== undefined` vice versa — `block('*')` doesn't need to be checked.

[2015-08-17 05:45] indutny commented on #95
Nevermind, figured out how to do it without extra lookups. PTAL at how it works in 4.1.0 ;)

[2015-08-17 05:45] #95 closed

[2015-08-17 11:19] veged commented on #95
cool! ;-)

can you point me exactly what I need to review? https://github.com/bem/bem-xjst/commit/6cb6f3b22601aa29680267d85b71288d0fc076e3#diff-958f90d6d94bb3ea244d8d1787058c15R681 looks good from quick view

[2015-08-17 17:13] indutny commented on #95
Yep that was it ;)

[2015-08-17 17:13] indutny commented on #95
Thanks!

[2015-08-18 00:33] indutny commented on #55
Implemented, please give it a try!

[2015-08-18 13:12] veged commented on #55
not `options.mod`/`options.elem` but `options.naming.mod`/`options.naming.elem`

[2015-08-18 13:13] veged commented on #55
@tadatuta @blond we need to support this in `enb-bemxjst-2` or it's already should be available in `.enb/make.js`?

[2015-08-18 15:55] tadatuta commented on #55
@veged I'll provide support tonight

[2015-08-18 16:56] tadatuta commented on #55
@indutny the option works wrong:

[code]
results in
[code]
but
[code]
expected.

Still `elem` partially works:
[code]
results in
[code]

[2015-08-18 20:58] indutny commented on #55
Should be fixed now, sorry!

[2015-08-18 20:58] #55 closed

[2015-08-19 05:36] veged opened #96 "Properly save context while render plain html items"
test: https://github.com/bem/bem-xjst/commit/f1d1798562c185c2a49b71025ff79f480e126d8a

[2015-08-19 05:42] voischev commented on #55
:fire:

[2015-08-19 06:21] indutny commented on #96
Fixed in dc627d9

[2015-08-19 06:21] #96 closed

[2015-09-01 10:13] tadatuta opened #97 "[1.x] reapply() drops this.mods"
Only `bem-xjst@1.x` in production mode affected.

[code]

[2015-09-01 12:31] #41 closed

[2015-09-01 14:23] voischev opened #98 "Независимая сборка"
Очень хочется `bemhtml` собирать любым способом.

Например
[code]

Так же кажется, что для нормального использования на клиенте мешает `vm`? Зачем для исполнения шаблонов новый контекст?  И само собой хочется делать так:

[code]
Ни хочется ли вам нам руки развязать? Пойдем куда нибудь с этими замечательными технологиями завоевывать дисковое пространство приложений))

[2015-09-01 14:24] awinogradov commented on #98
:+1: :+1: :+1: :+1: :+1: :+1:

[2015-09-01 14:26] voischev commented on #98
сс/ @veged @blond @tadatuta @zxqfox

[2015-09-02 10:20] tadatuta commented on #98
Давайте голосом это обсудим, кажется, что в первой части ты хочешь чего-то странного, а во второй — то, что изначально работает ;)

[2015-09-02 20:04] tadatuta commented on #98
@voischev @awinogradov  Закрываем?

[2015-09-02 21:25] awinogradov commented on #98
Да, обсудили голосом.
On Wed 2 Sep 2015 at 23:04 Vladimir Grinenko <notifications@github.com>
wrote:

[2015-09-02 22:21] #98 closed

[2015-09-03 05:27] voischev commented on #98
:+1:

[2015-09-04 09:28] mishanga opened #99 "wrong `isLast()` result"
### template
[code]

### bemjson
[code]

### expected result
[code]

### actual result
[code]

[2015-09-04 09:30] indutny commented on #54
Technical info: https://en.bem.info/technology/bemtree/v2/bemtree/

[2015-09-04 09:33] tadatuta commented on #54
I'd be happy to have BEMTREE available in two modes: sync and async.

[2015-09-04 09:56] mishanga commented on #99
В простом случае, когда просто массив из двух и более элементов, не воспроизводится.

[2015-09-04 11:48] voischev commented on #99
странненько

[2015-09-04 17:53] indutny commented on #99
Fixed, thank you!

[2015-09-04 17:53] #99 closed

[2015-09-05 08:09] mishanga commented on #99
:ok:

[2015-09-05 08:25] blond opened #100 "[1.x] elemMatch: this.elem is undefined"
**Versions:**

* `enb-bemxjst`: `2.0.1`
* `bem-xjst`: `1.2.1`

**Template:**

[code]

After build of BEMHTML bundle in production mode and call `BEMHTML.apply()` is the error:

[code]

More see in `bem-core`: https://github.com/bem/bem-core/issues/1181

[2015-09-08 19:44] tadatuta commented on #54
any news here?

[2015-09-09 08:21] #92 closed

[2015-09-09 12:04] veged commented on #13
what the problem to use `this` keyword?

[2015-09-09 12:07] #84 closed

[2015-09-09 12:12] veged commented on #86
@tadatuta what exactly you try to do? why both `apply('some-mode'` and `this.reapply({`appear? looks like strange template...

[2015-09-09 12:14] veged commented on #6
@tadatuta which version do you mean?

[2015-09-09 13:35] tadatuta commented on #86
That's really strange template from Islands library. I opened this issue because tests failed and was hard to understand why. I do not insist on a fix.

[2015-09-09 13:37] tadatuta commented on #6
When I created an issue it was `0.*` but now we have https://github.com/bem/bem-xjst#api and I kinda ok with it. So don't insist on this issue anymore.

[2015-09-09 15:20] narqo commented on #13
`this` as well as, for example `arguments`, set to the enclosing scope (the outer function where present, otherwise the global object) as fat arrow have their context lexically bound.

[code]

is transpiling to

[code]

[2015-09-10 11:12] veged commented on #86
can you point me exactly code in `islands`? perhaps it should be rewritten

[2015-09-10 11:13] #6 closed

[2015-09-10 12:26] tadatuta commented on #86
It's already rewritten there.

[2015-09-10 16:37] veged commented on #86
ok then ;-)

[2015-09-10 16:37] #86 closed

[2015-09-10 23:22] tadatuta opened #101 "[4.x] Compiled bundle is broken after minification"
How to reproduce:

[code]

[2015-09-11 02:35] indutny commented on #13
You don't need arrows for this, though :)

[2015-09-11 10:24] veged commented on #13
let's consider as `wontfix` for now ;-)

[2015-09-11 10:24] #13 closed

[2015-09-14 09:46] indutny opened #102 "Invert `xjstOptions` `flush`"
`def()` should return result of other `apply`, without any changes or prefixing with other string.

[2015-09-14 09:46] indutny commented on #102
cc @vege

[2015-09-14 09:46] indutny commented on #102
cc @veged

[2015-09-20 19:58] tadatuta commented on #54
any news?

[2015-09-21 09:26] vithar commented on #54
I need bemtree in my project, do you have estimation to this task?

[2015-09-28 15:07] veged opened #104 "Ability to add templates to existing runtime"

[2015-09-28 15:38] tadatuta commented on #104
Isn't it already implemented? http://jsfiddle.net/k9kusc96/

[2015-09-29 09:44] veged commented on #104
@tadatuta yeah, looks like... ;-) my concerns was about "magic" globals such as `block`, `elem`, `tag` and so on

but never mind, think we can close this issue

[2015-09-29 09:44] #104 closed

[2015-09-30 15:26] mishaberezin opened #105 "[1.x] Templates work incorrectly after reapply()"
`bem-xjst@1.2.1`

BEMJSON:
[code]

BEMHTML:
[code]

Nothing in console, second template didn't work.

[2015-09-30 15:29] mishaberezin commented on #105
cc @indutny @veged @arikon

Critical for `islands`.
Block `link` doesn't work in some cases.

[2015-09-30 21:00] arikon commented on #105
@indutny Have a look please

[2015-10-02 12:43] tadatuta opened #106 "Wrong error message"
For tempalate without IIFE, e.g.
[code]
error message is `Error: block("...") not found in one of the templates` but something more specific expected.

[2015-10-02 20:54] indutny commented on #97
See https://github.com/bem/bem-core/pull/1224

[2015-10-02 20:54] indutny commented on #105
Should be fixed by https://github.com/bem/bem-core/pull/1224 as well.

[2015-10-15 16:01] arikon commented on #97
@tadatuta Could you make review?

[2015-10-16 00:06] tadatuta opened #107 "Introduce mods()({ modeName: 'modeVal' })"
In base templates in bem-core, `this.ctx.mods` [is always created](https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemtree#L135).

If it's cheap in performance POV, I think it should be the same in bem-xjst@4 for backward compatibility.

[2015-10-21 15:33] arikon commented on #88
Consider to delay because of major changes that will make us to rewrite a lot of existing code in web services.

[2015-10-21 15:34] arikon opened #108 "Source maps support"

[2015-10-21 15:44] indutny opened #109 "Verify that `!this.elem` is checked for templates without `elemMatch`"
n/t

[2015-10-21 15:46] indutny commented on #109
`elemMatch` should be called only if `this.elem` is not falsey.

[2015-10-21 15:47] arikon commented on #100
Will not be fixed in favor of `bem-xjst@4.x`.

`bem-xjst@4.x` will be checked here https://github.com/bem/bem-xjst/issues/109.

[2015-10-21 15:47] #100 closed

[2015-10-21 15:49] arikon commented on #18
Will not be fixed in favor of `bem-xjst@4.x`.

In `4.x` will be fixed here https://github.com/bem/bem-xjst/issues/49.

[2015-10-21 15:49] #18 closed

[2015-10-21 15:51] arikon commented on #50
Will not be fixed in `1.x`

[2015-10-21 15:51] #50 closed

[2015-10-21 15:52] arikon commented on #21
Will not be fixed in favor of `bem-xjst@4.x`.

[2015-10-21 15:52] #21 closed

[2015-10-22 02:39] #106 closed

[2015-10-22 20:04] tadatuta commented on #97
Fixed in bem-core

[2015-10-22 20:04] #97 closed

[2015-10-28 14:00] tadatuta opened #111 "Should support changing elemMods in runtime"
There is a test for changing `mods` in runtime (https://github.com/bem/bem-xjst/blob/master/test/runtime-test.js#L221) but same thing fails for `elemMods`. So this test
[code]
will fail with `AssertionError: '<div class="b1"><div class="b1__e1"></div></div>' deepEqual '<div class="b1"><div class="b1__e1 b1__e1_a_b"</div>'`.

[2015-10-28 14:29] tadatuta opened #112 "Strange test for handling of elemMods"
[Here](https://github.com/bem/bem-xjst/blob/master/test/runtime-test.js#L323-L338) is a test which is quite strange:
[code]

cc @veged

[2015-10-30 13:21] sbmaxx opened #113 "Error only exists at first BEMHTML.apply"
How to reproduce:

[code]

On first run i have: `[TypeError: Cannot set property 'onmousedown' of undefined]`
Second — all is fine.

Templates from islands 4.0.1, "compiled" with enb-bemxjst 4.0.0

[2015-10-30 13:21] sbmaxx commented on #113
@veged @arikon

[2015-10-30 15:23] tadatuta commented on #113
@sbmaxx are you sure it's a bug?

seems like you've got following situation:

[code]
so all you need is just to add fallback for `fiji/images/blocks-deskpad/snippet/_type/snippet_type_series.bemhtml.js` like this:

[code]

[2015-10-30 17:55] sbmaxx commented on #113
@tadatuta i know that template are ugly and incorrect. The problem is "why it reproduces only once or twice"

[2015-10-30 18:43] tadatuta commented on #113
It's because script failed at https://github.yandex-team.ru/sbmaxx/bemhtml-bug/blob/master/bemhtml.js#L1278 and as so [these lines](https://github.yandex-team.ru/sbmaxx/bemhtml-bug/blob/master/bemhtml.js#L1282-L1284) were never reached so on next `BEMHTML.apply()` call the template is considered already visited.

Still I'm not sure if it's a bug or a feature.

[2015-10-31 05:10] sbmaxx commented on #113
I think it should fail always. Consider how to debug errors if they disappear after refresh? Inspired by migration to islands 4.0.1 ;)

[2015-10-31 10:49] tadatuta commented on #113
adding `try catch` around `out = template.body.call(context);` will make it happen but it can be expensive in terms of performance so let's wait for @indutny to take a look.

[2015-10-31 14:52] sbmaxx commented on #113
We can almost level performance with extracted `try/catch`:
[code]

Results:
[code]

Maybe @indutny have better idea :)

[2015-10-31 14:55] sbmaxx commented on #113
Also, i'm not sure that benchmark is very accurate. It gives difference results comparing the same version of bem-xjst

[2015-11-02 07:18] sbmaxx opened #116 "Runtime fails after minification"
Not sure about placing bug here. Maybe it related to `enb-borschik, enb-bemxjst`.

Repo is the same, added another test for new bug — https://github.yandex-team.ru/sbmaxx/bemhtml-bug

After using `enb-borschik` for `index.bemhtml.js` runtime stop working. It fails with just one `bemhtml.js` file:
[code]

**Error**:
[code]

@tadatuta @arikon @indutny @veged

[2015-11-02 07:38] sbmaxx commented on #116
It fails on `recompileInput`.

Before recompile we have templates:
[code]
And after:
[code]

All variables replaced with unminimized version.Why do we need this recompile?

[2015-11-02 08:10] tadatuta commented on #116
Looks like a duplicate of https://github.com/bem/bem-xjst/issues/101

[2015-11-02 08:45] mishanga commented on #116
да, это дубликат #101

[2015-11-02 08:45] #116 closed

[2015-11-02 08:47] mishanga commented on #107
this.mods, а не this.ctx.mods

[2015-11-02 08:55] sbmaxx commented on #101
А чем закончилось-то?

[2015-11-02 11:20] sbmaxx commented on #101
Если прибить
[code]
то всё будет ок :)

[2015-11-02 11:42] veged commented on #101
сделал PR: #117

[2015-11-02 11:43] #101 closed

[2015-11-02 11:44] veged commented on #101
landed in v4.2.6

[2015-11-03 12:09] veged commented on #89
need to cover this in https://github.com/bem/bem-xjst/wiki/Notable-changes-between-bem-xjst@1.x-and-bem-xjst@2.x

[2015-11-03 12:12] veged commented on #89
also need to think about cases like that:
[code]

cc @sbmaxx

[2015-11-06 18:27] sbmaxx opened #119 "generateId is drunk"
http://bem.github.io/bem-xjst/

*bemjson*
[code]

*bemhtml*
[code]

All IDs are the same:
[code]

And yes, this is also critical as https://github.com/bem/bem-xjst/pull/114

[2015-11-06 21:44] zxqfox commented on #119
This generated id is stored in ._uniq property of this class: https://github.com/bem/bem-xjst/blob/master/lib/bemhtml/runtime/index.js#L256

I'm not sure why, but there is only one instance of that. This behaviour is right from v2.0.0.

Why you can't use .identify? ;-)

[2015-11-07 05:43] sbmaxx commented on #119
I can, but i don't want to extend all input* islands templates ;)

[2015-11-09 08:24] sbmaxx opened #121 "Strange applyNext behavior"
I think this is about wrong `b-page.bemhtml.js` template from islands — http://pastebin.com/JFVfYR1D

Paste it into http://bem.github.io/bem-xjst/ and use this bemjson:
[code]

You will get:

[code]

It can be easily repaired by merging `mix mode` in template to http://pastebin.com/2nY1Z1tm

[2015-11-09 08:39] sbmaxx commented on #121
@veged @indutny

[2015-11-09 13:10] veged commented on #121
looks like `applyNext()` returns `mix` previously modified through `push` :-/

[2015-11-09 13:18] tadatuta commented on #121
That's what we decided to be not a bug of `bem-xjst` in https://github.com/bem/bem-xjst/issues/92 so it should be fixed in templates.

[2015-11-09 13:31] veged commented on #121
@tadatuta looks similar, but I think it's not the same because there is no another template for `mix` with static literally defined array

[2015-11-13 22:18] zxqfox commented on #88
@arikon Am I right that web services using `{ mods: ... }` as `{ elemMods: ... }` in `bemjson`?

[2015-11-13 22:19] zxqfox commented on #119
Not drunk anymore. ;-)

[2015-11-13 22:55] zxqfox commented on #113
Done via 1ab21c35236b861bae8ffd0d79c3ef1713982d69 and can be closed.

[2015-11-13 22:56] zxqfox commented on #112
Guess it's a copy paste bug. ;-(

[2015-11-14 05:40] #113 closed

[2015-11-14 05:40] #119 closed

[2015-11-14 21:17] zxqfox commented on #92
:+1: for wontfix, but... Can we throw if someone puts there an object? What do you think about some real life use cases for that usage (w/o function)?

[2015-11-14 22:18] zxqfox commented on #121
@veged After reading sources I don't see it's another bug:
[code]

Still the same reference to static array. https://nda.ya.ru/3R7paQ

[2015-11-14 22:25] zxqfox commented on #107
@mishanga Именно this.ctx.mods, this.mods и this.elemMods уже always.

@tadatuta This should be marked as suggestion, I guess. Not sure why this still not answered by maintainer ;-(

[2015-11-15 14:32] zxqfox commented on #25
Guess, it's wontfix.

[2015-11-15 14:32] #25 closed

[2015-11-15 14:59] zxqfox commented on #74
Guess, it could and should be linted. Can agree that this decision was right.

[2015-11-15 16:59] zxqfox opened #122 "Bring "Notable changes" up to date"
Guess we should add something like this:

---

## `elemMatch()` and `this.elem` changes

There is no sense in `elemMatch()` since you can't test `this.elem` now. (More info?)

## `apply()` behaves slightly different

Since a notable performance jump `apply()` can't call custom modes in other blocks.

[code]

Also there is no more polymorphism in `apply()` and you should always explicitly pass a fi

[2015-11-15 23:46] zxqfox commented on #88
Guess, there is the same problem with `{ block: 'b1', elemMods: { m: 'v' } }` (`<div class="b1 b1_m_v"></div>`).

https://github.com/bem/bem-xjst/blob/master/test/tree-test.js#L169-L176

[2015-11-16 06:53] arikon commented on #88
@zxqfox Yes, you are. Some of them are using `mods` instead of `elemMods`.

[2015-11-17 10:54] veged commented on #92
the problem not in passing literals to `mix` but in modifying such literals with other templates — so I can't agree that we should deny passing literals itself

[2015-11-17 10:56] veged commented on #121
hm... maybe it was already fixed when I look at `islands` code

[2015-11-17 10:58] zxqfox commented on #121
@veged Yeah, sorry. Here the link: https://nda.ya.ru/3R8AaW

[2015-11-17 12:52] veged commented on #122
:+1:

[2015-11-17 13:49] zxqfox commented on #122
@veged Updated, thanks!

https://github.com/bem/bem-xjst/wiki/Notable-changes-between-bem-xjst@1.x-and-bem-xjst@2.x

[2015-11-17 13:49] #122 closed

[2015-11-18 14:07] blond opened #124 "Fails if attr is object"
**BEMHTML:**

[code]

**BEMJSON:**

[code]

Expected:

[code]

But now `BEMHTML.apply()` fails with error:

[code]

Stack trace points to this [code](
https://github.com/bem/bem-xjst/blob/cf8aea838292374c14b026e42de5647de63a8658/lib/bemhtml/runtime/index.js#L514).

[2015-11-19 15:02] #124 closed

[2015-11-19 15:32] #105 closed

[2015-11-19 15:37] tadatuta opened #126 "Test on reapply fails on BEMTREE"
https://github.com/bem/bem-xjst/blob/bemtree-nextgen/test/bemtree/runtime-test.js#L262-L279

[2015-11-19 15:40] arikon commented on #121
Considered as won't fix because of error in templates.

[2015-11-19 15:40] #121 closed

[2015-11-24 23:08] apsavin opened #127 "No runtime in production mode"
version: 0.9.0
When I use option `optimize: true`, I get the optimized version, but without runtime (no functions like `applyNext`), so nothing works.
What can be the cause?

[2015-11-25 08:04] tadatuta commented on #127
I think `v1.2.1` should be compatible with 0.9.0. Can you please check minimization there?

[2015-11-26 14:06] tadatuta opened #131 "Wildcard match on elem should be overridable"
For BEMJSON
[code]
with templates
[code]
the result is
[code]
but
[code]
expected.

[2015-11-26 15:14] tadatuta commented on #126
@indutny ping?

[2015-11-26 17:54] indutny commented on #131
Nope, this won't work :) Wildcard is supposed to be run before every non-wildcard template.

[2015-11-27 06:25] #131 closed

[2015-11-27 13:30] zxqfox commented on #131
But why? Can you link me to the talk about this decision?

[2015-11-27 17:57] indutny commented on #131
@zxqfox performance. I and @veged have talked about this offline.

[2015-11-27 18:50] zxqfox commented on #131
@indutny I mean, why before? There are cases when we can call this matcher as usual, Not really sure why it (`'*'`) can be slower that any other matcher.

[2015-11-27 18:59] indutny commented on #131
@zxqfox what kind of cases do you mean?

`elem('*')` is not a regular matcher. Instead of going through all templates as we did in old bem-xjst, now we lookup `block+elem` key in a hashmap. Obviously this is what affected the way wildcard elements and blocks are implemented right now.

[2015-11-27 19:34] zxqfox commented on #131
Well, at the point of template writer it looks like magic because he don't see any `before` keyword. Not sure that it's right. And I'm not sure that it's hard to change.

Can we rethink this if I'll find a way to fix that without performance decrease.

[2015-11-30 18:04] indutny commented on #126
Pong, looking

[2015-11-30 18:17] indutny commented on #126
@tadatuta the problem with a test is following:

`this.reapply()` returns `{ block: 'b2', content: 'ok'}` as it should be. Then it gets passed to `.renderContent`, but now with `this` of the `b1`, which has `this.wtf` set to `fail`. `renderContent` is obviously re-rendering it with a `fail` in `content`.

From what we have in code - this is quite expected behavior, isn't it? You are returning BEMJ

[2015-11-30 18:31] tadatuta commented on #126
I still can't understand the difference with BEMHTML (see https://github.com/bem/bem-xjst/blob/bemtree-nextgen/test/bemhtml/runtime-test.js#L199-L210)?

[2015-11-30 18:32] indutny commented on #126
The difference is that BEMHTML returns `string` instance and not `BEMJSON` when you call `this.reapply()`.

[2015-11-30 18:42] tadatuta commented on #126
ok, thank you, got it. will update tests.

[2015-11-30 18:42] #126 closed

[2015-12-02 15:18] zxqfox commented on #89
[code]

[2015-12-02 15:19] tadatuta opened #135 "Reimplement elemMatch"
`elemMatch` should work as follows:

[code]
should be equal to

[code]

[2015-12-02 15:19] arikon commented on #89
`elemMatch` will be removed in #135

[2015-12-02 15:22] arikon commented on #89
`elemMatch` will be reimplemented in #135

[2015-12-02 15:22] #89 closed

[2015-12-02 15:29] tadatuta commented on #112
[code]

[2015-12-02 15:36] arikon commented on #127
@apsavin Please reopen if it still reproduced in 1.2.1.

[2015-12-02 15:36] #127 closed

[2015-12-02 15:38] tadatuta commented on #127
And please tell why do you need it?

[2015-12-02 15:39] veged commented on #107
linked with #111

[2015-12-02 15:42] arikon commented on #109
Closing in favor of #135

[2015-12-02 15:42] #109 closed

[2015-12-02 15:43] arikon commented on #53
Will be fixed in #132

[2015-12-02 15:43] #53 closed

[2015-12-02 15:44] #26 closed

[2015-12-02 15:47] arikon commented on #19
Closing in favor of #49

[2015-12-02 15:47] #19 closed

[2015-12-02 15:47] arikon commented on #20
Closing in favor of #49

[2015-12-02 15:47] #20 closed

[2015-12-02 16:08] tadatuta opened #136 "Support coverage"
E.g. build souce map on npm publish or keep requires without browserifing.

Enlarge cover a template code tests to 80-100%, taking into account all the functional features.

[2015-12-03 10:22] veged commented on #131
It's okay without `before` keyword by following principle «from the general to the particular». Also, as I know, it doesn't affect any real cases.

[2015-12-03 11:16] zxqfox commented on #131
It does, as I know.

We can't differentiate these atm:
[code]
and the output for `{block: 'a', elem: 'el'}` is
[code]

This actually means we can't use `elem('*')` and `elemMatch` atm on levels at all because it works like `!important` flag.

And there is code almost like this in our codebase ;-(
[code]

I'm not sure about this concrete case, but feels like we shouldn't be adamant.

[2015-12-03 13:09] veged commented on #131
...**real** cases... ;-)

[2015-12-04 19:52] zxqfox opened #137 "Add to migration doc an example of element that forces flushing to stream"
Something like:
[code]

See: https://github.com/bem/bem-xjst/blob/678e33e19d2dc4289aee4f65ef80eeb393f7b4d9/test/runtime-test.js#L396-L434
https://github.com/bem/bem-xjst/wiki/Notable-changes-between-bem-xjst@1.x-and-bem-xjst@2.x#this_str-is-gone

[2015-12-04 21:14] blond commented on #137
:+1:

[2015-12-05 10:04] vithar opened #138 "Multiple elems for the same templates"
I have this code in my project:

[code]

As you can see, templates for `region` and `currency` element the same. Can we implement support for multiple arguments in `elem` (e.g. elem('region', 'currency')) or ability to pass array as argument (e.g. elem(['region', 'currency']))?

[2015-12-05 10:50] tadatuta commented on #138
@vithar  see https://github.com/bem/bem-xjst/issues/135

[2015-12-05 11:09] blond commented on #138
@tadatuta why not make multi-selectors like in CSS with `,` delimiters?

For elems:

[code]

For blocks:

[code]

[2015-12-05 12:55] vithar commented on #138
+1

[2015-12-08 10:21] dfilatov opened #139 "Implement syntax sugar to extend attrs"
Moved from https://github.com/bem/bem-core/issues/1221

Now:
[code]

Can be wrapped with `block('b1').extendAttrs()({ a: 'b' })`.

[2015-12-08 10:24] indutny commented on #139
Out of curiosity, is it this pattern that common?

[2015-12-08 10:30] dfilatov opened #140 "BEMTREE: Implement position field in context"

[2015-12-08 10:32] voischev commented on #139
Давайте сахар тогда для всего добавлять?

Может? ;)
[code]
this тут правильно отработает?

[2015-12-08 10:35] zxqfox commented on #139
@voischev Нет, не отработает правильно.

Guess, we can add special `.extend` mode for such purpose:
[code]

[2015-12-08 10:37] voischev commented on #139
@zxqfox :+1:

[2015-12-08 12:07] tadatuta opened #141 "compiler: Drop wrap method"
It should be responsibility of bundler (e.g. ENB).

[2015-12-08 12:11] #141 closed

[2015-12-08 12:14] tadatuta opened #143 "package.json: Remove bundle command"
It's no more clear which bundle should be buit after BEMTREE introduced.
`bem-xjst` binary should be used instead.

[2015-12-08 12:17] #143 closed

[2015-12-08 12:25] tadatuta commented on #140
Already implemented in https://github.com/bem/bem-xjst/pull/132

[2015-12-08 12:25] #140 closed

[2015-12-08 12:26] tadatuta commented on #54
Implemented in https://github.com/bem/bem-xjst/pull/132

[2015-12-08 12:26] #54 closed

[2015-12-08 12:29] tadatuta opened #145 "BEMTREE: return `true` as is"
For `BEMTREE.apply({ block: 'b1', content: true })` got `{ block: 'b1', content: '' }` but `{ block: 'b1', content: true }` expected.

[2015-12-08 13:30] zxqfox commented on #145
Guess it's because `.def` mode should return a String.
Not sure why you need to pass non-string scalar to content.

[2015-12-08 14:03] tadatuta commented on #145
@zxqfox the issue is about BEMTREE ;)

[2015-12-09 09:48] tadatuta opened #146 "Do not execute nested match if outer one is falsy"
E.g. for
[code]

cc @indutny @veged @belyanskii

[2015-12-09 16:50] veged commented on #146
semantically there is no such thing as "nested match" — they are all same level and order of execution is not guaranteed

[2015-12-09 17:01] tadatuta commented on #146
Such code worked properly on `1.x` so we should at least try to fix it or maybe support it on convertor side.

[2015-12-10 08:52] veged commented on #146
@indutny could we at least support preserving order of `.match`es execution?

[2015-12-10 10:50] tadatuta opened #147 "Support js() mode for mixes"
[code]

Resulted with

[code]

but

[code]

expected.

[2015-12-10 17:25] zxqfox commented on #147
Why? Do we start executing templates for mixes?

[2015-12-10 21:03] tadatuta commented on #147
@zxqfox https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemhtml#L393-L457 ;)

[2015-12-10 21:28] blond commented on #147
@tadatuta how i can replace js mode and ignore input BEMJSON?

[2015-12-14 13:54] #112 closed

[2015-12-14 21:19] #145 closed

[2015-12-14 21:31] #88 closed

[2015-12-16 14:48] zxqfox commented on #111
Take a look pleasee?

/cc @indutny @veged

[2015-12-16 15:59] tadatuta opened #151 "Expose classBuilder"
Now `classBuilder` is available via `this._bemxjst.classBuilder.build(this.block, this.elem)` in templates.
I suggest to expose it to `this`.

// cc @veged

[2015-12-16 16:47] veged commented on #111
looks ok

[2015-12-16 16:48] veged commented on #151
sounds reasonable — what API do you suggest?

[2015-12-16 20:22] blond opened #152 "Should ignore `elem: ''`"
BEMJSON:

[code]

BEMHTML:

[code]

Actual:

[code]

Expected:

[code]

[2015-12-21 11:14] arikon opened #153 "Minor bem-xjst release"
Following commits are backward compatible and may be released as `4.3.0`: https://github.com/bem/bem-xjst/compare/v4.2.7...04ec2b0f

[2015-12-21 11:25] blond commented on #153
@arikon you mean major?

[2015-12-21 11:41] arikon commented on #147
Should we run template for mixes?

[2015-12-21 11:46] arikon opened #154 "Document all the differences from bem-xjst@1.x"

[2015-12-21 14:18] tadatuta opened #155 "BEMTREE: Implement async support"

[2015-12-21 15:48] sullenor opened #156 "Using bemhtml as a commonjs module"
Hi,

I'd like to make a webpack-loader for bemhtml and I lack possibility to use bemhtml as a commonjs module. Something similar to [bem/bh](https://github.com/bem/bh#usage):

[code]

Is it possible?

Kind regards,
Alexey

[2015-12-21 15:50] zxqfox commented on #147
@blond There is the same question about tag or even attrs.style.

[code]

etc.

[2015-12-21 16:22] tadatuta commented on #156
sure:

[code]

[code]

[2015-12-21 16:41] sullenor commented on #156
Surprisingly it works :) Will be it possible to skip the bundling step in future?

Thanks

[2015-12-21 16:41] #156 closed

[2015-12-21 16:46] tadatuta commented on #156
we will investigate the way bundling works now as it makes gathering coverage somewhat hard.
if we'll find a way how to avoid it, we'll definitely let users know.

[2015-12-21 19:25] blond commented on #147
@zxqfox +1 for `force()`

[2015-12-21 19:35] zxqfox commented on #147
@blond
![image](https://cloud.githubusercontent.com/assets/677518/11939422/19baf546-a833-11e5-8751-e2543edb58f3.png)

[2015-12-21 23:14] tadatuta commented on #153
@blond not yet, we decided to release backward compatible changes first.

[2015-12-21 23:23] tadatuta commented on #153
@miripiruni I updated the range in description but just found out we don't have permission to release version to npm.

@indutny Please give permissions for the package to @arikon @miripiruni and @tadatuta, we won't make any harm ;)

[2015-12-21 23:28] tadatuta commented on #154
Current docs are in https://github.com/bem/bem-core/tree/v2/common.docs and are rendered on bem.info: https://ru.bem.info/technology/bemhtml/v2/intro/ but as base templates are now in `bem-xjst` itself we should move docs to this package.

Still the most urgent is migration guide which is kinda described [here](https://nda.ya.ru/3RCohw).

[2015-12-21 23:29] tadatuta commented on #151
I think `this.naming` whould be fine

[2015-12-22 16:29] indutny commented on #107
Let's talk a bit about why I chose to not create them on every run. This is potentially going to slow down all templates down the way, because it will create a new hidden-class for each nested JS object in input JSON. Are we sure that we want this?

I could be convinced that it is fine, if benchmarks will tell so. But usually I try to avoid creating hidden class just for having a bit more flexibil

[2015-12-22 17:40] #146 closed

[2015-12-22 19:16] #111 closed

[2015-12-23 10:35] miripiruni commented on #153
- [x] [npm](https://www.npmjs.com/package/bem-xjst)
 - [x] [diff v4.2.7...v4.3.0](https://github.com/bem/bem-xjst/compare/v4.2.7...v4.3.0)
 - [x] [online](http://bem.github.io/bem-xjst/)

[2015-12-23 10:35] #153 closed

[2015-12-23 11:08] arikon commented on #153
:+1:

[2015-12-23 11:09] blond commented on #153
Why don't you write the changelog?

[2015-12-23 12:27] tadatuta opened #161 "Release 4.3.1"
Cherry-pick https://github.com/bem/bem-xjst/commit/f61e6476568cf323fa479e8e908e24b176fee0aa

[2015-12-23 13:45] miripiruni commented on #161
Done. [v4.3.1](https://github.com/bem/bem-xjst/tree/v4.3.1)

[2015-12-23 13:45] #161 closed

[2015-12-23 14:51] miripiruni commented on #151
@tadatuta What kind of methods needed? `ClassBuilder` API maybe replaced or modified in future. Is it OK to make visible all of it's methods right now?

[2015-12-23 15:30] miripiruni commented on #153
@blond I collect issues in [milestones](https://github.com/bem/bem-xjst/milestones).

[2015-12-23 21:03] tadatuta commented on #151
@miripiruni you are right. I think possibility to get delimiters and stringify an entity with current notation should be enough.

[2015-12-25 15:24] #152 closed

[2015-12-28 14:06] miripiruni commented on #138
@vithar take a look at https://github.com/bem/bem-xjst/pull/165

Isn't enough `elemMatch()`?

[2015-12-28 14:29] vithar commented on #138
It is enough, thanks.

[2015-12-28 14:29] #138 closed

[2015-12-28 15:13] blond commented on #138
So, what about multi-selectors?

[2015-12-28 15:46] tadatuta commented on #138
@blond that's too rear case to provide such sugar

[2015-12-28 15:48] blond commented on #138
@tadatuta, sugar affects performance?

[2015-12-28 16:20] tadatuta commented on #138
it extends API without necessity

[2015-12-30 15:31] arikon opened #166 "Move docs from bem-core to bem-xjst"
https://github.com/bem/bem-core/tree/v2/common.docs

[2015-12-30 15:35] arikon commented on #49
@indutny @veged What is `include`?

[2015-12-30 15:44] arikon commented on #102
@indutny What is this task about? Why is it needed?

[2015-12-30 16:16] arikon opened #168 "Implement content escaping"
https://nda.ya.ru/3RGQc7

[2015-12-31 05:18] indutny commented on #102
@arikon right now blocks with custom renderer (in other words `def()` predicate), will turn off flushing behavior for all child blocks. `xjstOptions` is used to re-enable flushing explicitly on some templates with `def()`, assuming that people know what they are doing.

@veged suggested to flush all templates by default, and allow people to disable this behavior using `xjstOptions`. Thereby invert

[2016-01-11 13:21] miripiruni opened #169 "Online demo: support sharing examples via URL params"

[2016-01-11 18:03] zxqfox opened #171 "ES6-sugar for templates"
Is it possible to pass node and/or ctx as parameters to matcher/template to use arrow functions in templates:
[code]

[2016-01-11 18:10] voischev commented on #171
:fire:

[2016-01-11 20:25] narqo commented on #171
It didn't work last time #13 :(

[2016-01-11 20:29] indutny commented on #171
Let's do it this time! :)

[2016-01-11 20:30] zxqfox commented on #171
My argues:
1. We all love sugar.
2. BEMHTML uses the result of matcher/template function and arrow function returns the value by default.
3. idk, @indutny already agreed ;-D

[2016-01-13 13:00] #169 closed

[2016-01-14 12:24] miripiruni opened #172 "Should properly render attrs"
See [test cases](https://github.com/bem/bem-xjst/pull/183/files#diff-958f90d6d94bb3ea244d8d1787058c15).

[2016-01-14 13:13] miripiruni opened #173 "Class attribute should be trimmed and escaped"
[Test case](http://bem.github.io/bem-xjst/?bemhtml=block(%27a%27).cls()(%27%20%20btn%20%20%27)%3B%0Ablock(%27b%27).cls()(%27url%3D"a%3Db%26c%3Dd"%27)%3B&bemjson=(%5B%0A%20%20%20%20%7B%20block%3A%20%27a%27%20%7D%2C%0A%20%20%20%20%7B%20block%3A%20%27b%27%20%7D%0A%5D)%3B).

[2016-01-14 13:40] miripiruni opened #174 "Bug with position number"
[Test case](http://bem.github.io/bem-xjst/?bemhtml=var%20test%20%3D%20function%20test()%20%7B%0A%20%20%20%20var%20ret%20%3D%20this.position%3B%0A%0A%20%20%20%20%2F%2F%20this.isFirst()%20%26%26%20(ret%20%2B%3D%20%27first%27)%3B%0A%20%20%20%20%2F%2F%20this.isLast()%20%26%26%20(ret%20%2B%3D%20%27last%27)%3B%0A%20%20%20%20return%20ret%3B%0A%7D%3B%0A%0Ablock(%27*%27).elem(%27inner%27).cls()(test)%3B%0A

[2016-01-14 13:41] zxqfox opened #175 ".bydefault()/.force() helper suggestions"
We have different merging with bemjson behaviour for `content`, `tag`, `cls` and `attrs` modes.

`content` mode executes in anyway.
`tag` mode won't be executed if bemjson had `tag` property.
`attrs` & `cls` from template will be merged with `attrs` property in result.

All of this forces users to use `.def` mode while using it much can significantly decrease performance.

I guess we should make a

[2016-01-14 16:31] miripiruni opened #176 "`.cls()('something')` should not override cls from BEMJSON"
[Test case](http://bem.github.io/bem-xjst/?bemhtml=block(%27button%27).cls()(%27btn%27)%3B&bemjson=(%7B%20block%3A%20%27button%27%2C%20cls%3A%20%27user-btn%27%20%7D))

[2016-01-18 10:00] miripiruni opened #177 "[Online demo] `oninit()`"

[2016-01-21 13:44] baymer opened #179 "BEMHTML renderMix: skip mix item if falsy"
I think, it should check is the `item` truthy: `if (item)...`
https://github.com/bem/bem-xjst/blob/8b650e78f211f3e5ca1c7897f325a7d8830779ab/lib/bemhtml/index.js#L208

[2016-01-21 14:14] miripiruni commented on #179
@baymer can you share test case?

[2016-01-21 14:32] alsun commented on #179
`mix: [ { block: 'story' }, ctx.title ? { block: 'title' } : null  ]`

[2016-01-21 15:28] tadatuta opened #180 "extend() is broken"
First part of the issue is about bug:
Now `extend()` mode results in infinite loop (it returns `applyCtx()` of the same `ctx` so same `extend()` template matches it again).

Tests are passed accidentally because `ctx` is changed there.

Second part is a suggestion to change semantic of `extend()` to extend not `this.ctx` but `this` and the same syntax with dot notation should be supported as in `a

[2016-01-21 15:28] tadatuta commented on #180
cc @veged

[2016-01-21 15:34] tadatuta opened #181 "BEMTREE: bug with applyNext({'ctx.js':'test' })"
[code]

`blah` equals `undefined` here.

I understand that `bem-xjst` tries to rollback the state after it went out of `local` and for performance reason does not delete context keys but just assign them to `undefined` but it still isn't quite intuitive.

[2016-01-21 16:16] zxqfox commented on #180
You proposing to extend context so why just not to use `.extend()` for that?

[2016-01-21 16:19] miripiruni commented on #176
Copy of #175

[2016-01-21 16:19] #176 closed

[2016-01-21 16:35] zxqfox commented on #181
![](http://stream1.gifsoup.com/view3/1729833/what-a-story-mark-o.gif)

[2016-01-21 17:49] tadatuta commented on #180
@zxqfox You are right but it's not working as I expected for some reason :(

[code]
results in infinite loop.

[2016-01-21 17:55] tadatuta commented on #181
Let's consider real life use case.

If we have BEMHTML template, we can go with
[code]
and get `<div class="b1 b1_m1_blah"></div>` which is exactly what was expected.

And if we move the same template to BEMTREE, it will actually apply all the templates for `b1_m1_blah` (if present) but won't add `m1` modifier and as so we'll just get `<div class="b1"></div>` as a result.

[2016-01-21 18:02] tadatuta commented on #180
seems like `extend()` works just for `elem` field and it extends `this.ctx` not `this`, isn't it?

[2016-01-21 18:12] zxqfox commented on #180
@tadatuta I'm wondered that it's working somehow at all. Shouldn't this be fixed?

[2016-01-21 18:14] tadatuta commented on #180
@zxqfox  sure. funny thing — there are tests for it and they pass :)

[2016-01-21 18:16] zxqfox commented on #181
Yeah, it looks like a critical thing for bemtree.

[2016-01-21 22:59] tadatuta commented on #180
just totally rewritten issue title and description

[2016-01-22 10:47] veged commented on #107
it's not only for "flexibility" but for consistency with `this.mods` and `this.elemMods`

[2016-01-22 10:49] veged commented on #49
we have `include` directive in older versions — it works so as you can imagine by semantic

[2016-01-22 10:55] veged commented on #175
I think we need just clarify difference for redefining between all modes and keep BEMXJST terms domain as thin as possible.

[2016-01-22 10:55] #175 closed

[2016-01-22 11:01] veged commented on #180
@tadatuta Am I right that you suggest `block('b1').extend({ 'ctx.blah': 'ololo' })` as shortcut for `block('b1').def(function() { return applyNext({ 'ctx.blah': 'ololo' }) })`?

[2016-01-22 11:40] tadatuta commented on #180
@veged yes

[2016-01-22 13:12] veged commented on #180
@tadatuta Ok, but we need to double think about naming... I'm strongly against redefining of current `extend`.

Could you provide more examples of such cases, maybe it bring inspiration.

[2016-01-22 13:41] tadatuta commented on #180
@veged
Won't it be more consistent to have `extend()` and (optionally) `extendCtx()` as we have `applyNext()` and `applyCtx()`?

There shouldn't be any issues with changing `extend()` semantics as it turned out not to work at all now.
We need shortcut to extend `this` as it's common way to tunnel some data to child nodes. And changes for `this.ctx` is just a subset of it, isn't it?

[2016-01-22 13:43] zxqfox commented on #175
@veged Did you even read description? ;-)

[2016-01-22 14:10] #172 closed

[2016-01-22 14:11] #179 closed

[2016-01-22 14:46] miripiruni commented on #179
@baymer [v4.3.3](https://github.com/bem/bem-xjst/blob/master/CHANGELOG.md#2016-01-22-v433-miripiruni)

[2016-01-24 17:49] veged commented on #175
@zxqfox formally yes — I try my best ;-)

read twice and still remain in conviction with my comment

so let's discuss it on nearest meeting

[2016-01-27 17:41] miripiruni opened #184 "Implement elems('a', 'b', 'c', ...)"
We decided to remove `elemMatch()` in favor of `elems('a', 'b', 'c', ...)`

[2016-01-28 22:47] miripiruni commented on #135
See #184

[2016-01-28 22:47] #135 closed

[2016-01-29 14:25] miripiruni opened #186 "[Online demo] Shortcut url"
Give ability to share http://clck.ru/Sseb90sb instead of  http://bem.github.io/bem-xjst/?bemhtml=block(%27b%27)(%0A%20%20%20%20content()(function()%7B%0A%20%20%20%20%20%20%20%20return%20apply(%27counter%27%2C%20%7B%20elem%3A%20%27swag%27%2C%20cid%3A%201234%20%7D)%3B%0A%20%20%20%20%7D)%2C%0A%20%20%20%20%0A%20%20%20%20%2F*elem(%27swag%27).*%2Fmode(%27counter%27)(function()%20%7B%0A%20%20%20%20%20%20

[2016-01-29 14:29] voischev commented on #186
:+1:

[2016-02-01 14:01] miripiruni opened #187 "BEMHTML: Should not render String or Array as attrs value"
[code]

[2016-02-01 14:04] miripiruni opened #188 "BEMHTML: should merge class from attrs and bem class"
[code]

actual result in 5.0.0: `<div class="b" class="test"></div>`

[2016-02-01 15:28] miripiruni opened #189 "Add to docs reapply() behavior description in BEMTREE"
[code]

Actual result with v5.0.0: `{ block: 'b1', content: { block: 'b2', content: 'fail' } }`

[2016-02-01 16:22] miripiruni opened #190 "BEMHTML: should trim and escape cls"
[code]

[Demo](http://bem.github.io/bem-xjst/?bemhtml=block(%27button%27).cls()(%27%20%20%20url%3D"a%3Db%26c%3Dd"%20%20%20%27)%3B&bemjson=%7B%20block%3A%20%27button%27%20%7D)

[2016-02-02 13:14] miripiruni opened #191 "CLI: implement apply templates to bemjson"
[code]

or
[code]

Breaking changes that I would like to see here: in current version stdout will give you a bundle of bemhtml or bemtree engine + user templates. I’d like to place this behaviour under flag `--bundle`.

[2016-02-02 13:53] tadatuta commented on #191
it won't be consistent for BEMTREE

[2016-02-02 14:10] zxqfox commented on #191
For BEMTREE it could output bemjson, right?

[2016-02-02 16:15] zxqfox commented on #135
Houston: http://goo.gl/U8JpEu — is this ok? I think we need a fix for 4.x

[2016-02-03 01:20] miripiruni commented on #151
“[I decided to close it as long as we do not understand, for whom it is actually needed.](https://github.com/bem/bem-xjst/pull/163#issuecomment-172847195)”

[2016-02-03 01:20] #151 closed

[2016-02-09 13:09] zxqfox opened #193 ".wrap() should explicitly provide context properties to this.ctx"
[code]
<div class="A">
    <div class="Y">
        <div class="Y__A-wrapper"></div>
    </div>
</div>
[code]

[2016-02-10 14:22] miripiruni commented on #137
https://github.com/bem/bem-xjst/wiki/Notable-changes-between-bem-xjst@1.x-and-bem-xjst@2.x#user-content-this_str-is-gone

[2016-02-10 14:22] #137 closed

[2016-02-10 14:47] miripiruni opened #194 "New docs"
Work in progress: https://github.com/bem/bem-xjst/wiki/about (russian version first).

Main goals:
- Actual manual
- Throw away deprecated docs
- More clear examples.

Sources:
- https://github.com/bem/bem-core/tree/v2/common.docs
- http://bem.info

[2016-02-10 15:44] miripiruni commented on #189
See #126

[2016-02-10 15:58] veged commented on #180
@tadatuta ok

[2016-02-11 10:34] miripiruni commented on #189
[Done](https://github.com/bem/bem-xjst/wiki/BEMTREE#%D0%9E%D1%81%D0%BE%D0%B1%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-thisreapply).

[2016-02-11 10:34] #189 closed

[2016-02-11 10:42] miripiruni commented on #154
I think it’s done. See [Notable changes between bem-xjst@1.x and 2.x](https://github.com/bem/bem-xjst/wiki/Notable-changes-between-bem-xjst@1.x-and-bem-xjst@2.x).

May I close this issue?

[2016-02-11 13:46] tadatuta commented on #154
@miripiruni I think differences in "user experience" should also be described (no more compilation results in much faster build time, possibility to add templates in runtime, execution performance increased, etc) and node.js API changes as well.

But the very first thing is to describe a way to convert old templates to JS syntax.

[2016-02-12 09:00] tadatuta opened #195 "Introduce something like replaceWithMix() helper"
We have quite common pattern in BEMTREE when some entity is replaced with some other and mixed with source entity:
[code]

It's needed for example to replace `my-project-specific-form__special-control` with `input` block from `bem-components` so BEMHTML templates could be applied.

cc @veged

[2016-02-12 11:11] zxqfox commented on #195
[code]
#171

[2016-02-12 11:48] miripiruni commented on #195
@zxqfox @tadatuta  `replace()(…)` ;)

[2016-02-12 11:50] tadatuta commented on #195
@miripiruni I'm just about special `replace()` with additional feature to mix with source entity

[2016-02-25 10:03] mishanga commented on #107
this.ctx — это текущий узел в BEMJSON. Он должен приходить в шаблон as is, без модификаций.
this — это контекст, его можно делать каким угодно.
Я голосую против этого issue. Предлагаю закрыть по wont't fix.

[2016-02-25 10:11] mishanga commented on #188
В BH сейчас так не работает, он тоже дает на выходе два атрибута class. И тестов таких нет.
Думаю, надо запретить явно модифицировать атрибут class.

[2016-02-25 10:18] voischev commented on #188
Как это запретить? `class` вдруг стал не `attrs`?

[2016-02-25 10:40] veged commented on #107
это выливается в то, что в коде нужно постоянно писать `(this.mods || (this.mods = {}))['my-mod'] = 'my-val'`

я не понимаю, в чём практическая польза соблюдения формальной строгости «as is без модификаций»?

[2016-02-25 10:42] veged commented on #107
если этот тикет закрывать, нужно делать обратный для того, чтобы `this.ctx.mods` не создавались — сейчас неконсистентность между `this.ctx.mods` и `this.ctx.elemMods`

[2016-02-25 11:23] mishanga commented on #188
Да, class — это не attrs :) Точно так же, как data-bem:
JSON: `{ block: 'a', js: true }`
XJST: `block('a').attrs()({ 'data-bem': 'lol' })`
HTML: `<div class="a i-bem" data-bem='{"a":{}}' data-bem="lol"></div>`

[2016-02-25 11:29] mishanga commented on #107
Да, this.ctx.mods тоже создавать не надо.
А пример выше про `(this.mods || (this.mods = {}))` показывает, что нужно сделать API для выставления значения модификатора в движке (как это сделано в BH) и последующим применением для этих вновь добавленных значений соответствующих шаблонов.

[2016-02-25 11:39] veged commented on #107
@mishanga ты не ответил на вопрос: в чём практическая польза соблюдения формальной строгости «as is без модификаций»? можно сделать API, но уже есть простой и нативный способ `this.ctx.mods.m = 'v'`

[2016-02-25 12:32] mishanga commented on #107
Практическая польза очень простая — не плодить неочевидное поведение.
У нас есть "сырой" (raw) контекст и кастомный контекст. Это понятно и удобно. Не надо смешивать одно с другим.
А для прямого присвоения модификатора можно писать `this.ctx.mods = this.extend(this.mods, { a: 'b' })` в прямом или обратном порядке, получая возможность задавать дефолты в BEMJSON.

[2016-02-25 14:28] veged commented on #107
кто и как может пострадать от такого не очевидного поведения? разве кто-то пишет шаблоны в расчёте на то, что `this.ctx.mods` будут `undefined`, если во входном BEMJSON нет этого поля?

`this.ctx.mods = this.extend(this.mods, { a: 'b' })` это и длиннее писать и медленнее чем `this.ctx.mods.a = 'b'`

[2016-02-25 15:40] narqo commented on #107
@veged @mishanga @tadatuta кажется в описание задачи некоторая подмена, что для чего делалось.

В bemhtml `this.ctx.mods = {}` делалось не для того, чтобы он «был всегда», а для того, что `this.mods` ссылался на тот же объект, что и `this.ctx.mods`. После этого, мы всем говорили (настоятельно), что в шаблонах трогать `this.ctx.mods` (и вообще `this.ctx`) не надо, что это входные параметры, которые

[2016-02-25 15:46] zxqfox commented on #107
Кстати, `Object.freeze(this.mods);` в дебаг режиме может будем делать?

[2016-02-25 16:36] mishanga commented on #107
@narqo я на этой встрече не был, но подход мне нравится. Если будет православный способ выставить модификатор в шаблоне, я обеими руками "за".

[2016-02-25 16:49] veged commented on #107
@mishanga да, @narqo всё правильно пишет, я просто везде в коментах не правильно писал `this.ctx.mods` — нужно читать как `this.mods`

[2016-02-25 17:42] voischev commented on #188
Никто в здравом уме не будет писать data-bem в attrs ... а вот class может захотеть написать любой новичек. Попробуй из запретить писать в attrs

а что нельзя сделать что бы все что в attrs перетерало то что из мод приехало? Это более ожидаемое поведение.
Запретить? Может предупредить?

[2016-02-25 17:46] zxqfox commented on #188
Более ожидаемое, чем вывод обоих? оба варианта сомнительные.

А вот в режиме отладки хорошо бы ругаться на `{attrs: { class: 'qwe' }}`, равно как и на `data-bem` там же.

[2016-02-25 17:48] voischev commented on #188
Вывод обоих это кстати похоже на "предупредить". Ничего против не имею

[2016-02-26 10:52] mishanga commented on #107
Ну, значит мы договорились. Надо тогда переформулировать это issue и завести другое: про добавление моды "mods" для добавления модификаторов.
[code]

[2016-02-26 10:54] mishanga commented on #188
@miripiruni предлагаю закрыть по won't fix и считать нынешнее поведение правильным.

[2016-02-26 11:41] miripiruni commented on #107
@mishanga :+1:

[2016-02-26 18:47] zxqfox opened #199 "Make this.extend as close as possible to Object.assign"
It's a breaking thing, but annoying.

[2016-02-27 14:32] Yeti-or commented on #199
how about polyfill?

[2016-02-27 21:43] tadatuta opened #201 "BEMHTML: Git rid of slashes for single tags (or make them optional)"

[2016-02-28 09:24] miripiruni commented on #201
I think we need an option `xhtml {Boolean}` with default value: false.

[2016-02-28 09:28] miripiruni commented on #194
https://github.com/bem/bem-xjst/pull/198

[2016-02-28 09:28] #194 closed

[2016-02-28 09:30] #177 closed

[2016-03-01 00:13] miripiruni commented on #166
@tadatuta can we close it because we already have documentation?

[2016-03-01 10:05] tadatuta commented on #166
Well, this issue can be closed but we should remember that there's also English translation of old docs on bem.info.

[2016-03-01 10:21] miripiruni commented on #166
I think we need to invite professional translator (namely not me :) to this task.

[2016-03-01 10:21] #166 closed

[2016-03-01 12:40] zxqfox commented on #166
We need another issue for that?

[2016-03-02 20:26] zxqfox opened #202 "applyCtx brokes this.position"
Example: http://goo.gl/fcnGpn

[2016-03-02 20:27] zxqfox opened #203 "applyCtx brokes context if there are star matchers only"
Example: http://goo.gl/LpdqpQ

[2016-03-03 17:13] tadatuta opened #204 "BEMHTML: Templates should be able to override tag from BEMJSON"
This https://github.com/bem/bem-xjst/blob/master/test/modes-tag-test.js#L38-L44 should be reversed and backported to `v4` ASAP as it affects SERP.

cc @tavriaforever

[2016-03-05 15:31] tadatuta opened #208 "Use bemmet in sandbox"
http://tadatuta.github.io/bemmet/

[2016-03-06 19:15] a-x- opened #209 "New mode `mods` for bemhtml"
Let's use `mods()({ ... my mods ... })` expr in BEMHTML.js instead of
[code]

i try implement mods myself, but got defeat

----
I tried make PR in bem-core recently, but its't correct place
https://github.com/bem/bem-core/pull/1264
[code]

[2016-03-06 19:20] a-x- commented on #209
Кажется что mods(), так же важна как и mix() и пр.

[2016-03-07 01:59] a-x- opened #210 "Global block ctx"
now i need proxy ctx in elems
stupid example:
[code]

In ideal world:
[code]

----

p.s. i understand, that global vars are evil, buuut...

[2016-03-07 02:08] a-x- opened #211 "Change api: this.param instead of this.ctx.param"
there is crazy non-realistic idea...

move service stuff in something like `this._`, because its are used rarely.
and move block's `params` from `this.ctx` to `this`, because its are used frequently

[2016-03-09 11:27] miripiruni opened #212 "Warning about class or data-bem in `attrs`"
In “development” mode `{ attrs: { class: 'qwe' } }` and `{ attrs: { 'data-bem': '…' } }` bem-xjst should warn.

[2016-03-09 11:27] miripiruni commented on #188
Closed in favor https://github.com/bem/bem-xjst/issues/212

[2016-03-09 11:27] #188 closed

[2016-03-09 11:48] miripiruni commented on #209
Closed as duplicate https://github.com/bem/bem-xjst/issues/107

[2016-03-09 11:48] #209 closed

[2016-03-09 11:50] miripiruni commented on #204
Fixed in #205

[2016-03-09 11:50] #204 closed

[2016-03-09 11:59] miripiruni commented on #181
Look like won’t fix.

I think `mods.m1` is kind of hack which you do not want use. And why you want apply b1_m1_blah but won’t add modifier?

[2016-03-09 12:08] tadatuta commented on #181
I don't know why `mods.m1` is a hack but still think current implementation far from intuitive.

PS: The issue was created as a result of a bug in real project code (and it took quite a while to understand what's going on there).

[2016-03-09 12:09] miripiruni commented on #211
@a-x- what kind of stuff you named “service stuff”?

Are you read [documentation](https://github.com/bem/bem-xjst/blob/master/docs/ru/6-templates-context.md#Что-доступно-в-теле-шаблона)? In this section explained in detail about semantics of `this` fields and `this.ctx`.

Feel free to reopen this discussion if something not clear.

[2016-03-09 12:09] #211 closed

[2016-03-09 12:16] miripiruni commented on #210
You may be surprised, but [here is live example of what you want](http://bem.github.io/bem-xjst/?bemhtml=block(%27b%27)(%0A%20%20%20%20content()(function()%20%7B%0A%20%20%20%20%20%20%20%20var%20ctx%20%3D%20this.ctx%3B%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20return%20%5B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20elem%3A%20%27elem1%27%2C

[2016-03-09 12:16] #210 closed

[2016-03-09 13:11] miripiruni commented on #199
@zxqfox why `bem-xjst` should have this ternary inspection?

If you can use `Object.assign` in templates it’s good. But why we need a polyfill in `this.extend`?

[2016-03-09 13:37] miripiruni commented on #154
@tadatuta Done!

[2016-03-09 15:07] zxqfox commented on #199
You suggest to drop this.extend?

[2016-03-09 16:06] miripiruni commented on #199
Yep. Someday.

[2016-03-10 10:13] miripiruni commented on #199
@zxqfox I can close issue in the hope that someday we will declare `this.extend` deprecated?

[2016-03-10 10:21] voischev commented on #199
Ох... Вот это будет больно.

[2016-03-10 11:24] tadatuta commented on #181
I just was asked why
[code]
is not working in BEMTREE.

Still think it's a bug.

[2016-03-10 11:53] miripiruni commented on #181
I Agree. Bug.

Template:
[code]

BEMJSON:
[code]

BEMTREE result:
[code]

[2016-03-10 12:04] zxqfox commented on #199
@miripiruni I don't see why we can't improve `this.extend` for now. Regardless of the deprecation. ;-)

[2016-03-10 12:06] miripiruni commented on #199
@zxqfox what benefits?

[2016-03-10 12:14] zxqfox commented on #199
Expectations: https://lodash.com/docs#assignIn http://api.jquery.com/jQuery.extend/
Reality: Well, you know.

[2016-03-10 13:32] miripiruni opened #213 "Throw away `once()`, `local()` and `this.isArray()`"
We [daclare this things as deprecated in 6.0.0](https://github.com/bem/bem-xjst/blob/master/CHANGELOG.md#2016-03-09-v600-miripiruni).

In 7.0.0 we can get rid of it.

[2016-03-10 22:10] tadatuta opened #214 "BEMHTML: Inverse xhtml option default value to false"
Related to https://github.com/bem/bem-xjst/pull/206

In 7.0.0

[2016-03-13 17:19] a-x- commented on #210
no, it's not

[2016-03-13 17:27] a-x- commented on #210
i have to proxy all params into elems now

i want access all block's params in its elems via API, w/o proxing

[2016-03-13 17:29] a-x- commented on #210
Это частый кейс, и проксирование обычно тривиально и только засоряет шаблоны

[2016-03-13 17:33] a-x- commented on #211
Thank you,
I haven't seen above linked documentation page

Recently i dramatically improve my xjst understanding,
and i know about this.ctx.mods and this.mods, for example today.

I'll read doc too.

[2016-03-13 17:37] a-x- commented on #211
any way, `this.ctx.someParam`, is uses more frequently than `this.something` as i see

[2016-03-13 17:43] a-x- commented on #211
for example in our project:
[code]

[2016-03-14 12:13] miripiruni commented on #211
What do not you like? That `this.ctx.prop` is longer than `this.prop`? We can’t merge this.ctx fields and this fields because it’s different objects.

[2016-03-14 12:15] miripiruni commented on #210
Can you show more examples?

[2016-03-14 12:16] miripiruni commented on #210
@a-x- thank you for your feedback!

[2016-03-14 16:03] miripiruni commented on #211
@a-x- we can’t change API as you suggest in issue title. Because of bemjson:
[code]

[code]

But I have good news for you: take a look at https://github.com/bem/bem-xjst/pull/200

After merge you can write templates:
[code]

[2016-03-14 22:41] miripiruni commented on #199
So can I close?

[2016-03-14 23:04] narqo commented on #199
:+1: for deprecation of `this.extend()`.

`Object.assign()` and `$.extend()` work different (at least for keys \w `undefined` values), so the point about expectations is quite doubtful, IMHO.

[2016-03-15 09:30] zxqfox commented on #199
@narqo Yes, but the current behaviour is quitely different from both of them. It's even worse.

[2016-03-15 20:27] zxqfox opened #218 "Mix mode is little bit broken since v5.1"
http://goo.gl/GdhxL8

BH doesn't have tests for BEMHTML modes so we need to write our own.

[2016-03-17 15:27] a-x- commented on #210
here: https://gist.github.com/a-x-/a380c1f4d5d0dc997e7a
we set global ctx (`this.params = this.ctx.params`) and we use it around wide block elems

[2016-03-17 15:30] a-x- commented on #211
cool

[2016-03-23 16:10] zxqfox opened #220 "Mods with numeric values does not match to string matchers"
`mod('a', 1) does not match { mods: { a: '1' } }`.

As well as opposite:
`mod('a', '1') does not match { mods: { a: 1 } }`.

http://goo.gl/y1BOEY

Same with boolean modifiers with falsy values `''` and `false`.

[2016-03-23 22:39] #218 closed

[2016-03-23 23:03] #171 closed

[2016-03-23 23:57] #174 closed

[2016-03-24 00:26] zxqfox opened #222 "More correct isLast without performance leaks"
Why we can't calculate the last entity on the first `this.isLast()` call for the scope?

[2016-03-24 11:19] miripiruni opened #223 "Enable 'use strict'"

[2016-03-24 11:38] awinogradov opened #224 "separate engines as npm packages"
Ok, guys!;)

Fast explanation:

[code]

[2016-03-24 11:59] blond commented on #224
Why? :)

[2016-03-24 12:49] awinogradov commented on #224
@blond because I want to use different engines in different projects. I want to write other engines for bem-xjst. Now new engines from community can't be in bem-xjst and I don't way to make useful extensions. Every engine can work without other engines. Why I should install all with bem-xjst?

[2016-03-24 15:09] miripiruni commented on #154
@tadatuta May I close?

[2016-03-24 16:55] zxqfox opened #225 "block with mods in mix of elem does not work"
bem-xjst 5

http://goo.gl/ZcBS67

[code]

[code]

[2016-03-24 20:55] tadatuta commented on #224
@awinogradov
actually there's no harm in having some extra engines in your `node_modules` folder, you won't get useless code in built bundle anyway.

[2016-03-24 20:56] #154 closed

[2016-03-24 21:05] awinogradov commented on #224
yes) I can generate every bungle in different npm packages. You know it;)

[2016-03-28 19:07] 4ok opened #226 "Mode "replace" don't has arguments"
[code]

But:

[code]

[2016-03-28 19:40] zxqfox commented on #226
It's about ES6?

[2016-04-01 13:45] miripiruni opened #230 "BEMTREE demo"
bem-xjst have BEMTREE engine and BEMHTML engine. In online demo we need to have an selector for engines.

Online demo: https://bem.github.io/bem-xjst

Source code of online demo: https://github.com/bem/bem-xjst/tree/gh-pages

[2016-04-01 13:46] miripiruni commented on #230
// cc  @tenorok

[2016-04-01 13:49] miripiruni opened #231 "`BEM.I18N` stub for demo"
We need to mock this function in online demo: https://github.com/bem/bem-core/blob/v3/common.blocks/i18n/i18n.test.js

`BEM.I18N()` should exist in global scope for conveniences. Just in case I want copy-paste example from real project:

[code]

`BEM.I18N('search-page', 'search-item')` should return `search-item`.

Online demo: https://bem.github.io/bem-xjst

Source code of online demo: https://gi

[2016-04-01 14:21] tenorok commented on #230
Thank you for this issue.
May be it would be more understandably for users who want learn bem-xjst through practicle examples.

[2016-04-01 14:27] zxqfox commented on #231
In bem-xjst?!

[2016-04-01 14:54] miripiruni commented on #231
In online demo. Just simple stub like this: `function (str) { return str; }`

[2016-04-01 16:54] tenorok opened #232 "Ability to pass attribute style as object"
Ability to pass object for attribute `style` can be very useful, because we will be able to extend this object and it is cool sugar – we free from necessary concatenate strings.

I think that we should realize next moments:
1. Property name can be specified with minus (`text-align`) or as camel case (`textAlign`)
2. Property value can be specified as number – in this case we mean `px` (except zero

[2016-04-01 19:46] tadatuta opened #233 "Support CSS Modules"

[2016-04-02 15:55] nik-kor opened #236 "apply('content'), apply('tag') and others must return default values from `this.ctx`"
[code]

Проверяли и на версии 6.2

http://bem.github.io/bem-xjst/?bemhtml=%0Ablock(%27b1%27).def()(function()%20%7B%0A%20%20%20%20return%20applyCtx(%5Bapply(%27content%27)%2C%20apply(%27tag%27)%2C%20%27xxx%27%2C%20this.ctx.tag%5D)%0A%7D)%3B&bemjson=%5B%7B%20block%3A%20%27b1%27%2C%20tag%3A%20%271%27%2C%20content%3A%20%27hahaha%27%7D%5D

[2016-04-05 12:14] zxqfox opened #239 "elemMods doesn't work well in 4.3.4"
https://goo.gl/FJOfZm

Something like: `this.elemMods = this.ctx.elemMods = this.elemMods || this.ctx.elemMods || {};`?

[2016-04-05 12:15] zxqfox opened #240 "gzip bemjson/bemhtml in demo urls if it's too long"
E.g. with https://github.com/beatgammit/gzip-js and https://github.com/dankogai/js-base64

[2016-04-06 16:02] miripiruni commented on #236
Critical

[2016-04-06 18:56] zxqfox commented on #155
We decided to NOT support async BEMTREE, isn't it?

[2016-04-08 12:15] #226 closed

[2016-04-12 13:19] tadatuta opened #241 "Support nested mixes"
`jsParams` and CSS classes should be merged from all mixes templates.

See https://github.com/bem/bem-core/issues/806 and https://github.com/bem/bem-core/issues/807 for details

[2016-04-12 13:22] tadatuta opened #242 "Introduce `addToArray` and `addMixTo` helpers"
See https://github.com/bem/bem-core/issues/820 for details

[2016-04-13 19:30] zxqfox commented on #242
Related: https://github.com/bem/bem-xjst/issues/139 ?

[2016-04-13 23:07] a-x- opened #244 "What about alert access incorrect sub-predicate"
Following error:
`block('commercial-controller').js(true);`
results piece of awesome in ever irrelevant block and no any debug info
![2016-04-14_02-01-26](https://cloud.githubusercontent.com/assets/6201068/14512150/93c9d118-01ed-11e6-9981-ac82513cacdd.png)

p.s. normal look:
![2016-04-14_02-05-56](https://cloud.githubusercontent.com/assets/6201068/14512182/ded2e492-01ed-11e6-8f9a-1b6e6def2f94.png)

[2016-04-13 23:09] zxqfox commented on #244
Did you tried: `.js()(true);`?

[2016-04-13 23:09] a-x- commented on #244
Is it possible alert (throw/console.log/...) these cases?

[2016-04-13 23:09] zxqfox commented on #244
Did you tried to update?

[2016-04-13 23:09] a-x- commented on #244
yeah, i know about my error

[2016-04-13 23:09] a-x- commented on #244
it is another question

meta question)

[2016-04-13 23:10] a-x- commented on #244
i want bem-xjst to make local warns for cases like mine

[2016-04-13 23:12] zxqfox commented on #244
I'm just sure that it's already throwing ;-) https://github.com/bem/bem-xjst/blob/master/test/modes-js-test.js#L7

[2016-04-13 23:14] a-x- commented on #244
yep, i know :)
but this warn suppressed in most cases.

may be add throw?

[2016-04-13 23:17] a-x- commented on #244
may be there is catch in our templates... :hankey:

[2016-04-13 23:17] zxqfox commented on #244
You should try enb-debug and all this shit... https://nda.ya.ru/3RUJzm

[2016-04-13 23:21] a-x- commented on #244
thanks!

[2016-04-13 23:21] #244 closed

[2016-04-13 23:32] zxqfox opened #245 "Helper to prevent executing mode's body if there is data in bemjson"
Related #175

I believe we should have helpers as replacement for modes' default content.

`block('block2').match(function() { return !this.ctx.content; }).content()(() => 'default content');`.

`match(function() { return !this.ctx.content; })` can be something like `default` (but `def` already there). Can you think about better name?

The same can be useful for other modes:
[code]
etc.

[2016-04-13 23:38] zxqfox opened #246 "Helper to reverse sub-predicate's condition"
Related #175, #245, #336

Something like `.not()` for:
[code]

[2016-04-19 12:32] zxqfox opened #247 "Add bem/eslint-plugin-bem-xjst to waffle board"
I think we should grab https://github.com/bem/eslint-plugin-bem-xjst to support and port there all the static linter things we need.

[2016-04-22 13:04] zefirka opened #249 "Use bem-xjst with browserify"
I have some requires of CommonJS modules in my bemhtml templates. Like a:
[code]
I'm building my templates with `enb-bemxjst` and at the end I will get `?.bemhtml.js` bundle. There are requires from `bem-xjst` in code:
[code]

Also I have requires from my templates in this bundle. But when I try to resolve requires in my bemhtml templates with browserify - I can't do it cause of browserify can't r

[2016-04-22 13:26] tadatuta commented on #249
@zefirka you may use https://github.com/enb/enb-bemxjst#%D0%9F%D0%BE%D0%B4%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5-%D1%81%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D0%BD%D0%B8%D1%85-%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA

[2016-04-22 16:51] miripiruni opened #250 "bemxjst.compile: error when passed function with name"
`test.js`:
[code]

[code]

[2016-04-24 11:59] zxqfox opened #252 "Possible optimization of xmlEscape"
In lodash there is simple check before replacing:
[code]

Guess we should try something like that:
[code]

[2016-04-24 22:12] miripiruni commented on #249
@zefirka the question is closed?

[2016-04-24 22:14] miripiruni commented on #252
So, where is the PR? ;)

[2016-04-25 07:21] zefirka commented on #249
@miripiruni Pretty much. Thanks! It work.
But when I use module names like:
[code]

In final bundle in object which describes requirements I have:
[code]

[2016-04-25 11:08] zxqfox commented on #249
@zefirka Thank you. Closing this since it's a bug in enb-bemxjst module: https://github.com/enb/enb-bemxjst/issues/170

[2016-04-25 11:08] #249 closed

[2016-04-25 18:54] zxqfox opened #253 "Unify values somehow of passed modifiers"
Since modifiers can be strings and the `true` value, can we somehow sanitize them to not allow empty (as it's the same as boolean false and non existence).

Or maybe we can sanitize modifier value somehow? Helper?

[2016-04-27 12:42] zxqfox opened #254 "`mods` disappearing after wrapping an element"
http://goo.gl/Nc01NK

[code]
+
[code]
→
[code]

[2016-04-28 14:38] miripiruni opened #256 "Should block('*') apply to elems?"
Examples: http://goo.gl/SBJszu

[2016-04-28 14:39] miripiruni commented on #256
cc @veged @mishanga @st-lukas

[2016-04-28 14:57] miripiruni commented on #256
I think no. Current behaviour looks like a bug.

[2016-04-28 15:13] miripiruni commented on #256
In the other hand, this behaviour is quite comfortable for those who want to match to all entities (blocks and elems).

[2016-04-28 16:36] tadatuta commented on #180
It turned out there's more then none users of this mode (YaMoney ;)

Let's fix it!

[2016-04-28 16:48] zxqfox commented on #256
Of course, not! Whenever we need to apply something to every element we can use: `block('*').elem('*')`.

[2016-04-29 07:50] St-Lukas commented on #256
Current behaviour is surprising when you expect that similar templates apply only to blocks.

[2016-04-29 08:26] mishanga commented on #256
Поведение действительно странное, но его нельзя просто так оторвать, т.к. придется дублировать тело шаблона для `block('*')` и `block('*').elem('*')`.
Нужен какой-то более универсальный подпредикат, под который будут попадать вообще все узлы bemjson-дерева.

[2016-04-29 09:26] veged commented on #256
особенно это будет проблемой в https://nda.ya.ru/3RWXFK — нужно придумывать альтернативный способ

[2016-04-29 09:58] miripiruni commented on #180
@tadatuta can you show their use case?

[2016-04-29 11:40] St-Lukas commented on #256
+1 за более универсальный подпредикат, он как раз и поможет в случае с https://nda.ya.ru/3RWXFK
Вот еще пример, почему так оставлять не стоит:
https://goo.gl/5ILcm8
Т.е. приоритет для элемента у ``block('*')`` выше, чем у ``elem('*')``

[2016-04-29 15:12] tadatuta commented on #180
just sent you an email

[2016-05-04 11:50] St-Lukas opened #258 "Use single-quotes for data-attributes (or all attributes)"
Content of data-attributes is often JSON-serialized string. So if double-quotes is used in attributes then data-attributes are escaped with overhead and looks unreadable because JSON-serialization uses double quotes too.
Example:
http://bem.github.io/bem-xjst/?bemhtml=%20&bemjson=%7B%0A%20%20%20%20block%3A%20%27a%27%2C%0A%20%20%20%20attrs%3A%20%7B%0A%20%20%20%20%20%20%20%20%27data-info%27%3A%20%27

[2016-05-04 11:50] St-Lukas commented on #258
cc @miripiruni

[2016-05-04 14:53] miripiruni commented on #256
TO ALL: А чем вот так плохо? https://goo.gl/ABfIlj

[2016-05-04 14:58] zxqfox commented on #256
https://goo.gl/ygm5Tf

Должно ли это работать для `{justASimpleObject: true}`?

[2016-05-04 15:31] miripiruni commented on #258
See: https://github.com/bem/bem-xjst/blob/master/lib/bemhtml/index.js#L172

[2016-05-04 15:34] miripiruni commented on #256
@zxqfox Nope

[2016-05-04 15:36] tadatuta commented on #180
it turned out it was other `extend` :)

[2016-05-04 15:42] #250 closed

[2016-05-04 15:45] miripiruni opened #259 "API .generate(): support arrow functions"
https://github.com/bem/bem-xjst/pull/251

`(() => { return 'lol'; }).toString()`

[2016-05-04 16:02] miripiruni commented on #253
Won't fix for now

[2016-05-04 16:02] #253 closed

[2016-05-04 16:05] miripiruni commented on #252
We need benchmark result.

[2016-05-04 16:11] #247 closed

[2016-05-04 16:18] miripiruni commented on #246
there is a problem with `elem()` subpredicate and automatically insertion of `!this.elem`: `block('b1').not(elem('e1'))` will be treated as `block('b1').match(function() {return !this.elem}).match(function() { return this.elem !== 'e1' })`

[2016-05-04 16:22] miripiruni opened #260 "Remove `elemMatch`"
https://github.com/bem/bem-xjst/pull/165

grep -HR 'elemMatch' ./lib

[2016-05-04 16:41] miripiruni commented on #246
it's better to introduce separate `notMod`, `notElemMod`, `notBlock`, `notElem`

[2016-05-04 16:42] miripiruni commented on #246
to continue with this issue we need strong proof about current codebase of wide usage for such cases

[2016-05-04 16:46] miripiruni commented on #245
we need statistic for such cases in real codebase

[2016-05-05 09:58] miripiruni opened #261 "Semantic: change behaviour of `mix`, `js` and `attrs` modes"
`.mix()('b')` should set `b` as mix. Last call of `mix()` set new value which is not extended previous.
`.addMix()('newMix')` should extend value of previous mix value.

The same for `js()` and `attrs()`.

Also, I think we need `addContent()` mode to avoid `applyNext()` copypaste in chain of the same mode templates.

BTW, see https://gist.github.com/miripiruni/7561cc8ad56d0d4d5184

[2016-05-05 10:05] miripiruni commented on #230
See https://github.com/bem/bem-xjst/pull/238/commits/3260190d3654730eda0cbe0d6ac02c9107f0e663

[2016-05-05 12:40] #168 closed

[2016-05-05 17:24] miripiruni commented on #186
Already done.

[2016-05-05 17:24] #186 closed

[2016-05-05 18:24] #201 closed

[2016-05-08 12:58] tadatuta opened #265 "Provide more informative error message"
Now when there's `applyNext()` in template body not wrapped in `function() {}` error message and stack trace are far from useful:
[code]

Live example: https://goo.gl/Oiuy8q

[2016-05-08 13:36] zxqfox commented on #265
Same for `apply('content')`, `applyCtx()`.

[2016-05-11 10:27] #254 closed

[2016-05-11 13:05] #260 closed

[2016-05-11 14:38] miripiruni commented on #225
@zxqfox what bem-xjst version 5.0.0? In [v5.1.0](https://github.com/bem/bem-xjst/releases/tag/v5.1.0) I already fixed this bugs.

[2016-05-11 14:38] #225 closed

[2016-05-11 14:56] miripiruni commented on #220
We need to disscuss current behaviour of `mod()` mode
Here is [showcase](http://goo.gl/vDHtyW).

[2016-05-11 15:07] miripiruni commented on #220
We definitely should write about it in docs.

[2016-05-11 16:21] zxqfox commented on #220
What's changed?

[2016-05-11 20:00] miripiruni commented on #220
@zxqfox look at my [showcase](http://goo.gl/jho9eV).

[2016-05-11 20:00] zxqfox commented on #220
We decided it's a bug the last time. What's changed?

[2016-05-12 13:45] L0stSoul commented on #232
Я так думаю что ядро фичи заключается в следующем:
Очень хочется не конкатенировать эту строку руками.
Если например через инлайновые стили нужно задачть ширину и высоту, у нас получается какой то такой код:
[code]
хочется иметь возможность писать что то похожее:
[code]
Это поидее полностью эквивалентные куски кода :)

Тоесть поведение должно быть как у условного поля mix или чего то такого, его м

[2016-05-12 13:46] L0stSoul commented on #232
В общем +1;

[2016-05-12 15:49] xoxulin commented on #232
`zIndex: 1001` => `z-index: 1001px`, also `flex-grow|shrink|order` etc.

[2016-05-12 15:50] xoxulin commented on #232
More exceptions => more code => more time :(

[2016-05-12 15:55] xoxulin commented on #232
Если дотачивать до исключений (z-index etc.), то добавится много кода - придется знать дефолтные юниты для css свойств - оверхед. Может быть стоит подумать на счет расширяемости за счет плагинов / полифилов / сахара, а не хардкода?!

[2016-05-12 15:59] tenorok commented on #232
С одной стороны — можно принять, что к числу всегда дописываются пиксели, а если нужно этого избежать, то достаточно передать значение в виде строки.
С другой стороны — согласен, дописывание пикселей выходит муторной темой.

[2016-05-12 16:01] miripiruni commented on #232
Никакого сахара (вида автодобавления px к числу в значениях к определенным свойствам) я не обещаю.

[2016-05-12 16:02] miripiruni commented on #232
Логично сделать просто механизм сериализации `{ block: 'b', attrs: { style: { …} } }`, чтобы избавится от избыточного кода при генерации атрибутов.

[2016-05-12 17:22] sladex commented on #232
+1
Автодобавление px по-моему лишнее, оверхэд и все равно не покроет все случаи.

Про расширяемость можно в эту сторону подумать:
[code]

[2016-05-12 23:40] kaero commented on #232
Почему для этого нельзя сделать просто функцию вне bem-xsjt, которая сериализует такой объект в строку? Почему это должно быть в шаблонизаторе, генерирующем разметку? Более того, готов поставить сотку на то, что кто-то такое уже написал.

[2016-05-13 07:25] Guria commented on #232
угу https://www.npmjs.com/package/to-style
[code]

ну или:
[code]

[2016-05-13 08:40] miripiruni commented on #232
Можно. Но. Ко мне пришли независимо друг от друга для человека @L0stSoul и @tenorok и просят сделать это в самом bem-xjst.

По моим оценкам запилить фичу в самом базовом варианте (см PR) заняло 15 минут. Поддерживать фичу не составит особого труда (по-моему, она достаточно четкая если говорить только про базовую сериализацию `block.attrs.style {…}`). Поэтому не понимаю зачем заставлять разработчик

[2016-05-13 08:59] kaero commented on #232
Такими темпами у тебя тут появятся локализации, css-препроцессор и grep — это все тоже очень нужные и полезные штуки, зуб даю.

[2016-05-13 09:09] xoxulin commented on #232
https://github.com/facebook/react/blob/25481083b0138fe052fcd00c591dc5e10e0a64d6/src/renderers/dom/shared/dangerousStyleValue.js - да)

[2016-05-13 09:55] miripiruni commented on #232
@kaero убедил.

@L0stSoul @tenorok  покажите, пожалуйста, примеры шаблонов в которых хочется этой фичи.

[2016-05-13 09:56] L0stSoul commented on #232
Можно конечно, так же можно сделать функцию которая сериализует в строку поля mix, elem, и block.

[2016-05-13 10:22] miripiruni commented on #232
@L0stSoul а теперь смотри.

[code]

Допустим я волью PR в текущем виде. Код второго шаблона можно будет переписать в виде:
[code]

Как решится проблема c `if` для проверки содержимого полей? Никак :)

Поэтому, похоже что нужно активнее использовать шаблоны и `match()`. Всё как я рассказывал на поледнем докладе на Пятнице. Там были хорошие примеры.

Use pattern matchng, Luke.

[code]
+
[code]

[2016-05-13 11:17] miripiruni commented on #232
I suggest to use third-party package to stringily styles hash. Look at [to-style](https://www.npmjs.com/package/to-style) or similar. You can use [bemcontext](https://github.com/bem/bem-xjst/blob/master/docs/en/3-api.md#bemcontext) extend API for connect such packages.

Feel free to reopen this issue or open the new one.

[2016-05-13 11:17] #232 closed

[2016-05-13 11:22] tenorok commented on #232
@kaero всё таки описанная в этой задаче возможность относится непосредственно к шаблонизации, в отличии от локализации, css-препроцессоров и грепа :-)

[2016-05-13 11:27] tenorok commented on #232
@kaero а так то можно и БЭМ-шаблонизатор не писать. Есть же отдельный пакет для CSS-классов: https://github.com/albburtsev/bem-cn — и не один такой 😄

[2016-05-13 11:54] miripiruni commented on #47
So, I already commit [new showcases](https://github.com/bem/bem-xjst/tree/master/bench/templates):
1) granny — ~100 templates.
2) serp — ~1000 templates.

It’s real production templates and BEMJSON.

[2016-05-13 11:54] #47 closed

[2016-05-13 12:40] zxqfox commented on #232
Я ошибаюсь, или сейчас ядро bem-xjst собирается именно реквайрами через browserify? Т.е. мы пользуемся плохими сторонами?

[2016-05-16 16:23] awinogradov commented on #236
@miripiruni we can close it, right?

[2016-05-16 22:05] 4ok opened #269 "Mode "replace" does not delete "mods" field from context"
[code]

Output:

`RangeError: Maximum call stack size exceeded`

Because — `ctx.mods.modName === 'modVal'`

[2016-05-17 08:58] miripiruni commented on #269
Nope. I can’t reproduce it. Example: http://goo.gl/LExHnM

[2016-05-17 09:05] miripiruni commented on #269
Which version of bem-xjst?

[2016-05-17 09:19] miripiruni commented on #269
Oh. I see. v6.4.1.

Looks like it’s relevant to #262

[2016-05-17 09:41] miripiruni commented on #269
It looks like wontfix because your replacer is the same block.

[2016-05-17 11:59] 4ok commented on #269
Previously, it worked with the deletion. Your example http://goo.gl/LExHnM

[2016-05-17 12:24] miripiruni commented on #269
@4ok because of fix #262 the behaviour was changed.

[2016-05-17 16:10] 4ok commented on #269
@miripiruni I think what mode wrap and replace must has different behaviour.  IMHO mode `replace` needs to replace the context.

How can I call the block without modifier, from same block with modifier otherwise?

[2016-05-17 16:16] zxqfox commented on #269
@miripiruni Perhaps, replace should not take mods for blocks from parents as well as elemMods for elems, no?

[2016-05-18 12:54] vladkhvo opened #271 "Is it possible to build it with webpack?"
I couldn't build it with webpack, because node-module fs broke build.

[code]

Is it possible to use it on client-side, without enb?

[2016-05-18 13:24] zxqfox commented on #271
[`require('bem-xjst').generate("block('a').tag()('a');")`](https://github.com/bem/bem-xjst/#generatestring-or-function) will make a ready for use bundle for you.

Look also at https://github.com/gulp-bem/gulp-bem-xjst — "without enb" (as requested).

[2016-05-18 15:54] #271 closed

[2016-05-18 15:55] vladkhvo commented on #271
Thanks for answer!

[2016-05-18 16:13] zxqfox commented on #271
Btw, take a look at https://github.com/bempack/bemhtml-loader /cc @sullenor

[2016-05-19 16:05] baymer commented on #246
When we need to check is mod not exist we can not use pattern like that:
[code]
Because `position` can be zero or some thing like that.
So we need use
[code]
But, much better
[code]

[2016-05-19 21:07] miripiruni opened #274 "Support `mod('m')` and `elemMod('em')` without second argument."
From [i-bem documentation](https://en.bem.info/technology/i-bem/v2/i-bem-js-mods/#modifiers):

`mod('m')` is the same as `mod('m', true)`

[2016-05-19 21:33] zxqfox commented on #274
Are you sure?

[2016-05-19 21:58] veged commented on #274
no! you refer to `setMod('m1')`, which is exactly shortcut for `setMod('m1', true)`, BUT `mod('m1')` in terms of "matching" is the same as `mod('m1', '*')`

it's not clear from [documentation](https://en.bem.info/technology/i-bem/v2/i-bem-js-decl/#adding-a-modifier-to-a-block) (sorry, that's my fault)

[2016-05-19 21:59] miripiruni commented on #274
Oh my…

[2016-05-19 22:24] zxqfox commented on #274
Insane! <3 u all, ty for clarification!

[2016-05-20 10:18] #187 closed

[2016-05-20 10:25] #259 closed

[2016-05-20 10:35] #269 closed

[2016-05-20 10:35] miripiruni commented on #269
Fixed in v6.4.2

[2016-05-20 10:45] miripiruni commented on #190
Released in v6.5.1

[2016-05-20 10:45] #190 closed

[2016-05-20 13:39] Guria opened #276 "improve `def` mode description"
Documentation warns us not to use `def` without truly necessity:

But at the same time this mode is actively used in `bem-components`.

We need better examples how and when this mode should be used.

[2016-05-20 13:47] tadatuta commented on #276
We need to fix `extend()` mode (see [#180](https://github.com/bem/bem-xjst/issues/180)) and implement `mods()` ([#107](https://github.com/bem/bem-xjst/issues/107)).

It will give possibility to remove most of `def()` in `bem-components`.

[2016-05-31 19:50] Guria commented on #224
+1
Though it will require some better splitting of responsibility and some breaking changes.
Eg:
[code]

[2016-05-31 19:58] Guria opened #286 "bemhtml specific in bemxjst runtime"
`bemxjst` has some specifics not needed for `bemtree` runtime, like:
https://github.com/bem/bem-xjst/blob/v6.5.1/lib/bemxjst/tree.js#L354-L376
Not so much, but I wonder if it's possible to have better split of responsibilities.

[2016-05-31 20:02] Guria opened #287 "unopinionaited generic xjst runtime"
I wonder if it's possible to extract basic runtime without bem-specific modes.
[xjst](https://github.com/veged/xjst) initially was for [general purpose data transfomations](https://github.com/veged/xjst#data-transformations). Would be great to have modern runtime implementation for other then bem-related usages.

[2016-05-31 20:09] vithar commented on #287
Can you define potential users of such runtime?

[2016-05-31 20:39] Guria commented on #287
From `veged/xjst`

* HTTP request router
* template engine
* AST transformator
* parser

Also
* `svg` engine
* api transformations
* https://github.com/paularmstrong/normalizr
* `postcss`/`posthtml` users could like modular `xjst` as well :)
* `xjst` also suitable as actions/classe factories

Also I am bit crazy on splitting of responsibilities. I think it helps codebase to be more readable and mi

[2016-05-31 20:45] awinogradov commented on #287
👍

[2016-05-31 21:19] zxqfox commented on #287
That's all good but what you expect from `bem-xjst`? What the API you propose?

[2016-05-31 21:26] Guria commented on #287
xjst: `apply*`, `match`, `def`, `once`, `wrap`, `mode`, `replace`, `oninit`
bemxjst: `block`, `elem`, `mod`, `elemMod`, `mix`, `content` + above
bemtree: above
bemhtml: `tag`, `cls`, `attrs`, `js` + above

[2016-05-31 21:36] zxqfox commented on #287
No, I mean we talking about JS now, what the API you await? Some example in JS would be awesome.

I know as a user of old known xjst that there are a bunch of disadvantages related to it's complexity. It's really hard to use on custom transformations in comparison to XXXtraverse + vanilla.js.
And even if xjst useful for creating languages, anyway there are no so much cases for that at my POV.

Atm

[2016-06-03 21:12] miripiruni commented on #286
I think we need to move these lines to `lib/bemhtml/tree.js`.

[2016-06-09 11:19] arikon opened #289 "Slow render.close() in profile logs"
TBD from @miripiruni

[2016-06-09 11:23] arikon commented on #289
Let's try to reuse strings with closing tags. We could save them to the hash by tag name and then use them from `render.close()`. This could reduce copying operations in V8 `StringBuilder` on large strings.

[2016-06-14 09:25] miripiruni commented on #276
@Guria may I close this issue?

[2016-06-14 09:26] miripiruni commented on #286
PR’s are welcome ;)

[2016-06-14 11:48] Guria commented on #276
Feel free to decide. It's ok to close for me if after mentioned issues resolved wouldn't be much actual `def`mode use cases.

[2016-06-14 12:00] #276 closed

[2016-06-14 19:14] Yeti-or opened #291 "test is controversial"
https://github.com/bem/bem-xjst/blob/a67900859a928aae53a869cbebca72ba3177b5a3/test/runtime-escaping-test.js#L42
test description and it's content are contradictory

[2016-06-14 22:31] miripiruni commented on #291
@Yeti-or you right, I’ll rewrite test description.

[2016-06-16 09:37] Yeti-or commented on #291
maybe we need two test case here:
1. ` { block: 'b', html: '<unescaped>', content: 'safe text' }`
2. ` { html: '<unescaped>', content: 'safe text' }`

[2016-06-17 11:50] #291 closed

[2016-06-27 11:32] miripiruni commented on #236
Fixed in [v6.5.2](https://github.com/bem/bem-xjst/releases/tag/v6.5.2).

[2016-06-27 11:32] #236 closed

[2016-06-29 15:19] tadatuta commented on #261
Please refer to old issues https://github.com/bem/bem-xjst/issues/242 (based on https://github.com/bem/bem-core/issues/820)

[2016-06-29 15:22] tadatuta commented on #261
Discussed there's an issue with possibility to dismiss `addMix()` declared on previous level.

[2016-06-29 17:08] #220 closed

[2016-06-30 08:38] zxqfox opened #297 "Calling incomplete predicates acts as def mode"
I'm not sure it's wrong but probably we should document and test it. Or just decide how it should works

[code]

http://goo.gl/CL9PSF

[2016-06-30 09:54] miripiruni commented on #297
It’s not bug, in [documentation](https://github.com/bem/bem-xjst/blob/master/docs/en/7-runtime.md#applynext) we show that `applyNext` have argument for change context.

[2016-06-30 10:00] zxqfox commented on #297
It's not about passing params to applyNext

[2016-06-30 10:03] miripiruni commented on #297
`incomplete predicates acts as def mode` — it’s OK. What’s wrong with it?

[2016-06-30 10:25] zxqfox commented on #297
Not sure it is right and documented. I described the issue)

[2016-06-30 13:05] #213 closed

[2016-06-30 13:22] #214 closed

[2016-07-01 11:29] miripiruni opened #298 "Render the page, even if one of the template fall"
The plan:
1. Introduce `debug` option.
2. Under `debug === true` render stacktrace if template fails.
3. Under `debug !== true` render empty string unstead of block

In both cases we need write via `console.error`.

[2016-07-02 11:55] zxqfox opened #300 "Hi!"
![](https://upload.wikimedia.org/wikipedia/commons/b/b9/SVG_animation_using_SMIL.svg)

[2016-07-04 09:23] awinogradov opened #302 "API for extra engines"

[2016-07-04 09:41] #300 closed

[2016-07-04 16:21] miripiruni opened #303 "Bug with mix + elem"
From v6.5.2 there is bug:

[code]

[code]

Also in v4.3.5.

[2016-07-06 14:24] #303 closed

[2016-07-07 09:56] miripiruni commented on #297
I think this behaviour for backward capability.

[2016-07-07 20:53] Yeti-or opened #309 "Error while apply() inside match"
I don't think that it is good pattern but when you try to use apply inside match u get an Error:
[example](https://bem.github.io/bem-xjst/?bemhtml=block%28%27button%27%29%28%0A%20%20%20mode%28%27q%27%29%28function%28%29%20%7B%0A%20%20%20%20%20%20%20%20return%2042%3B%0A%20%20%20%7D%29%2C%0A%20%20%20%0A%20%20%20match%28function%20%28%29%7B%0A%20%20%20%20%20%20%20%20try%20%7B%0A%20%20%20%20%20%20%20%

[2016-07-11 14:52] zakaratcha commented on #155
And what for it's needed now without async?

[2016-07-11 15:46] tadatuta commented on #155
@zakaratcha exactly for the same as before ;)
Collect all needed data beforehand and use BEMTREE to map raw data to BEMJSON.

[2016-07-11 15:56] zakaratcha commented on #155
Is there possibility that async will be returned to BEMTREE in future?
And what version of bem-core is lastest with async BEMTREE?

[2016-07-15 10:48] miripiruni opened #312 "BEMHTML: should properly render unescaped html field if `tag:false` present"
BEMJSON:
[code]

The result should be:
[code]

Current result:
[code]

[2016-07-15 10:55] zxqfox commented on #312
Sad thing ;-(

[2016-07-15 13:45] #312 closed

[2016-07-15 20:28] belozyorcev opened #314 "Магия applyNext()"
[code]

Не совсем понятно как определяется приоритет. В голове лежит понятие, что под приоритетом принимается от частного к общему или снизу вверх?

[code]

так уже не правильно?

@tadatuta объяснял, что снизу вверх. Но как узнать что от `applyNext()` мы получили нужное содержимое.

Например вот такой код
[code]
и его модификатор

[code]

как модификатор узнаёт, что нужно из базового блока получит

[2016-07-15 21:31] zxqfox commented on #314
[code]
У тебя место, где комментарий, не запускается в этом случае.
Останавливается на последней строчке, в остальные не заходит.

[2016-07-15 21:36] zxqfox commented on #314
Никак. В каком порядке приехали по депсам, в таком (точнее, обратном такому) и будут выполняться. Обычно сборка устроена так, что код для модификаторов приезжает после блока.
Если оба модификатора влияют на контент и при этом конфликтуют, то, очевидно, нужно либо перенести спорную логику в код самого блока, либо нужно написать дополнительный код, который будет запускаться при наличии обоих конфлик

[2016-07-15 21:41] zxqfox commented on #314
http://goo.gl/wniZ8R вот смотри

[2016-07-16 21:25] miripiruni commented on #314
@belozyorcev закрываем вопрос?

[2016-07-16 21:35] belozyorcev commented on #314
@miripiruni  Да, в целом вроде уяснил.

[2016-07-17 05:52] vithar commented on #314
@miripiruni может стоит дописать в документацию?

[2016-07-18 08:58] belozyorcev commented on #314
В общем в первую очередь вызывается последний шаблон, который удовлетворяет условию и далее `applyNext()` по цепочке совпадений вверх?

[2016-07-18 09:22] miripiruni opened #315 "Deps: switch from jscs to eslint"
http://eslint.org/blog/2016/07/jscs-end-of-life

[2016-07-18 09:42] miripiruni commented on #314
@belozyorcev да. В документации именно это и написано:

https://github.com/bem/bem-xjst/blob/master/docs/ru/7-runtime.md#Как-выбираются-и-применяются-шаблоны

@vithar что именно предлагаешь добавить?

[2016-07-18 09:47] blond commented on #315
In [BEM SDK](https://github.com/bem-sdk/bem-sdk) and some ENB packages we use ESLint instead of JSHint, too.

Please note on [eslint-config-pedant](https://github.com/blond/eslint-config-pedant).

[2016-07-18 09:52] miripiruni commented on #315
@blond good. Оne dependency is better than two.

[2016-07-19 09:34] belozyorcev commented on #314
@miripiruni

Например:
шаблон1 -- подходит
шаблон2 - не подходит
шаблон3 - подходит
шаблон4 - не подходит
шаблон5 c applyNext - вызывает шаблон 3

Только в виде кода.

[2016-07-19 11:45] miripiruni commented on #314
@belozyorcev

Пример. Шаблоны:
[code]

Входные данные:
[code]

Результат:
[code]

[2016-07-19 11:51] belozyorcev commented on #314
@miripiruni да, так наглядней, и при этом лаконично :+1:

[2016-07-19 17:33] a-x- opened #316 "Normalize mix"
Hey there,
Why bemhtml does not provide normalized `this.mix` (typed as `{BEMHTML[]}`)?

[2016-07-20 16:40] miripiruni commented on #316
@a-x- what difference `this.mix` and `this.ctx.mix` you see?

[2016-07-25 20:50] rtxrulez opened #319 "Ошибка в тексте"
http://prntscr.com/bxftp2

[2016-07-25 21:02] tadatuta commented on #319
https://developer.mozilla.org/en-US/docs/Glossary/Falsy

[2016-07-25 21:02] #319 closed

[2016-07-25 21:07] miripiruni commented on #319
The same as https://github.com/bem/bem-xjst/pull/304

[2016-07-26 03:49] vithar commented on #319
Add this link to text.

[2016-07-28 17:19] a-x- opened #320 "Playground bug: ignores bemjson started not from 1th line"
Online demo: https://bem.github.io/bem-xjst

Source code of online demo: https://github.com/bem/bem-xjst/tree/gh-pages

The problem: ignores bemjson started not from 1th line

|  |  |
| --- | --- |
| ![2016-07-28_20-18-58](https://cloud.githubusercontent.com/assets/6201068/17222368/f28b89d0-5508-11e6-9fac-279d1ba42f7e.png) | ![2016-07-28_20-19-08](https://cloud.githubusercontent.com/assets/6201068

[2016-07-28 17:19] a-x- commented on #320
/сс @Yeti-or

[2016-07-28 17:23] a-x- opened #321 "Escape prevent construction does not working with empty string"
[code]

[2016-07-28 17:23] a-x- commented on #321
/cc @Yeti-or

[2016-07-28 19:23] zxqfox commented on #320
Короче, это `BlockStatement` и `Label`. Это не баг, но можно сделать фичу, чтобы можно было без внешних скобок писать bemjson.

[2016-07-28 21:13] Yeti-or commented on #321
[code]

[2016-07-28 21:20] Yeti-or commented on #320
no
it's seems that playground wraps code in () so it' bemjson not Label
just bad example
Problem from title still with us

[2016-07-28 21:21] a-x- commented on #320
![2016-07-29_00-20-23](https://cloud.githubusercontent.com/assets/6201068/17229890/b476f6da-552a-11e6-90ce-c49be5912c82.png)

[2016-07-29 10:24] miripiruni commented on #316
@a-x- what you expect in normalized value?

[2016-07-29 10:26] miripiruni commented on #316
@a-x-

Sounds reasonable. I’ll think about it.

[2016-07-29 10:56] zxqfox commented on #316
Same feelings. I'm for it until performance will be affected.

[2016-07-29 10:58] miripiruni opened #323 "Set default value of escapeContent to true"

[2016-07-29 11:00] mishaberezin commented on #316
It would be very convenient if `this.mix` always existed in normalized form. Just yesterday received bug related to this.

[2016-07-29 11:01] mishaberezin commented on #316
Of course if it could be implemented without significant performance tradeoff.

[2016-07-29 11:09] miripiruni commented on #316
OK, I’ll try to check cost of this.

[2016-07-29 11:22] miripiruni commented on #321
Fixed in v7.0.3 and ported to v6.5.5.

[2016-07-29 11:22] #321 closed

[2016-08-05 04:13] veged opened #327 "Compare escaping implementation"
Try https://github.com/component/escape-html

[2016-08-05 07:53] miripiruni commented on #327
👍

[2016-08-05 09:36] a-x- commented on #316
### use cases
#### sytatic
common/foobar.bemhtml:
[code]
desktop/foobar.bemhtml:
[code]

in fact, safe desktop code is:

[code]

in practice, you may see next examples:
[code]

[code]

[code]

[code]

followed snippet is most used: `(this.ctx.mix || []).concat(...)`
in case of undefined mix: `this.ctx.mix && (ctx.mix = ctx.mix.concat(this.ctx.mix));`

[2016-08-05 09:43] a-x- commented on #316
also, services (bemhtml users) use «Always enclose mixes in function and array literal» rule for self-safety and restful night

[2016-08-05 09:50] a-x- commented on #316
I propose as a hacky perf solution followed trick:
Declare in any conf black list of bottleneck blocks of switched off `this.mix`

[2016-08-05 10:47] miripiruni commented on #327
@veged see https://github.com/bem/bem-xjst/pull/328

[2016-08-06 14:10] a-x- opened #329 "Add traditional jsdoc API page"
It's not api doc in my meaning: https://github.com/bem/bem-xjst/blob/master/docs/en/3-api.md

are exist something like this for bemhtml?: https://ru.bem.info/libs/bem-core/v2.8.0/desktop/i-bem/jsdoc/

[2016-08-06 14:52] tadatuta commented on #329
https://github.com/bem/bem-xjst/blob/master/docs/en/5-templates-syntax.md ?

[2016-08-06 16:25] a-x- commented on #329
cool, thanks!

it remains to rename it and add link to readme and bem.info

[2016-08-06 16:26] #329 closed

[2016-08-09 15:08] miripiruni commented on #316
Look like relevant with #242

[2016-08-10 07:52] a-x- commented on #316
Yep, but I disagree with creating helpers if we can normalize mix.

[2016-08-13 15:47] miripiruni opened #332 "Docs: BEMTREE landing"
Цитирую обращение пользователя @tadatuta

[2016-08-16 12:42] zxqfox commented on #261
I don't see what we get with avoiding applyNext() calls. `addContent`, `addMix`, `addAnythingElse` won't make API easier.
Compare:
[code]
Worth?

[2016-08-16 15:35] zxqfox opened #333 "Debug: make a function helper with stack trace"
Something like: `new Error().stack` for usual JS but for bem-xjst templates.

Stack should contains only user templates and external calls and skip internal bem-xjst code.
Helper should be possible to call from any user template.

Something like:
[code]

cc @a-x-

[2016-08-16 16:58] miripiruni commented on #261
@zxqfox Incorrect example. Look: `block('a').mix()(() => applyNext().concat({elem: 'e'}));` will fall if `applyNext()` return not an Array. First of all you need to check type.

With `addMix`/`addAttrs`/etc we’ll get **expressiveness** and **brevity**. The correct compare:

[code]

[2016-08-16 17:00] zxqfox commented on #261
Ok, but let's do `mix` an array. It's much easier and cleaner, isn't it?

[2016-08-16 17:01] miripiruni commented on #261
@zxqfox OK, but **where** you would like to change it?

[2016-08-16 17:13] miripiruni commented on #261
@zxqfox я процитирую себя самого:

[proof](https://bem-team.slack.com/?redir=%2Farchives%2Fbem-xjst%2Fp1471245364000135)

[2016-08-16 17:16] zxqfox commented on #261
Ну так давай нормализовывать this.mix, равно как мы это делаем с this.mods? Аналогично this.js, this.attrs

[2016-08-16 17:29] miripiruni commented on #261
@zxqfox the only reason why we change `this.mods`/`this.elemMods` now is that we don’t have any other way to do it in current version. We need change it. We need more explicit way to make output.

Compare:
[code]

[2016-08-16 17:32] zxqfox commented on #261
Т.е. в будущем мы не будем нормализовывать mods, elemMods?
Я не понял аргументации ПРОТИВ нормализации mix, js, attrs.

[2016-08-16 19:00] miripiruni commented on #261
@zxqfox я против записи в `this.*`, но не против нормализации.

[2016-08-17 12:49] zxqfox commented on #261
@miripiruni Я против записи в ctx ;-)

[2016-08-19 10:35] miripiruni commented on #333
@zxqfox BTW you can not use `this.trace()` with `() => console.log(this.trace())` as template body. You need use regular function, not arrow function.

;)

[2016-08-19 10:55] zxqfox commented on #333
@miripiruni fixed, ty.

[2016-08-21 01:04] belozyorcev opened #335 "Docs: BEMTREE"
https://ru.bem.info/platform/bem-xjst/templates-syntax/#bemtree-1

Создаётся ощущение, что в BEMTREE нельзя использовать режимы-хэлперы (в частности replace).

[2016-08-21 19:43] miripiruni commented on #335
Related: #332

[2016-08-22 20:12] tadatuta commented on #230
any progress here?

[2016-08-23 13:26] miripiruni commented on #230
Not yet. I’ll try to make this today.

[2016-08-24 16:50] zxqfox opened #336 "Helper to check property existence in ctx and flags"
Something like:
[code]
and maybe like (or params/guards?):
[code]

And if we need negation (in addition to #246):
[code]

[2016-08-25 00:00] tadatuta commented on #336
As there is `apply` and `applyCtx` it'll be consistent to have `has` and `hasCtx`.

But right now `match` may only take `function` as an argument so it should be possible to make in polymorphic and provide something like:
[code]

[2016-08-25 00:28] zxqfox commented on #256
Если

и

то:

[code]
матчится на все узлы **BEMJSON**-дерева, но не матчится на `{justAnObject: true}`, но хочет введения подпредиката `any`, который решает задачу логического `or` для матчеров (либо-либо).

[2016-08-26 12:02] miripiruni commented on #246
For me `.not()` is bad idea because as soon we introduce `not` someone would combine it with all subpredicates witch is not working:

[code]

Again, I would like to see codebase for proof it’s real needed.

[2016-08-26 12:03] #246 closed

[2016-08-26 12:07] miripiruni commented on #336
@zxqfox can you explain what do you mean by `check property existence`?

1. `typeof this.ctx.field`
2. `this.ctx.field !== undefined`
3. `!!this.ctx.field`

Or other case?

In my opinion custom function in match is much more flexible instrument. And sugar for check property existence can not be  universal and united.

[2016-08-30 14:38] miripiruni opened #338 "js() mode should set js params to mixed block"
Test case: https://goo.gl/8LK0IQ

BEMJSON:
[code]

Templates:
[code]

Current result:
[code]

Expected result:
[code]

@zxqfox @tadatuta

[2016-08-30 14:40] tadatuta commented on #338
Same as https://github.com/bem/bem-xjst/issues/147

[2016-08-30 14:42] #338 closed

[2016-08-30 20:44] vithar commented on #184
Any news?

[2016-08-31 17:57] miripiruni opened #339 "Keep `this.mods` when element in the block content"
https://goo.gl/ufn4Ya

cc @zxqfox @Yeti-or

[2016-09-01 13:28] miripiruni commented on #184
@vithar nope.

[2016-09-01 14:20] miripiruni commented on #339
@qfox @Yeti-or ребят, по поводу вашего вчерашнего вопроса. Сохранять модификаторы не надо. Это багоопасно и непредсказуемо. Тот факт, что в вашем примере два раза использовано одно и тоже имя b2 (сначала в подпредикате, а затем в достраивании контента) не даёт нам уверенности, что нужно сохранять модификаторы.

Представте себе обратнуюю ситуацию:

[code]

Если сохранять модификаторы, то необходимо

[2016-09-01 14:20] #339 closed

[2016-09-01 14:31] qfox commented on #339
@miripiruni wrong user

[2016-09-01 14:39] miripiruni commented on #339
@qfox I'm sorry. ¯ \ _ (ツ) _ / ¯

[2016-09-01 15:37] zxqfox commented on #339
Потому что мы не сможем правильно искать ноду с контекстом?
Почему нельзя сделать так, чтобы когда создается новый блок — модификаторы были новые, а когда элемент — то mods были от блока?

[2016-09-01 16:52] miripiruni commented on #339
Но ведь в том то и загвоздка — если ты явно объявил блок, то явно объявишь и его модификаторы в случае если они необходимы. А если они будут досыпаться неявно, то, во-первых, это введет в заблуждение, во-вторых, создаст ситуацию когда явно нужно будет от них отказываться.

[2016-09-02 00:55] zxqfox commented on #339
Давай еще раз пройдемся, может я чего-то не понимаю:

Жить вообще опасно. От этого умирают. Фактуру давай, какие баги появятся, почему ты считаешь что они появятся. Мне в голову приходит обратная ситуация, когда мы пишем:
`block('b').mod('m', v').elem('e')` в шаблоне, и они у нас перестают внезапно работать на сервисе, потому что элементу сделали wrap или replace: http://goo.gl/wjvxA2

А если ты в

[2016-09-02 08:50] miripiruni commented on #339
Тогда, похоже, вопрос сводится к нашему расхождению в нашем общем понимании наследования модификаторов в bemjson-е.

Я считаю, что если ты объявил блок и не указал модификаторов явно, то это безусловный факт того, что модификаторов у блока нет. И никакой одноименный блок-предок не влияет на эту ситуацию.

Если я правильно понял тебя, то ты уверен, что модификаторы блока должны приезжать к вложенно

[2016-09-02 15:31] miripiruni opened #340 "Apply templates for mixes"

[2016-09-05 15:30] miripiruni commented on #314
@belozyorcev вопрос еще актуален? Можно закрыть issue?

[2016-09-05 16:17] miripiruni commented on #309
We need a guard againgst recursion deadlock.

[2016-09-05 16:19] miripiruni commented on #309
Think about cache for `apply('modeName')`.

[2016-09-05 16:23] belozyorcev commented on #314
@miripiruni нет. Разобрался :) А пример действительно крутой

[2016-09-05 16:28] #314 closed

[2016-09-05 19:59] zxqfox commented on #336
@miripiruni I guess it can and we should do it.
Guess the best way is (2).

[2016-09-11 00:36] 4ok opened #343 "Matching for "block mod + elem" not work"
block('block-name').mod('mod-name', 'mod-val').elem('elem-name')

This construction not work

[2016-09-11 10:03] miripiruni commented on #343
1. bem-xjst version?
2. Can you provide example with template, benjson and result? You can use online demo for sharing code snippet: https://bem.github.io/bem-xjst

[2016-09-11 11:00] miripiruni commented on #343
@4ok https://github.com/bem/bem-xjst/blob/master/CHANGELOG.md#2016-01-29-v500-miripiruni It’s not about this?

[2016-09-12 11:29] miripiruni commented on #343
@4ok ping

[2016-09-12 14:00] #298 closed

[2016-09-12 14:00] miripiruni commented on #298
https://github.com/bem/bem-xjst/releases/tag/v4.4.0

[2016-09-12 14:01] miripiruni opened #345 "Port minor from v4.4.0 to 5.x, 6.x and 7.x"
https://github.com/bem/bem-xjst/releases/tag/v4.4.0

[2016-09-12 14:02] miripiruni commented on #136
https://github.com/bem/bem-xjst/pull/325

[2016-09-12 14:02] #136 closed

[2016-09-12 15:08] miripiruni commented on #85
https://github.com/bem/bem-xjst/pull/308

[2016-09-12 15:08] #85 closed

[2016-09-13 13:10] #343 closed

[2016-09-13 13:11] miripiruni commented on #343
Feel free to reopen if it’s not clear.

[2016-09-15 23:25] 4ok commented on #343
@miripiruni not it

[2016-09-16 00:08] 4ok commented on #343
I'm sorry for the delay

---------------------------------------------

Bem-xjst version: `7.0.4`

This construction is not work if elem is inside of the another block, for example it is inside of 'block-name-inside'

----------------------------------------------

Bemjson:

[code]

Bemhtml:

[code]

[2016-09-16 00:22] 4ok commented on #343
Sorry I understand. it was necessary to add mix to child block. This [work example](https://bem.github.io/bem-xjst/?bemhtml=block(%27block-name%27).mod(%27mod-name%27%2C%20%27mod-val%27).elem(%27elem-name%27)(%0A%20%20%20%20content()(%27THIS%20CONSTRUCTION%20IS%20NOT%20WORK%27)%0A)&bemjson=(%7B%0A%20%20%20%20block%20%3A%20%27block-name%27%2C%0A%20%20%20%20mods%20%3A%20%7B%0A%20%20%20%20%20%20%20%2

[2016-09-16 09:24] #327 closed

[2016-09-20 11:54] miripiruni opened #348 "Fix xjstOption()"
https://goo.gl/4cHpgm

@veged @tadatuta @zxqfox  `xjstOption()` realy needed? Should we fix it or should we drop it?

[2016-09-20 12:02] miripiruni commented on #348
Should we fix it — 👍
Should we drop it — 👎

[2016-09-20 12:05] Yeti-or commented on #348
Changing of bem-naming through options potentially is a good one

[2016-09-20 12:44] tadatuta commented on #348
As far as I remember, it was needed at least to provide support for partial rendering with flushing.

[2016-09-20 12:45] miripiruni commented on #348
@tadatuta can you show usecase for it?

[2016-09-20 13:41] tadatuta commented on #348
found use case right in this repo: https://github.com/bem/bem-xjst/blob/faac9c5bb034bd8e4f0d8f60d72bfcaa812fabed/bench/templates/islands.bemhtml#L4

[2016-09-20 14:01] miripiruni commented on #348
@tadatuta I don't know why islands have such template. `flush: true` by default in last bem-xjst.

[2016-09-20 14:14] zxqfox commented on #348
@miripiruni amsorry but it's bem-core

[2016-09-20 14:22] miripiruni commented on #102
@tadatuta @zxqfox @veged can anybody explain to me why we still need `flush` option?

[2016-09-20 14:28] miripiruni commented on #242
I think we should close this issue in favor of addMix, addJs, addAttrs, etc. See https://github.com/bem/bem-xjst/pull/311

[2016-09-20 14:32] miripiruni commented on #147
Closed in favor of https://github.com/bem/bem-xjst/issues/340: Apply templates for mixes.

[2016-09-20 14:45] miripiruni commented on #195
So, right now we have:

[code]

You propose to introduce `replaceWithMix`, (with sematic meaning: "add self to a mix array"), right?

[code]

[2016-09-20 15:04] miripiruni commented on #224
We will not do it. BEMTREE + BEMHTML = default features (engines) of bem-xjst because of customers specialty. Other engines may use bem-xjst as dependency.

Maybe someday it will change. But not today or tomorrow.

[2016-09-20 15:04] #224 closed

[2016-09-20 16:20] miripiruni commented on #348
1. Get rid of `xjstOptions()`.
2. Make sure that the flash drive works through the compile option.
3. Add documentation for flush option (with example).

[2016-09-21 12:56] #274 closed

[2016-09-21 13:10] miripiruni commented on #212
https://github.com/bem/bem-xjst/releases/tag/v7.3.0

[2016-09-21 13:10] #212 closed

[2016-09-21 13:10] miripiruni commented on #274
https://github.com/bem/bem-xjst/releases/tag/v7.3.0

[2016-09-22 12:27] a-x- opened #350 "Let's prohibit .b_mod_val1.b_mod_val2"
Examples in the wild:
* `.serp-item_type_search.serp-item_type_market` https://yandex.ru/images/search?text=окна&comm=1
* `.suggest2-item__text_type_green-url.suggest2-item__text_type_url` https://yandex.ru/images/touch/search?text=bmw.com

[demo](https://goo.gl/ktLiiv)
[code]

#### todo
* add warning
* deprecate it
* prohibit completely in the future versions

[2016-09-22 13:17] miripiruni opened #351 "Runtime lint: catch delimeters in block name"
Examples of bad block names:
`b__e`
`b_m_v`
`b_m`

Examples of bad element names:
`b__e__e`
`b__e_m_v`
`b__e_m`

[2016-09-22 13:26] miripiruni commented on #351
cc @xbinarycat

[2016-09-22 14:19] miripiruni opened #353 "Mirgation script for every major version"
It would be nice if we have a translator `bemhtml.js` to `bemhtml.js` for every major release. v4.x to v5.x, v5.x to v6.x and so on… I may create migration tool (using any js parser) and provide a kind of migration with much smaller costs for all next major releases.

I know, that would be hard to test such tool. But even so, I think, we need to do it.

[2016-09-22 15:36] miripiruni opened #354 "Introduce tests for runtime linter via chai/mocha"
After https://github.com/bem/bem-xjst/issues/351 it becomes apparent that we can not live anymore ;)

[2016-09-22 19:35] miripiruni commented on #332
@tadatuta @vithar it is right that I can not use this modes?

## attrs()
Template:`block('b').attrs()({ id: 'test' })`.
Input BEMJSON: `{ block: 'b' }`.

Expected output BEMJSON: `{ block: 'b', attrs: { id: 'test' } }`.
Actual output BEMJSON: `{ block: 'b' }`.

## mix()
Template:`block('b').mix()('mixed')`.
Input BEMJSON: `{ block: 'b' }`.

Expected output BEMJSON: `{ block: 'b', mix: { block: 'mi

[2016-09-22 19:38] miripiruni commented on #335
Fixed.

[2016-09-23 11:48] #323 closed

[2016-09-23 12:06] miripiruni commented on #139
https://github.com/bem/bem-xjst/releases/tag/v8.0.0

[2016-09-23 12:06] #139 closed

[2016-09-23 12:06] miripiruni commented on #261
https://github.com/bem/bem-xjst/releases/tag/v8.0.0

[2016-09-23 12:06] #261 closed

[2016-09-26 12:38] miripiruni opened #355 "Docs: describe this.extend()"
Write about [`this.extend()`](https://github.com/bem/bem-xjst/blob/master/lib/bemxjst/utils.js#L124) in [docs](https://github.com/bem/bem-xjst/tree/master/docs).

[2016-09-26 15:59] miripiruni opened #356 "`oninit()` must be executed on every `compile`"
oninit-stand.js:

[code]

[code]

Actual result:

[code]

Expected result:

[code]

Original discussion: https://nda.ya.ru/3RzKeD

cc @veged @tadatuta @zxqfox

[2016-09-27 13:49] miripiruni opened #357 "attrEscape should escape accent grave (`)"
https://html5sec.org/#59

[2016-09-28 11:25] miripiruni commented on #351
https://github.com/bem/bem-xjst/releases/tag/v7.3.1

[2016-09-28 11:25] #351 closed

[2016-09-28 11:25] miripiruni commented on #350
https://github.com/bem/bem-xjst/releases/tag/v7.3.1

[2016-09-28 11:25] #350 closed

[2016-09-28 14:12] miripiruni commented on #357
Perf test result:
[code]

[2016-09-28 16:33] vithar commented on #340
+1

[2016-10-03 12:14] zxqfox opened #359 "Report for duplicates in class names in dev mode"
Guess like we

Also this reporting could be useful for modifiers set on block with 2 or more values: b_m_v1 v_m_v2 etc.
Like that: `{block: 'b', mods: {m: 'v1'}, mix: {mods: {m: 'v2'}}`

[2016-10-03 12:17] miripiruni commented on #359
Fixed in v7.3.1.

https://github.com/bem/bem-xjst/pull/352/commits

[2016-10-03 12:17] #359 closed

[2016-10-03 14:06] zxqfox commented on #359
Ah, sorry. ;-( and thanks!

[2016-10-03 15:32] #335 closed

[2016-10-03 15:33] #297 closed

[2016-10-03 15:36] miripiruni commented on #302
the same as #287

[2016-10-03 15:36] #302 closed

[2016-10-03 15:36] miripiruni commented on #332
@tadatuta @vithar ping

[2016-10-03 15:37] miripiruni commented on #287
Nope. I have related question: https://github.com/bem/bem-xjst/issues/332#issuecomment-249005637

[2016-10-03 15:40] miripiruni commented on #245
Related: #336

[2016-10-03 15:45] miripiruni commented on #336
@zxqfox so, we need `.has('someFieldInCtx')`  (this issue) and `hasNot('someFieldInCtx')` (issue #245), right?

[2016-10-03 15:46] miripiruni commented on #252
We don’t use RegExp after https://github.com/bem/bem-xjst/pull/328

[2016-10-03 15:46] #252 closed

[2016-10-03 15:51] miripiruni commented on #191
Not actual.

[2016-10-03 15:51] #191 closed

[2016-10-03 15:53] miripiruni commented on #332
Related comment: https://github.com/bem/bem-xjst/issues/181#issuecomment-194799564

[2016-10-04 05:26] vithar commented on #332
I think we can add these mods to bemtree.

[2016-10-04 07:45] miripiruni commented on #332
Good

[2016-10-04 09:48] miripiruni opened #360 "BEMHTML: Omit optional closing tags"

[2016-10-04 11:11] miripiruni opened #362 "BEMTREE: introduce js(), mix(), mods() and elemMods() modes"
~~After discussion in https://github.com/bem/bem-xjst/issues/332 we decided to introduce new modes in BEMTREE.~~

We dicieded to introduce only data related modes (not HTML related).

[2016-10-04 11:13] miripiruni commented on #155
We decided to do not support this feature.

[2016-10-04 11:13] #155 closed

[2016-10-04 13:56] miripiruni opened #364 "BEMHTML: support unquoted attributes"

[2016-10-04 21:59] tadatuta commented on #332
Oh, I lost this issue for some reason.

It was done on purpose: BEMTREE is just about data and these mods are about HTML output. All these fiels can be easily set in parent.
So I vote against it:
1. It will make BEMTREE slower
2. It will be even harder for users to decide which template to choose

[2016-10-04 22:00] tadatuta commented on #191
but why?

[2016-10-05 10:35] miripiruni commented on #191
@tadatuta it seems that only I think about it.

[2016-10-05 10:36] miripiruni commented on #332
@tadatuta but how I can write templates where I need to add mix or attrs to BEMJSON?

[2016-10-05 14:09] tadatuta commented on #332
обычно у тебя есть корневой блок — точка входа, который кладет в себя новые блоки, а те, в свою очередь, своих чайлдов и так далее.
и вот каждый раз, когда ты создаешь чайлдов, можно указывать не только их имя, модификаторы и нужные им данные, но и миксы с атрибутами.
вообще, в большинстве случаев сам блок не должен отвечать за миксы с другими сущностями. это задача родителя, который знает, что во

[2016-10-05 14:11] miripiruni commented on #332
@tadatuta `this.extendCtx()` сейчас не существует…

[2016-10-05 14:11] miripiruni commented on #332
@tadatuta хорошо, давайте на встрече голосом этот решим по этой задаче.

[2016-10-05 16:40] miripiruni opened #366 "Bundle size metrica"
In general, it would be nice if we have bundle size check in travis.

How I see task:

write oneliner (npm script) for check BEMHTML and BEMTREE bungles size from any git commit hash of this repo. Then we will run it with two commit hashes to compare results. Should work in Travis.

[2016-10-05 16:41] miripiruni opened #367 "Docs: write about template arguments and arrow function"

[2016-10-06 11:55] #107 closed

[2016-10-06 12:15] #360 closed

[2016-10-06 12:20] miripiruni opened #368 "Update default demo example"

[2016-10-06 14:55] awinogradov commented on #287
I need this, I want this, I like this! ;)

[2016-10-09 15:27] awinogradov commented on #287
Hi there! I have made PoC of this issue. Let's discuss here #371 ;)

[2016-10-11 10:48] miripiruni commented on #345
Done

[2016-10-11 10:48] #345 closed

[2016-10-12 09:55] miripiruni commented on #362
It is useful to @collapsus for example

[2016-10-12 10:04] miripiruni commented on #362
The plan: no difference with modes with BEMTREE and BEMHTML, only output format diff (bemjson, html).

[2016-10-13 17:54] Degtyarev-vg opened #372 "Ошибка в примере"
// BEMJSON
{
    block: 'page'
    content: [
        { block: 'header'},
        { block: 'article', content: '…' },
        '© 2017'
    ]
}

После блока block: 'page' должна быть запятая.

[2016-10-13 23:48] #372 closed

[2016-10-13 23:49] tadatuta commented on #372
@Degtyarev-vg Спасибо!

[2016-10-16 19:34] miripiruni opened #373 "Docs: example of applyNext(changes)"
https://github.com/bem-site/bem-forum-content-ru/issues/1160#issuecomment-254062433

[2016-10-18 13:49] dima117 opened #374 "sourcemap in bem-xjst /lib/bemtree/bundle.js"
The `node_modules/bem-xjst /lib/bemtree/bundle.js` file contains an inline sourcemap. During the bemhtml-bundle assembling this sourcemap is included into the bundle and by this reason browser debug tool works incorrectly.

I suppose that sourcemap is added in the assembly of npm package.
https://github.com/bem/bem-xjst/blob/master/package.json#L24-L25

Fix it please

bem-xjst@8.3.0

[2016-10-19 14:13] miripiruni commented on #332
Closed in favor of https://github.com/bem/bem-xjst/issues/362

[2016-10-19 14:13] #332 closed

[2016-10-19 15:22] miripiruni opened #375 "Compiler.generate: support YModules, CommonJS and third party dependencies"
See https://github.com/enb/enb-bemxjst/blob/master/lib/assets/bundle.jst

cc @tadatuta

[2016-10-19 15:40] miripiruni commented on #333
The question is: «show me trace route how templates work».

[2016-10-19 15:46] #239 closed

[2016-10-19 16:19] miripiruni opened #376 "Port extend fix to 7.x"
https://github.com/bem/bem-xjst/pull/363

cc @tadatuta

[2016-10-20 12:05] #180 closed

[2016-10-20 12:12] #355 closed

[2016-10-20 12:17] miripiruni commented on #180
v8.3.1

[2016-10-20 12:42] miripiruni commented on #376
v8.3.1 → v7.4.1

[2016-10-20 12:42] #376 closed

[2016-10-20 12:56] miripiruni commented on #367
https://github.com/bem/bem-xjst/pull/370

[2016-10-20 13:00] miripiruni commented on #316
Since we have `addMix()` you should use it. The same for `addAttrs()`, `appendContent()`, `prependContent()`, `addJs()` and etc.

All magic with type checking, push(), extend and etc will perform `add*()` mode for you.

[2016-10-20 13:00] #316 closed

[2016-10-20 13:02] miripiruni commented on #245
Closed in favor of #336

[2016-10-20 13:02] #245 closed

[2016-10-20 13:11] miripiruni commented on #356
After meeting with @veged @tadatuta @zxqfox we think it is bug.

Each `compile` with templates with `oninit()` should execute this `oninit()` functions. But not all previous oninits.

[2016-10-20 13:16] miripiruni commented on #287
After meeting we decieded to split this issue to:

1. [Use with YM, commonJS, webpack, gulp, etc.](https://github.com/bem/bem-xjst/issues/375)
2. Expose API which uses `require()`

[2016-10-20 13:16] #287 closed

[2016-10-24 14:41] golyshevd commented on #309
Another example  https://goo.gl/EbKDW3

[2016-10-24 14:43] miripiruni commented on #309
@golyshevd thank you. In current bem-xjst you can not use `apply()` in `match()`.

[2016-10-24 15:00] golyshevd commented on #309
@miripiruni why not? is it feature? )

[2016-10-24 15:37] miripiruni commented on #309
@golyshevd it happened :) I’ll try to fix it.

[2016-10-24 15:45] golyshevd commented on #309
@miripiruni Thanks!

[2016-10-27 21:27] zxqfox commented on #202
Polite ping. <3

[2016-11-07 09:29] blond commented on #223
Any news?

[2016-11-07 09:30] miripiruni commented on #223
No. can you describe a reason why it’s needed for you?
On Mon, 7 Nov 2016 at 12:29, Andrew Abramov <notifications@github.com>
wrote:

[2016-11-07 15:25] blond commented on #223
I think I should be able to write templates with `use strict`.

For example, I believe that this will help me make fewer mistakes in the code.

/cc @4ok

[2016-11-09 12:59] #374 closed

[2016-11-09 13:25] #368 closed

[2016-11-10 09:46] miripiruni opened #380 "In v4.x applyNext() should not return value from BEMJSON"
[code]

[code]

[2016-11-10 18:49] tadatuta commented on #362
Let me try once again: I don't think these mods are useful enough for BEMTREE and moreover they are kinda harmful: user just should not set such things like attributes, classes, etc in BEMTREE — it's all about HTML. And extra modes will make BEMTREE slower.

Is there really strong arguments for it?

[2016-11-10 18:59] vithar commented on #362
I agree with @tadatuta

[2016-11-11 12:54] blond commented on #315
@miripiruni I think we should use ESLint to support `eslint-plugin-bem-xjst`.

Example: https://github.com/bem/eslint-plugin-bem-xjst/pull/27

[2016-11-17 12:15] miripiruni commented on #367
Fixed

[2016-11-17 12:15] #367 closed

[2016-11-17 15:01] tadatuta commented on #362
We talked with @collapsus and decided it should be enough to add just `js()` mode which is widely used for blocks with models, i.e. the list of modes in BEMTREE should be following:
* `def()` + `extend()`, `replace()` and `wrap()` helpers
* `content()`
* `js()`

[2016-11-17 15:22] miripiruni commented on #362
@tadatuta can you show example of `js()` usage?

[2016-11-18 08:09] collapsus commented on #362
not for models
[code]

for models
[code]

[2016-11-22 10:39] Maksimenka opened #383 "&lt;!DOCTYPE html&gt;"
Экранируются кавычки в  поле doctype, как я понимаю так быть не должно. Данная ситуация наблюдается с версии 8.х bem-xjst.
Сори за ссылку, так и не понял как ее тут укоротить.
https://bem.github.io/bem-xjst/?bemhtml=block(%27page%27)(%0D%0A%0D%0A%20%20%20%20wrap()(function()%20%7B%0D%0A%20%20%20%20%20%20%20%20var%20ctx%20%3D%20this.ctx%3B%0D%0A%20%20%20%20%20%20%20%20this._nonceCsp%20%3D%20ctx.non

[2016-11-22 10:44] miripiruni commented on #383
https://goo.gl/hSqstF

См. документацию: [Если вам нужно вывести строку без экранирования…](https://github.com/bem/bem-xjst/blob/master/docs/ru/3-api.md#%D0%AD%D0%BA%D1%80%D0%B0%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)

[2016-11-22 10:44] #383 closed

[2016-11-22 10:48] Maksimenka commented on #383
Я исходил из готовых решений библиотеки, bem-core, итог, со старта такой баг.

[2016-11-22 10:50] miripiruni commented on #383
@Maksimenka тогда откуда такой код как у тебя? Вот [исходники bem-core](https://github.com/bem/bem-core/blob/v3/common.blocks/page/page.bemhtml.js#L4). И там есть обвязка `{ html: … }`.

[2016-11-22 10:58] Maksimenka commented on #383
Видимо отсюда: https://github.com/bem/bem-components/blob/v4/bower.json

[2016-11-22 10:59] miripiruni commented on #383
@tadatuta посмотри, пожалуйста.

[2016-11-22 11:23] yar-usenko commented on #383
bem-components еще не потдерживает bem-xjst 8.х
https://github.com/bem/bem-components/issues/1942

[2016-11-22 11:24] miripiruni commented on #383
@tadatuta может написать об этом явно прямо в Readme?

[2016-11-22 11:57] tadatuta commented on #383
Я скорее хочу таки сделать поддержку bem-xjst 8.

[2016-11-22 11:58] miripiruni commented on #383
@tadatuta там много работы осталось? Можешь оценить в часах?

[2016-11-22 14:39] miripiruni opened #384 "Runtime lint: For safety: modifiers value should be String type"
For safety: modifiers value should be String type. In BEMJSON and in template. If not so - we must warn you. Compare sandbox example in v6.x and v7.x https://goo.gl/auhOOV

[2016-11-22 14:40] tadatuta commented on #383
чистого времени — немного, но реально доберусь не раньше, чем на выходных

[2016-11-23 11:08] miripiruni commented on #380
Fixed in v4.4.1

[2016-11-23 11:08] #380 closed

[2016-11-28 01:43] #364 closed

[2016-11-28 08:42] tadatuta opened #385 "Provide arguments for extend() mode"
Not it's impossible to use `extend()` with arrow functions because there's no arguments provided.
See https://goo.gl/DeCuG5

[2016-11-28 15:47] #385 closed

[2016-11-28 15:54] miripiruni commented on #385
Released as bem-xjst@8.4.1

[2016-12-02 12:19] #366 closed

[2016-12-02 12:43] miripiruni commented on #366
<img width="881" alt="screen shot 2016-12-02 at 15 42 29" src="https://cloud.githubusercontent.com/assets/144537/20834367/002780e8-b8a6-11e6-8d95-7ab8dd456271.png">

[2016-12-05 08:57] miripiruni opened #389 "Online demo: get parameters for version"
In online demo we need to be able save in URL version and engine of current demo state.

[2016-12-05 09:23] miripiruni opened #390 "Docs: update readme.md"
Current README.md is outdated.

We need at least:
 - [ ] add [features](https://github.com/bem/bem-xjst/blob/master/docs/en/1-about.md#features)
 - [ ] add links to benckmark readme, runtime lint readme, release notes and etc
 - [ ] Browser and server support
 - [ ] Little example
 - [ ] Simple benchmark demo
 - [ ] Who use this?
 - [ ] Alternatives or concurents?
 - [ ] etc…

[2016-12-06 12:44] miripiruni commented on #230
Fixed. Thanks @mikhailrojo

[2016-12-06 12:44] #230 closed

[2016-12-06 13:19] miripiruni opened #392 "Online demo: allow user to set compile options"

[2016-12-06 16:34] #390 closed

[2016-12-07 19:22] #320 closed

[2016-12-08 13:50] #362 closed

[2016-12-10 12:41] miripiruni opened #394 "Wrong position with replace()"
Case: https://goo.gl/6Ikbim

[2016-12-12 09:08] #394 closed

[2016-12-15 06:39] mikhailrojo commented on #231
то есть подразумевается добавление вот этого пакета в общую сборку?
https://github.com/enb/enb-bem-i18n

[2016-12-15 11:13] miripiruni commented on #231
Нет. Как я уже писал тебе в Telegram:

<img width="449" alt="screen shot 2016-12-15 at 14 04 51" src="https://cloud.githubusercontent.com/assets/144537/21221702/7f2e7dd2-c2cf-11e6-88dc-3dfdfafb1636.png">

Цель, которую хочется достичь этой задачей весьма невеликая — уметь исполнять в песочнице код, который скопипастили из реального проекта, где есть I18N.

Нужно просто научить демо исполнять что-т

[2016-12-25 14:19] tadatuta commented on #181
this is quite annoying when using `extend` mode :(

[2017-01-07 15:03] miripiruni opened #397 "Docs: add description about exportName and engine"
See https://github.com/bem/bem-xjst/blob/master/lib/compiler.js#L16

[2017-01-09 16:08] tadatuta opened #399 "Wrong html field handling in BEMTREE"
### Input code or something about issue background

There's no way to keep unescaped markup when using `BEMHTML.apply(BEMTREE.apply())`.

### Expected Behavior
[code]
### Actual Behavior
[code]
### Possible Solution

This [piece of code](https://github.com/bem/bem-xjst/blob/master/lib/bemxjst/index.js#L280-L288) should only be applied to BEMHTML and not to BEMTREE.

### Your Environment

bem-xjst

[2017-01-09 16:08] tadatuta commented on #399
// cc @gela-d

[2017-01-10 10:13] #399 closed

[2017-01-10 11:44] remnev commented on #309
Guys, let's resurrect this issue. We encountered this problem again.

[2017-01-10 11:47] miripiruni commented on #309
@remnev can you show your usecase please?

[2017-01-10 11:52] golyshevd commented on #309
[code]

[2017-01-10 11:59] remnev commented on #309
For example, I have a mode, which returns some data or nothing. Depends on it I want to output different content.
[code]

[2017-01-10 12:00] miripiruni commented on #309
@remnev thanks.

[2017-01-11 11:05] miripiruni commented on #231
Fixed by @mikhailrojo

[2017-01-11 11:05] #231 closed

[2017-01-11 11:20] miripiruni commented on #357
Won’t fix, see https://github.com/bem/bem-xjst/pull/358#issuecomment-259410469

[2017-01-11 11:20] #357 closed

[2017-01-15 14:46] mikhailrojo commented on #240
А какую длину брать too long? то есть сейчас у нас все параметры сохраняются в строке в формате urlencoded
https://bem.github.io/bem-xjst/?template=block('link')(%0A%20%20%2F%2F%20Default%20tag%...

и нужно все что идет после знакак вопроса, перекодировать в base64/gzip? и соответсенно новое значение сохранять в строке браузера?

[2017-01-16 11:33] miripiruni commented on #240
@mikhailrojo

нужно проверить начиная с какой длинны урла (которая зависит от количества кода в текстариях) гугл шорткатер отвечает ошибкой.

Скорее всего нужно проверять длину урла, и если она превышает порог выявленный в предыдущем пункте, то весе get-параметры (всё, что после знака вопроса) заменять на что-то вроде `gziped=blah`. А в демо написать логику, что если есть такой параметр `gziped`,

[2017-01-18 12:50] #49 closed

[2017-01-18 12:50] #353 closed

[2017-01-18 12:58] miripiruni opened #404 "Optimize bundle size"

[2017-01-25 14:17] miripiruni opened #407 "Use bem-xjst in Node.js without bundling via browserify"

[2017-01-27 12:23] miripiruni commented on #49
v7.7.0 and v8.6.0

[2017-01-28 18:37] tadatuta opened #408 "compile method of template instance should return itself"
[code]

### Expected Behavior

`compile()` method of template instance should return itself

### Actual Behavior

returns `undefined`

[2017-01-28 18:37] tadatuta commented on #408
cc @zxqfox

[2017-01-28 18:55] zxqfox commented on #408
Yeah, it looks like inconcistency between compiles.

[2017-02-01 20:25] #407 closed

[2017-02-01 20:25] #408 closed

[2017-02-15 09:07] ilyar opened #413 "Share link - bug - ранее созданная ссылка работает с ошибкой"
### Input code or something about issue background

Ранее созданная ссылка (Share link) работает с ошибкой, не вставляется шаблон.

**Share link**
`https://goo.gl/w4vq0a`

**Data**
`https://miripiruni.github.io/bem-xjst/?bemhtml=&bemjson=(%7B%0A%20%20tag%20%3A%20%27div%27%2C%0A%20%20attrs%20%3A%20%7B%0A%20%20%20%20id%20%3A%20%27anchor1%27%2C%0A%20%20%20%20name%20%3A%20%27BEM%27%2C%0A%20%20%7D%2C%0

[2017-02-15 09:14] miripiruni commented on #413
@ilyar примерно сюда https://github.com/bem/bem-xjst/blob/gh-pages/common.blocks/demo/demo.js#L90

Мы изменили имя параметра с BEMHTML на templates, потому что появилась возможность писать BEMTREE шаблоны. Нужно поддержать оба имени параметра.

[2017-02-15 09:52] ilyar commented on #413
Понял, буду смотреть, уточнил данные (сейчас происходит подмена оригинальных данных).

[2017-02-15 11:35] #413 closed

[2017-02-15 11:49] miripiruni commented on #413
@ilyar кстати, обрати внимание, что в тексте этого issue у тебя ссылка на https://miripiruni.github.io/bem-xjst — а это мой форк, а не официальная песочница https://bem.github.io/bem-xjst. Мой фокр отстал и я вообще его удалю за ненадобностью.

[2017-02-15 12:05] ilyar commented on #413
учту, спасибо.

[2017-02-16 13:45] #404 closed

[2017-02-17 09:47] miripiruni commented on #181
@tadatuta can’t reproduce in v8.x

[2017-02-17 09:51] miripiruni commented on #203
Hardcode :)

[2017-02-17 09:52] #309 closed

[2017-02-17 10:40] #181 closed

[2017-02-17 11:54] miripiruni commented on #181
Fixed in v8.5.0 via commit https://github.com/bem/bem-xjst/commit/70cfeb51c6#diff-a30c5c85232865c509b331edfca9e65bR43

[2017-02-17 12:15] miripiruni commented on #286
Since we want to reduce bundle size and https://github.com/bem/bem-xjst/pull/382 it’s not actual any more.

[2017-02-17 12:15] #286 closed

[2017-02-17 12:17] miripiruni commented on #199
1. Someday we mark `this.extend` as deprecated.
2. You can start using `Object.assign` today.

[2017-02-17 12:17] #199 closed

[2017-02-20 10:47] hcodes opened #417 "Thin core for BEMJSON"
Для клиентских скриптов хотелось бы иметь легковесную версию для генерации HTML из BEMJSON без шаблонов и в виде отдельного пакета.

[2017-02-20 10:53] miripiruni commented on #417
@hcodes не уверен что ты называешь «легковесной версией», но сейчас можно сгенерировать runtime core с помощью метода `generate`. См. раздел [создание бандла](https://github.com/bem/bem-xjst/blob/master/docs/ru/3-api.md#%D0%A1%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B1%D0%B0%D0%BD%D0%B4%D0%BB%D0%B0). Если не передавать аргументов, то шаблонов не будет как ты хочешь.

[2017-02-20 11:08] miripiruni commented on #417
Обсудили еще раз но телефону. Идея такая: сделать вариант движка без возможности добавлять шаблоны, но с наименьшим объёмом кода.

[2017-02-20 11:40] tadatuta commented on #417
https://github.com/floatdrop/bemjson-to-html

[2017-02-20 11:42] miripiruni commented on #417
@tadatuta cool! But definitely we need more tests

Compare:
1) https://github.com/floatdrop/bemjson-to-html/tree/master/test
2) https://github.com/bem/bem-xjst/tree/master/test (see `bemjson-*` filenames)

[2017-02-22 11:23] miripiruni opened #418 "Match must have an argument"
### Input code or something about issue background

https://goo.gl/kmH8K0

[code]
[code]

### Expected Behavior

`Error: .match() must have argument`

### Actual Behavior

`<div class="b">2</div>`

//сс @yalovek

[2017-02-23 00:00] Yeti-or opened #420 "Runtime lint: mods and elemMods must be string or number or boolean"
for example I was confused with all bem* formats and write something like that:
[code]
I will get `<div class="popup popup_theme_normal,action"></div>`

In big project I can even don't notice this mistake.

What about dev and production build of bem-xjst?
So in dev I will get Error about wrong format of bemjson Node.

Or you have already have such solution? If so, why not include it in bem-xjst de

[2017-02-23 00:29] miripiruni commented on #420
@Yeti-or use runtimeLint option https://github.com/bem/bem-xjst/tree/master/runtime-lint

I’ll add you case to check list. `mods` and `elemMods` must be `string` or `number` or `boolean`.

[2017-02-23 03:02] Yeti-or opened #421 "attrs mod doesn't get block context"
https://goo.gl/jHqyY4

In bemjson attrs values we could use other entities:
[code]
but elems don't behave as in other modes (content, mix)

[2017-02-24 10:12] Yeti-or commented on #420
@miripiruni does demo bem.github.io/bem-xjst run with runtime lint option?

[2017-02-27 08:05] #418 closed

[2017-02-27 08:21] miripiruni commented on #420
@Yeti-or No. In the demo you can not choose options. [PRs](https://github.com/bem/bem-xjst/issues/392) are welcome ;)

[2017-03-07 20:05] golyshevd opened #422 "appendContent/prependContent escapes html"
bemjson
[code]

bemhtml
[code]

result
[code]

Live example https://goo.gl/5wXovY

---------

guess appendContent/prependContent is just sugar for `content` + `applyNext`, but this behaviour is unexpected

[2017-03-07 20:10] Yeti-or opened #423 "no documentation about templating values inside attrs hash"
You could do this, but this is undocumented, and I couldn't find test for this API. So
what about drop it??

[code]

[2017-03-07 20:38] miripiruni commented on #423
Why it’s important for you?

[2017-03-12 16:02] Yeti-or commented on #423
@miripiruni It's important because it is undocumented =)
but for me, because of this project: https://github.com/bem-sdk/bemjson-to-decl

[2017-03-13 09:47] miripiruni commented on #422
BTW, in this case you don’t need use arrow function at all.

[code]

I detect that bug exists only with arrow function…

[2017-03-13 18:37] zxqfox commented on #422
Same with usual functions: https://goo.gl/82s0Hr

[2017-03-13 19:59] miripiruni commented on #422
@zxqfox of course. And [I fixed it already](https://github.com/bem/bem-xjst/pull/425/files#diff-66d1c3a97e2c7875ecf077e0089d5b27R53).

[2017-03-14 09:13] #422 closed

[2017-03-20 16:04] miripiruni opened #431 "Throw error of warning on several block subpredicates"
[code]

[2017-03-20 16:06] miripiruni commented on #431
Need tests for cases such as `block('a').mod('m1', 'v1').mod('m2', 'v2')…`

[2017-03-20 19:26] #375 closed

[2017-03-22 15:51] arikon commented on #417
Closed in favor of https://github.com/floatdrop/bemjson-to-html

[2017-03-22 15:51] #417 closed

[2017-03-28 13:26] SlNPacifist opened #433 "Possible memory leak in Match.exec() in 4.x branch"
Here is current 4.x exec function:
[code]

In some cases `checkDepth` increases `this.maskOffset`, but `restoreDepth` is not called afterwards, since no match was found.
This leads to increasing of `this.maskOffset` and `this.mask` array.

[2017-04-17 18:24] #433 closed

[2017-04-17 20:55] miripiruni commented on #431
We have three options:

1) Throw error only in case of block in block case (`block('a').block('b')… or block('a')(block('b')…)`) (see my commit https://github.com/bem/bem-xjst/commit/e7c5cb1abf0ef715b66f19992426faf958621da1)
2) Throw error in any necessary case: `tag().tag()…`, `mix().mix()…`, `attrs().attrs()…`, `js().js()…`, `content().content()…`, etc
3) Do not throw errors but introduce static

[2017-04-17 22:01] miripiruni commented on #203
@zxqfox эм, чот я подзабыл, в чем именно баг-то?

[2017-04-17 22:29] zxqfox commented on #203
В том, что у тебя есть 3 блока на входе, а на выходе шаблон применяется только к одному, потому что this не очищается.
Может быть это даже мы специально не хотели чинить, потому что это типа медленно. Но сейчас мы же можем как-то проверить насколько оно проседает?
Может быть MutationObserver повесить на this? Или хотя бы в дебаг режиме ругаться на такое, а само поведение оставить как есть?

[2017-04-18 10:01] JiLiZART opened #438 "Any ways to extend syntax?"
Is there any ways to add your own syntax functions?

e.g. if i have idea of some sort iteration support

template
[code]

for data
[code]

Or only way is to PR this feature in core code?

[2017-04-18 11:02] miripiruni commented on #438
@JiLiZART I do not understand why you need `eachOf()`. bem-xjst have built-in tree traversal.

Example: https://goo.gl/4NBAvL

[2017-04-18 11:34] miripiruni commented on #203
А, собственно, на основании чего контекст должен очищаться?

1. Шаблон по звездочке  матчится на первый блок 'a'
2. выставляется this._qweqweqwe.
3. Вызывается applyCtx({ … })
4. Вызывается дефолтный def(), так как есть `return applyNext();` Шаблонизируется первый блок 'a' как обычно.
5. Второй и третий блок 'a' не матчатся так как есть проверка на falsy this._qweqweqwe.

[2017-04-18 11:40] zxqfox commented on #203
По определению, Слав) а логика, которую ты расписал, еще имеет шаг почистить контекст для поддерева

[2017-04-18 12:28] #438 closed

[2017-04-18 23:31] zxqfox commented on #203
@miripiruni Когда я создавал задачу, кстати, мне казалось, что это надо чинить, но кажется, что не обязательно.

Я точно помню, что мы это не раз обсуждали, поднимал вопрос @tadatuta, несколько раз кажется для bemtree, но в итоге остановились на том, что это бьёт в производительность.

Еще кажется, что достаточно будет какого-то режима для отладки. Или даже не нужен он, тогда можно закрыть

[2017-04-19 09:45] miripiruni commented on #203
@zxqfox см https://github.com/bem/bem-xjst/pull/436/commits/80ff3c1913a535f5e1bbe6fca0248649d8d9e025

[2017-04-19 09:50] #203 closed

[2017-04-19 15:36] veged commented on #431
let's do this through static check

[2017-04-20 11:19] miripiruni opened #439 "Strange bug with array in attrs"
https://goo.gl/Tz3oeD

v6.x
v7.x
v8.x

[2017-04-20 19:20] #202 closed

[2017-04-21 12:52] tadatuta opened #441 "Add `i-bem` class when mixed element has `js: true` with `elemJsInstances: true`"
### Input code or something about issue background

[code]

### Expected Behavior

[code]

### Actual Behavior

[code]
(no `i-bem` class).

bem-xjst version and all relevant details
`bem-xjst 7.x / 8.x`, with `elemJsInstances: true`

[2017-04-24 11:51] #397 closed

[2017-04-24 14:13] miripiruni commented on #439
cc @vithar @tadatuta

[2017-04-26 15:28] zxqfox opened #444 "Short syntax for simple modes"
Before:
[code]

After:
[code]

Before:
[code]

After:
[code]

Complex cases gonna be like this.

Before:
[code]

After:
[code]

Some cases gonna be only in old syntax:
[code]

[2017-04-26 17:14] veged commented on #444
I can't agree

[2017-04-26 17:53] zxqfox commented on #444
After (using all existing features in 8.x
[code]

[2017-04-28 09:32] #439 closed

[2017-04-28 09:32] #441 closed

[2017-04-28 13:08] miripiruni commented on #433
Also this fix is released in v8.6.10

[2017-05-02 13:56] #356 closed

[2017-05-10 15:57] miripiruni commented on #147
Closed in favor of #241

[2017-05-10 15:57] #147 closed

[2017-05-10 16:04] miripiruni opened #449 "Bench: support v8.x"

[2017-05-10 21:55] tadatuta opened #450 "Do not repeat same class for the same block"
## Case 1

### Input code or something about issue background
BEMJSON
[code]

### Expected Behavior
[code]
### Actual Behavior
[code]

## Case 2

### Input code or something about issue background
BEMJSON
[code]

Template
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]
bem-xjst version and all relevant details
8.5.2

[2017-05-11 16:03] zxqfox opened #451 "Escaping values in modifiers in block/elem names"
### Input code or something about issue background
https://goo.gl/0W8Ce5

и
[code]

### Expected Behavior
Modifiers safely escaped

### Actual Behavior
HACKED

### Possible Solution
Escape or trim insecure characters in mod values, warn about insecure mod values in dev mode

### Your Environment
Any bem-xjst version

[2017-05-11 16:05] miripiruni commented on #451
:(

[2017-05-11 17:28] zxqfox commented on #451
fixed

[2017-05-12 12:19] miripiruni commented on #451
`block` name, `elem` name, `mod` name and values are trusted fields. These fields must be checked by the developer. Not by bem-xjst.

Developers must clearly know what data provided to `block`, `elem` and `mods` fields. If the data is user generated content then developer must escape it manually.

[2017-05-12 12:19] #451 closed

[2017-05-12 12:21] miripiruni commented on #451
We can rearange this issue to «Runtime lint: check insecute block, elem, mod values in dev mode» if you provide cases.

We already have checks [for wrong naming](https://github.com/bem/bem-xjst/blob/master/runtime-lint/stand.js#L67-L79).

[2017-05-12 13:21] zxqfox commented on #451
-1

ok ;-)

[2017-05-15 20:25] belozer opened #452 "Добавить информацию о версии bemxjst"
Заметил, что в доке https://ru.bem.info/platform/bem-xjst/templates-syntax/ есть много примеров с `bemxjst@v8`, но вот только что это доступно начиная с 8-й версии нигде не заметил. Это вводит многих в заблуждение. Приходится пояснять, почему данный синтаксис не работает в 7-й версии.

--------------------------
Для того, чтобы добавить attrs, вы можете использовать режим addAttrs(), который являе

[2017-05-15 21:46] miripiruni commented on #452
@vithar @tadatuta я вам говорил, что на bem.info невозможно понять на документацию какой версии смотришь. У вас есть таск в bem.info про это?

[2017-05-22 13:18] #449 closed

[2017-05-22 13:34] miripiruni commented on #452
@belozer я закрыл этот issue и перенес его в трекер задач bem.info, который не доступен публично.

[2017-05-22 13:34] #452 closed

[2017-05-29 10:39] belozer opened #460 "Баг или нормальное поведение у match"
bemjson
[code]
bemhtml
[code]

HTML
[code]

В content элемента `s` ничего не добавилось.
Если матчится на mod, то всё норм.

[code]

HTML
[code]

[2017-05-29 10:40] belozer commented on #460
//cc @miripiruni

[2017-05-29 11:07] zxqfox commented on #460
`block('link').match((node, ctx) => ctx.a).elem('s')(...)` эквивалент `block('link').elem('s').match((node, ctx) => ctx.a)(...)` — в каком контексте запускается?
`block('link').mod('a').elem('s')(...)` — и что проверяет `mod` (не `elemMod`)?

[2017-05-29 11:15] miripiruni commented on #460
@belozer я не понял твоего вопроса:

Потому что в контент элемента `s` добавился блок `c`. Я это вижу [в песочнице](https://goo.gl/AyGnwW).

Ты можешь сформировать минимальный пример кода и сформулировать вопрос в стандартном виде: сделал то-то, ожидал получить то-то, но получил вот это…

[2017-05-29 12:14] zxqfox commented on #460
@belozer В общем, ошибка в твоем коде, bem-xjst правильно отработал. Ты сам это поймешь, когда разберешься с указанными мной строчками. :-)

И спасибо за бдительность!

[2017-05-29 12:15] miripiruni commented on #460
какая ошибка?

[2017-05-29 12:16] miripiruni commented on #460
Вообще на такие случаи всяких непонятных комбинаций шаблонов всегда рекомендую использовать `console.log`, чтобы понять кто-кого переопределил, и кто в каком порядке отрабатывает.

[2017-05-29 13:04] zxqfox commented on #460
Я сверху же написал :-)

ctx.a находится у блока, а проверяется у элемента

[2017-05-29 14:05] belozer commented on #460
@zxqfox да, вроде дошло :+1:  спасибо за разъяснение :)

[2017-05-29 15:38] #460 closed

[2017-05-30 22:56] zxqfox opened #461 "generate method is broken"
In v7:
[code]

In v8:
[code]

But at the same time:
[code]

Perhaps it should not work like this and put `bemhtml` variable into the `global`.

I've made a PR for testing CJS: https://github.com/bem/bem-xjst/pull/457

[2017-06-06 21:47] tadatuta opened #465 "Simplify support for templates as commonJS files"
Now to use templates in commonJS format one must:
1. Provide all the methods listed in `BEMXJST.prototype.locals` in exactly the same order to exported function
2. Make first empty call of `compile` as first template is always considered to be string

E.g.
[code]

Let's support possibility to call template function with just one object argument having all needed methods so it could be used like th

[2017-06-20 15:24] vitkarpov opened #466 "The latest version of lib within online demo"
Seems online demo has [hardcoded list of versions](https://github.com/bem/bem-xjst/blob/gh-pages/desktop.bundles/index/index.bemjson.js#L47-L71), right? It would be better to have some script to get some fresh versions automatically (in runtime or during the build maybe).

[2017-06-21 10:32] vitkarpov commented on #466
I've found `update.sh`, it does all the job. Sorry!

[2017-06-21 10:32] #466 closed

[2017-06-22 09:07] vitkarpov commented on #389
@miripiruni Let me make it clear a little bit a use case:

- change version and engine
- send the current url to other person
- the other person can see the same screen as I have

Is this correct?

[2017-06-22 11:18] miripiruni commented on #389
@vitkarpov yep

[2017-06-22 11:26] vitkarpov commented on #389
Okay, thanks! Then I think the bootstrap scenario should be rebuild.

**Now**

We load the latest version of engine during the first load (script right inside first html). When user picks another version from select, we load the corresponding script asynchronously and change the editors.

**Then**

We load nothing during the first load, when url parsed and we know the current version (it could be

[2017-06-22 11:38] miripiruni commented on #389
@vitkarpov I think it’s good decision. First of all we need to figure out which version and engine needed and then load it.

[2017-06-22 12:09] vitkarpov commented on #389
Super cool, trying to implement then :)

[2017-06-28 11:37] miripiruni opened #468 "Drop old Node.js support"

[2017-07-07 15:39] #389 closed

[2017-07-13 09:35] miripiruni commented on #461
Fixed in https://github.com/bem/bem-xjst/pull/457

[2017-07-13 09:35] #461 closed

[2017-07-18 11:50] #420 closed

[2017-07-18 13:18] #108 closed

[2017-07-18 13:39] #241 closed

[2017-07-21 20:21] zxqfox opened #469 "Use widely known @bem/sdk.naming for generating classes"
### Input code or something about issue background
Run in shell:
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

### Possible Solution
Usage of @bem/sdk.naming.entity.stringify

### Your Environment
[code]

[2017-07-24 09:35] miripiruni commented on #469
In current version there is no `val` option. You can choose `elem` separator and `mod` separator only.

I’m against using external libraries such as sdk.naming since we have matric for client bundle size.

[2017-07-24 09:39] miripiruni commented on #469
@zxqfox I suggest PR #470. Would you happy with that?

[2017-07-27 21:39] zxqfox commented on #469
@miripiruni Yes for now. I'll be here later when we'll finish `@bem/sdk` core modules 😼

[2017-08-03 08:18] vithar opened #472 "ul and ol end tags are NOT optional in HTML"
ul and ol marked as optional in this list:

https://github.com/bem/bem-xjst/blob/58916ebf0546ac3c84dd285ac43b9fa6bb8e5f51/lib/bemhtml/index.js#L121

But according to html spec its end tags NOT optional:

https://www.w3.org/TR/html4/index/elements.html

[2017-08-03 14:22] miripiruni commented on #472
Fixed

[2017-08-03 14:22] #472 closed

[2017-08-11 12:31] tadatuta opened #474 "runtimeLint fails with TypeError: Converting circular structure to JSON"
[code]
[schedule.bemhtml.js.html.zip](https://github.com/bem/bem-xjst/files/1217810/schedule.bemhtml.js.html.zip)

// cc @Realetive

[2017-08-11 12:41] miripiruni commented on #474
What steps to reproduce that error?

[2017-08-11 12:44] miripiruni commented on #474
bem-xjst version?

[2017-08-11 12:50] miripiruni commented on #474
Obviously that error from `JSON.stringify` which is not working with circular structure in JSON.

[2017-08-11 17:28] Realetive commented on #474
@miripiruni bem-xjst@8.6.7

[2017-08-11 17:31] Realetive commented on #474
How can I exclude to use it in the future? Because I have not this problem while `runtimeLint` was disabled.

[2017-08-14 10:33] miripiruni opened #475 "API for custom error logger"
Something like this:

[code]

@sbmaxx

[2017-08-14 10:33] miripiruni commented on #475
https://nda.ya.ru/3TKN4F

[2017-08-14 20:40] tadatuta commented on #474
@miripiruni looks like it's in https://github.com/bem/bem-xjst/blob/master/runtime-lint/index.js#L68 (and bellow)

[2017-08-15 14:14] zxqfox commented on #474
Use `util.inspect` for the justice!

[2017-09-26 17:36] #475 closed

[2017-09-26 17:50] #469 closed

[2017-09-27 22:51] belozer opened #479 "Sugar for not installed modifiers"
before
[code]

after
[code]

[2017-10-11 15:32] zxqfox opened #482 "Modifier templates does not apply"
### Input code or something about issue background

https://goo.gl/Xm3cWQ

[code]

Feels like it's too late but looks like a bug or useless sugar and we should fix that (modifier templates should apply).

### Expected Behavior

`'YES'`

### Actual Behavior

`'NO'`

### Possible Solution

Apply mods/addMods BEFORE def mode?

### Your Environment

latest bem-xjst

cc @Yeti-or @awinogradov

[2017-10-11 15:59] miripiruni commented on #482
Today’s version bem-xjst have hierarchy of modes. `def()` mode is "first class" mode. The rest modes are "second class" modes. It means if a `def()` template has been defined other templates was not applied.

In your example https://goo.gl/Xm3cWQ you would get `'YES'` if BEMJSON would be `{ block: 'a', mods: { m: true } }`.

[2017-10-11 16:14] zxqfox commented on #482
Yep, but we think this is wrong.

[2017-10-20 09:01] sbmaxx commented on #482
Any progress here?

[2017-10-20 10:15] miripiruni commented on #482
who are "we"?

[2017-10-20 10:16] awinogradov commented on #482
Look at the likes ;)

[2017-10-23 15:27] miripiruni opened #484 "Wrap should save BEMContext"
After [commit](https://github.com/bem/bem-xjst/commit/578c89a204cf79ad54f2ef360e03792e8f95cebf) `wrap()` have a degradation.

https://goo.gl/tTb2yZ

cc @tadatuta

[2017-10-24 12:05] #484 closed

[2017-10-25 23:57] zxqfox opened #487 "Throw on apply undefined modes"
### Input code or something about issue background

Since: https://github.com/bem/bem-xjst/commit/9d230c552f0f5fd46cf2a8f90f7ed987c4391836
Because of: https://github.com/bem/bem-xjst/blob/master/lib/bemxjst/index.js#L519

https://goo.gl/2Nx5M1
[code]
[code]

### Expected Behavior

Unknown mode exception

### Actual Behavior

[code]

### Possible Solution

Throw somewhere here: https://github.com/b

[2017-10-26 23:04] miripiruni commented on #487
Fixed in #488

[2017-10-26 23:04] #487 closed

[2017-10-29 10:39] belozer opened #489 "bem-xjst v7.x extend mods bug"
input bemjson
[code]

template

[code]

output (bemtree v7.x)
[code]

output (bemtree v8.x)
[code]

In bemtree v7.x, mods not extended (but content works).

[2017-10-29 10:41] belozer commented on #489
@miripiruni

[2017-10-29 12:39] zxqfox commented on #489
Use 8.x © Cap

[2017-10-30 10:47] miripiruni commented on #489
@belozer I think it’s because extend() [was fixed](https://github.com/bem/bem-xjst/issues/180) in v8.3.1.

Can you say exactly which version is "v7.x"? )

[2017-10-30 18:30] miripiruni commented on #489
Please reopen issue if it’s still make sense.

[2017-10-30 18:30] #489 closed

[2017-10-30 23:56] belozer commented on #489
@miripiruni 7.6.4

@zxqfox there is no possibility

[2017-10-30 23:58] belozer commented on #489
The bug is not critical for us, at a cost in other ways.

[2017-10-30 23:59] miripiruni commented on #489
@belozer we can port [commit](https://github.com/bem/bem-xjst/pull/363/files) to v7.x if it’s important.

[2017-10-31 10:39] belozer commented on #489
@miripiruni ok ;)

[2017-11-06 11:04] tenorok commented on #444
Such syntax is most clear in my opinion.
It's similar to the standard syntax of classes, object literal and `i-bem` in the end. It will be good highlighted in the editor and not to be confused developers. By the way, the possibility of different grouping of modes is unnecessary, because leads to many various syntax in project and big meaningless difference in commits.

[2018-01-09 15:12] miripiruni commented on #444
I have been trying to program such shortcuts.

In general, my changes is:
1. If last part of chain contain `Object` then try to iterate by it’s keys.
2. All keys will be modes and values will be template bodies.

Example 1:

with shortcut:
[code]

without shortcut:
[code]

with shortcut:
[code]

without shortcut:
[code]

Now we have such templates:

`block('b').addMods()({ first: 'yes' })`

Curren

[2018-01-11 20:05] veged commented on #444
I suggest `2'.` — «Break chain on "mode" subpredicate and do not allow shortcuts further.»

[2018-01-16 16:27] tadatuta opened #495 "wrap() mutates bemjson which can lead to error for second run for same input data"
### Input code or something about issue background

[code]

**Important!**
1. bemjson should be passed by reference
2. the same instance of compiled template should be used

### Expected Behavior

[code]

### Actual Behavior

[code]

### Your Environment

Any version of `bem-xjst` with `wrap()` support.

// cc @vithar

[2018-01-16 17:03] miripiruni commented on #495
The same issue with `extend()`:

[code]

[2018-01-16 17:08] miripiruni commented on #495
@tadatuta I see only one solution: copy bemjson to a new object in first line of `bemhtml.apply()`. Is it OK?

[2018-01-23 23:23] zxqfox commented on #495
Prob if we can't fix this, we can deny this.

### Actual Behavior

[code]